::selection {
  background-color:#0575E6;
  color: #fff;
}
::-moz-selection {
  background-color:#0575E6;
  color: #fff;
}

a:hover {
  color:#0575E6;
}

a,
.theme-color,
.mm-column li.mm-header > a,
.mm-column li:not(.mm-header) a:hover,
.btn-t-white:hover,
.btn-white {
  color:#145DFF;
}


.theme-before:before,
.theme-after:after,
.btn-theme,
.btn-white:hover,
.theme-hover:hover,
.owl-nav > div,
.theme-bg {
  background-color: #145DFF;
}
.btn-theme:hover{
  background-color: #1333ad;
}

.btn-themew,
.themew-after:after,
.themew-bg {
  border: 1px solid #145DFF;
  background-color: white;
  color: #145DFF;
}
.shado-blu {
  -webkit-filter: drop-shadow(3px 3px 3px #145DFF);
  filter: drop-shadow(3px 3px 3px #145DFF);
}
.btn-themew:hover{
  border: 1px solid white;
  background-color: #145DFF;
  color: #ffffff;
}

.btn-themeg,
.themeg-after:after,
.themeg-bg {
  font-size: 20px;
  background-color: #fd9726;
  color: #ffffff;
}
.btn-themeg:hover{
  background-color: #d37e20;
  color: #ffffff;
}
.shado-org {
  -webkit-filter: drop-shadow(3px 3px 3px #f7b500);
  filter: drop-shadow(3px 3px 3px #f7b500);
}

.btn-themewh,
.themewh-after:after,
.themewh-bg {
  border: 1px solid white;
  background-color: white;
  color: #145DFF !important;
}
.btn-themewh:hover{
  border: 1px solid white;
  background-color: #114ed7;
  color: #ffffff !important;
}

.btn-themep,
.themep-after:after,
.themep-bg {
  border: 1px solid white;
  background-color: white;
  color: #b0161d !important;
}
.btn-themep:hover{
  border: 1px solid white;
  background-color: #b0161d;
  color: #ffffff !important;
}
.shado-pin {
  -webkit-filter: drop-shadow(3px 3px 3px #ea2175);
  filter: drop-shadow(3px 3px 3px #ea2175);
}

.btn-themegr,
.themegr-after:after,
.themegr-bg {
  background-image: linear-gradient(to right, grey, grey);
  color: #ffffff;
}
.btn-themegr:hover{
  background-image: linear-gradient(to right, grey, grey);
  color: #ffffff;
}
.shado-gre {
  -webkit-filter: drop-shadow(3px 3px 3px grey);
  filter: drop-shadow(3px 3px 3px grey);
}



.price-table-01.active,
.border-color {
  border-color: #0575E6 !important;
} 

.theme-color-g {
  background: linear-gradient(to right, #0575E6, #0575E6);
  /* -webkit-background-clip: text; */
  -webkit-text-fill-color: transparent;
}

@media(max-width: 767px){
  .btn {
    margin-top: 10px;
  }
  .btn-themewh {
    font-size: 12px !important;
  }
}