<!doctype html>
<html lang="id">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!--start-->
    <meta name="author" content="Assist.id" />
    <meta name="google-site-verification" content="xaSOGYCxjaipS36lfuwWGfrYHzGC9D7SKHFztiC7HK0" />
    <meta name="keyword" content="assist.id, software, klinik rumah sakit, puskesmas, manajemen klinik">
    <meta name="description" content="Upgrade faskes anda sekarang. Gunakan Software Assist.id, harga terjangkau, dan tersedia modul lengkap untuk faskes anda!">
    <meta property="og:site_name" content="Assist.id" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Assist - Software Klinik Praktek Dokter, Rumah Sakit Online Indonesia" />
    <meta property="og:url" content="https://www.assist.id" />
    <meta property="og:description" content="Upgrade faskes anda sekarang. Gunakan Software Assist.id, harga terjangkau, dan tersedia modul lengkap untuk faskes anda!" />

    <!--end-->

    <title>404 - Assist.id</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/apple-icon.png">

    <!-- Plugin CSS -->
    <link href="/static/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/plugin/font-awesome/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="/static/plugin/et-line/style.css" rel="stylesheet">
    <link href="/static/plugin/themify-icons/themify-icons.css" rel="stylesheet">
    <link href="/static/plugin/owl-carousel/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/static/plugin/magnific/magnific-popup.css" rel="stylesheet">
    <!-- End -->


    <!-- Theme css -->
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/color/default.css" rel="stylesheet" id="color_theme">
    <!-- End -->


</head>
<body>

<div id="notfound">
    <div class="notfound">
        <div>
            <img class="shil" src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/q.png" alt="colorful question mark">
        </div>
        <h2>HALAMAN TIDAK DITEMUKAN</h2>
        <p>Halaman yang Anda cari tidak ditemukan, silahkan kembali ke beranda Assist.id.</p>
        <a href="/">Beranda Assist.id</a>
    </div>
</div>

</body>
</html>