<!doctype html>
<html lang="id">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!--start-->
    <meta name="author" content="Assist.id" />
    <meta name="google-site-verification" content="xaSOGYCxjaipS36lfuwWGfrYHzGC9D7SKHFztiC7HK0" />
    <meta name="keyword" content="assist.id, software, klinik rumah sakit, puskesmas, manajemen klinik, event, event kesehatan, acara kesehatan, informasi kesehatan, digitalisasi, modernisasi klinik, sistem informasi, sistem informasi klinik, software klinik, aplikasi klinik">
    <meta name="description" content="Event kesehatan seputar Digitalisasi Faskes Indonesia dalam mengahadapi era revolusi 4.0">
    <meta property="og:site_name" content="Assist.id" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Assist.id - Software Klinik Praktek Dokter, Rumah Sakit Online Indonesia" />
    <meta property="og:url" content="https://www.assist.id" />
    <meta property="og:description" content="Event kesehatan seputar Digitalisasi Faskes Indonesia dalam mengahadapi era revolusi 4.0" />

    <!--end-->

    <title>Acara Kesehatan - Assist.id</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/apple-icon.png">

    <!-- Plugin CSS -->
    <link href="static/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/plugin/font-awesome/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="static/plugin/et-line/style.css" rel="stylesheet">
    <link href="static/plugin/themify-icons/themify-icons.css" rel="stylesheet">
    <link href="static/plugin/owl-carousel/css/owl.carousel.min.css" rel="stylesheet">
    <link href="static/plugin/magnific/magnific-popup.css" rel="stylesheet">
    <!-- End -->


    <!-- Theme css -->
    <link href="static/css/style.css" rel="stylesheet">
    <link href="static/css/color/default.css" rel="stylesheet" id="color_theme">
    <!-- End -->
    <%- include('scripts'); %>

</head>

<!-- ========== Body Starts ========== -->
<!-- Body Start -->
<body data-spy="scroll" data-target="#navbar" data-offset="98">

<!-- Loading -->
<div id="loading">
    <div class="load-circle"><span class="one"></span></div>
</div>
<!-- / -->

<!-- Header -->
<header>
    <nav class="navbar header-nav header-nav-dark navbar-expand-lg">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand" href="/">
                <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/logo.png" title="" alt="logo assist.id software klinik terbaik indonesia" style="max-height: 50px;">
            </a>
            <!-- / -->

            <!-- Mobile Toggle -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <!-- / -->
            <%- include('header'); %>
        </div><!-- Container -->
    </nav> <!-- Navbar -->

</header>
<!-- Header End -->

<!-- Main -->
<main>

    <!--
    =============================
      Contact Us
    =============================
    -->
    <section id="contatus" class="section">
        <div class="container ggrz" >
            <div class="row justify-content-center m-45px-b sm-m-25px-b">
                <div class="col-lg-9 col-md-10">
                    <div class="section-title text-center">
                        <h6 class="theme-color">Events - Assist.id</h6>
                        <h1 class="dark-color font-alt heder1">Software Klinik Assist.id dengan berbagai fitur untuk professionalitas bisnis Anda</h1>
                        <p>Assist.id memudahkan pekerjaan admisi, dokter, perawar, apoteker, dan pemilik klinik
                            dengan memberikan solusi berbagai fitur lengkap terintegrasi. Mulai dari proses pendaftaran
                            pasien, rekam medis (EMR) starndar ICD 10, stok obat, laporan, hingga hak akses bisa di Assist.id</p>
                    </div>
                    <div align="center" style="margin-top: 30px;">
                        <a class="btn btn-theme" href="/demo-software-klinik" target="_blank">Daftar Sekarang</a>  &nbsp; <label style="font-size: 12px; margin-top: auto; margin-bottom: auto;"><a href="/atur-jadwal-demo-aplikasi-klinik" target="_blank">atau atur jadwal demo di faskes Anda</a></label>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center" style="margin-top: 100px;">
                <div class="col-lg-9">

                    <div class="row event-info">
                        <div class="col-md-6">
                            <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/IDI-Pekanbaru-Acara-Pertemuan-Ilmiah-Tahunan-1-IDI-Cabang-Pekanbaru-Alumni-FK-UNRI-Angkatan-2001-bersama-Assist-id-Aplikasi-Klinik.jpeg" alt="event idi kota pekanbaru" style="max-height: 500px;" onerror="this.src='static/img/favicon/apple-icon.png'">
                        </div>
                        <div class="col-md-6">
                            <h6 class="dark-color font-alt">Event IDI Cabang Pekanbaru</h6>
                            <h5 class="dark-color font-alt">Pertemuan Ilmiah Tahunan 1 IDI Cabang Kota Pekanbaru</h5>
                            <div style="margin-top: 30px;">
                                <p class="dark-color font-alt" style="font-size: 16px"><span style="margin-right: 10px;">  <i class="theme-color ti-calendar"></i></span>30 - 31 Maret 2019 </p>
                                <p class="dark-color font-alt" style="font-size: 16px"><span style="margin-right: 10px;">  <i class="theme-color ti-location-pin"></i></span>Hotel Pangeran, Pekanbaru</p>
                                <p class="dark-color font-alt" style="font-size: 12px">Acara ini membahas secara menyeluruh permasalahan hukum dari sisi tenaga medis sekaligus update ilmu pengetahuan dari berbagai bidang ilmu spesialisasi.
                                </p>
                            </div>
                            <a href="blog.assist.id/pertemuan-ilmiah-tahunan-1-idi-cabang-pekanbaru-alumni-fk-unri-angkatan-2001-bersama-assist-id" target="_blank" class="btn btn-theme" style="margin-top: 14px">Selengkapnya</a>
                        </div>
                    </div>
                    <div class="space-mtmb50"></div>
                    <div class="row event-info">
                        <div class="col-md-6">
                            <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/event-assist-id-3-pekanbaru-annual-scientific-session-2019-pdgi-cabang-pekanbaru-software-klinik-software-terbaik.jpg" alt="event pdgi kota pekanbaru" style="max-height: 500px;" onerror="this.src='static/img/favicon/apple-icon.png'">
                        </div>
                        <div class="col-md-6">
                            <h6 class="dark-color font-alt">Event PDGI Pekanbaru</h6>
                            <h5 class="dark-color font-alt">Pekanbaru Annual Scientific Session 2019 (PASS19)</h5>
                            <div style="margin-top: 30px;">
                                <p class="dark-color font-alt" style="font-size: 16px"><span style="margin-right: 10px;">  <i class="theme-color ti-calendar"></i></span>22 - 23 Februari 2019 </p>
                                <p class="dark-color font-alt" style="font-size: 16px"><span style="margin-right: 10px;">  <i class="theme-color ti-location-pin"></i></span>SKA Co-Ex, Pekanbaru</p>
                                <p class="dark-color font-alt" style="font-size: 12px">Pekanbaru Annual Scientific Session 2019 (PASS19) diselenggarakan oleh PDGI Cabang Pekanbaru, sponsored by Assist.id
                                </p>
                            </div>
                            <a href="https://blog.assist.id/pekanbaru-annual-scientific-session-2019-oleh-pdgi-pekanbaru-bersama-assist-id/" target="_blank" class="btn btn-theme" style="margin-top: 14px">Selengkapnya</a>
                        </div>
                    </div>
                    <div class="space-mtmb50"></div>
                    <div class="row event-info">
                        <div class="col-md-6">
                            <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/poster.jpg" alt="event assist id" style="max-height: 500px;" onerror="this.src='static/img/favicon/apple-icon.png'">
                        </div>
                        <div class="col-md-6">
                            <h6 class="dark-color font-alt">Health Tech Discussion</h6>
                            <h5 class="dark-color font-alt">Digitalisasi Layanan Kesehatan Menuju Era Revolusi Industri 4.0</h5>
                            <div style="margin-top: 30px;">
                                <p class="dark-color font-alt" style="font-size: 16px"><span style="margin-right: 10px;">  <i class="theme-color ti-calendar"></i></span>Kamis, 20 Desember 2018</p>
                                <p class="dark-color font-alt" style="font-size: 16px"><span style="margin-right: 10px;">  <i class="theme-color ti-location-pin"></i></span>Prime Park Hotel, Pekanbaru</p>
                                <p class="dark-color font-alt" style="font-size: 12px">Tidak harus selalu ada di tempat, kini Anda dapat monitor aktivitas klinik dan apotek dimanapun kapanpun secara realtime.</p>
                            </div>
                            <a href="javascript:;" class="btn btn-themegr" style="margin-top: 14px">Selengkapnya</a>
                        </div>
                    </div>
                    <div class="space-mtmb50"></div>
                    <div class="row event-info">
                        <div class="col-md-6">
                            <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/km.JPG" alt="event assist id pertama" style="max-height: 500px;" onerror="this.src='static/img/favicon/apple-icon.png'">
                        </div>
                        <div class="col-md-6">
                            <h6 class="dark-color font-alt">Workshop</h6>
                            <h5 class="dark-color font-alt">Training Sistem Informasi KamarMedis</h5>
                            <div style="margin-top: 30px;">
                                <p class="dark-color font-alt" style="font-size: 16px"><span style="margin-right: 10px;">  <i class="theme-color ti-calendar"></i></span>11 - 13 Agustus 2018</p>
                                <p class="dark-color font-alt" style="font-size: 16px"><span style="margin-right: 10px;">  <i class="theme-color ti-location-pin"></i></span>Royal Asnoff Hotel, Pekanbaru</p>
                                <p class="dark-color font-alt" style="font-size: 12px">Tidak harus selalu ada di tempat, kini Anda dapat monitor aktivitas klinik dan apotek dimanapun kapanpun secara realtime.</p>
                            </div>
                            <a href="javascript:;" class="btn btn-themegr" style="margin-top: 14px">Selengkapnya</a>
                        </div>
                    </div>
                </div>
            </div>


        </div> <!-- container -->
    </section>

    <section class="subscribe-section">
        <div class="container" style="margin-top: 50px;">
            <div class="subscribe-inner box-shadow">
                <div class="row align-items-center" align="center">

                    <div class="col-md-2" align="right">
                        <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/ico-potted-plant.png" alt="icon potted plant" style="max-height: 50px;">
                    </div>
                    <div class="col-md-7" align="left">
                        <p class="cta-txt1"><span style="font-weight: bold">Tidak harus selalu ada di tempat,</span> kini Anda dapat monitor aktivitas klinik dan apotek dimanapun kapanpun secara real time.</p>
                    </div>
                    <div class="col-md-1">
                        <a class="btn btn-themewh" href="/demo-software-klinik" target="_blank">Demo Gratis</a>
                    </div>
                </div>

            </div>
        </div>
    </section>

</main>
<!-- / -->
<%- include('footer'); %>