<!doctype html>
<html lang="id">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!--start-->
    <meta name="author" content="Assist.id" />
    <meta name="google-site-verification" content="xaSOGYCxjaipS36lfuwWGfrYHzGC9D7SKHFztiC7HK0" />
    <meta name="keyword" content="assist.id, software, klinik rumah sakit, puskesmas, manajemen klinik, sistem informasi manajemen, software klinik, aplikasi klinik, aplikasi dokter, apotek, klinik kecantikan">
    <meta name="description" content="Anda memiliki pertanyaan seputar sistem? Temukan yang Anda cari disini. Sistem Informasi manajemen klinik, software apotek, aplikasi dokter pribadi, klinik kecantikan, gigi, umum, dengan fitur selalu update.">
    <meta property="og:site_name" content="Assist.id" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Frequently Asked Question - Assist.id" />
    <meta property="og:url" content="https://www.assist.id" />
    <meta property="og:description" content="Anda memiliki pertanyaan seputar sistem? Temukan yang Anda cari disini. Sistem Informasi manajemen klinik, software apotek, aplikasi dokter pribadi, klinik kecantikan, gigi, umum, dengan fitur selalu update." />

    <!--end-->

    <title>Frequently Asked Question - Assist.id</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/apple-icon.png">
    <link rel="icon" type="image/png" href="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/apple-icon.png">

    <!-- Plugin CSS -->
    <link href="static/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/plugin/font-awesome/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="static/plugin/et-line/style.css" rel="stylesheet">
    <link href="static/plugin/themify-icons/themify-icons.css" rel="stylesheet">
    <link href="static/plugin/owl-carousel/css/owl.carousel.min.css" rel="stylesheet">
    <link href="static/plugin/magnific/magnific-popup.css" rel="stylesheet">
    <!-- End -->


    <!-- Theme css -->
    <link href="static/css/style.css" rel="stylesheet">
    <link href="static/css/color/default.css" rel="stylesheet" id="color_theme">
    <!-- End -->
    <%- include('scripts'); %>

</head>

<!-- ========== Body Starts ========== -->
<!-- Body Start -->
<body data-spy="scroll" data-target="#navbar" data-offset="98">

<!-- Loading -->
<div id="loading">
    <div class="load-circle"><span class="one"></span></div>
</div>
<!-- / -->


<!-- Header -->
<header>
    <nav class="navbar header-nav header-nav-dark navbar-expand-lg">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand" href="/">
                <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/logo.png" title="" alt="logo assist.id software klinik terbaik indonesia" style="max-height: 50px;">
            </a>
            <!-- / -->

            <!-- Mobile Toggle -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <!-- / -->
            <%- include('header'); %>
        </div><!-- Container -->
    </nav> <!-- Navbar -->
</header>
<!-- Header End -->

<!-- Main -->
<main>


    <!--
    =============================
      Page Title Section
    =============================
    -->
    <!--
    =============================
      FAQ's
    =============================
    -->
    <section class="section ggrz">
        <div class="container">
            <div class="row justify-content-center m-45px-b sm-m-25px-b">
                <div class="col-lg-9 col-md-10">
                    <div class="section-title text-center">
                        <h6 class="theme-color">FAQ - Assist.id</h6>
                        <h1 class="dark-color font-alt heder1">Software Klinik Assist.id dengan berbagai fitur untuk professionalitas bisnis Anda</h1>
                        <p>Assist.id memudahkan pekerjaan admisi, dokter, perawar, apoteker, dan pemilik klinik
                            dengan memberikan solusi berbagai fitur lengkap terintegrasi. Mulai dari proses pendaftaran
                            pasien, rekam medis (EMR) starndar ICD 10, stok obat, laporan, hingga hak akses bisa di Assist.id</p>
                    </div>
                    <div align="center" style="margin-top: 30px;">
                        <a class="btn btn-theme" href="/demo-software-klinik" target="_blank">Demo Gratis</a>  &nbsp; <label style="font-size: 12px; margin-top: auto; margin-bottom: auto;"><a href="/atur-jadwal-demo-aplikasi-klinik" target="_blank">atau atur jadwal demo di faskes Anda</a></label>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-md-4">
                    <div class=" md-m-30px-b">
                        <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/clinica-sistem-informasi-manajemen-klinik-assist-indonesia.png" alt="clinica sistem informasi manajemen assist id">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="faq-box" id="accordion">
                        <div class="faq-row">
                            <div class="faq-header" id="faqa-1">
                                <h5 class="faq-title" data-toggle="collapse" data-target="#faqc-1" data-aria-expanded="true" data-aria-controls="faqc-1">
                                    <span class="no theme-bg">1</span> Apa itu Assist Indonesia?
                                </h5>
                            </div>
                            <div id="faqc-1" class="collapse" aria-labelledby="faqa-1" data-parent="#accordion">
                                <div class="faq-body">
                                    <p>Assist Indonesia (Assist.id) adalah sebuah perusahaan berbasis teknologi dibidang kesehatan yang mendigitalisasi praktek dokter, klinik, apotek dan rumah sakit Indonesia.</p>

                                </div>
                            </div>
                        </div>

                        <div class="faq-row">
                            <div class="faq-header" id="faqa-2">
                                <h5 class="faq-title" data-toggle="collapse" data-target="#faqc-2" data-aria-expanded="true" data-aria-controls="faqc-2">
                                    <span class="no theme-bg">2</span> Berapa harga sistem manajemen Assist.id?
                                </h5>
                            </div>
                            <div id="faqc-2" class="collapse" aria-labelledby="faqa-2" data-parent="#accordion">
                                <div class="faq-body">
                                    <p>Assist.Id menggunakan metode berlangganan (subscribe) yang dibayarkan setiap bulan atau tahunan. Setiap varian produk memiliki pricelist yang berbeda-beda. Informasi lebih lanjut silahkan membuka halaman produk yang sesuai dengan kebutuhan Anda, <a href="/aplikasi-klinik" style="font-weight: bold">disini</a>.</p>
                                </div>
                            </div>
                        </div>

                        <div class="faq-row">
                            <div class="faq-header" id="faqa-3">
                                <h5 class="faq-title" data-toggle="collapse" data-target="#faqc-3" data-aria-expanded="true" data-aria-controls="faqc-3">
                                    <span class="no theme-bg">3</span> Apa saja varian produk yang tersedia?
                                </h5>
                            </div>
                            <div id="faqc-3" class="collapse" aria-labelledby="faqa-3" data-parent="#accordion">
                                <div class="faq-body">
                                    <p>Beberapa varian produk Assist Indonesia adalah Hospita untuk Rumah Sakit, Clinica untuk Klinik, Denta untuk Klinik Gigi, Derma untuk Klinik Kecantikan, Privata untuk Dokter Praktek Mandiri, dan Pharma untuk Apotek.</p>
                                </div>
                            </div>
                        </div>

                        <div class="faq-row">
                            <div class="faq-header" id="faqa-4">
                                <h5 class="faq-title" data-toggle="collapse" data-target="#faqc-4" data-aria-expanded="true" data-aria-controls="faqc-4">
                                    <span class="no theme-bg">4</span> Siapa yang dapat menggunakan Assist.id?
                                </h5>
                            </div>
                            <div id="faqc-4" class="collapse" aria-labelledby="faqa-4" data-parent="#accordion">
                                <div class="faq-body">
                                    <p>Assist Indonesia dirancang untuk dokter, staff dan pemilik praktek pribadi, klinik, rumah sakit dan apotek.</p>
                                </div>
                            </div>
                        </div>

                        <div class="faq-row">
                            <div class="faq-header" id="faqa-5">
                                <h5 class="faq-title" data-toggle="collapse" data-target="#faqc-5" data-aria-expanded="true" data-aria-controls="faqc-5">
                                    <span class="no theme-bg">5</span> Mengapa menggunakan sistem berlangganan?
                                </h5>
                            </div>
                            <div id="faqc-5" class="collapse" aria-labelledby="faqa-5" data-parent="#accordion">
                                <div class="faq-body">
                                    <p>Kami tidak ingin memberatkan klinik maupun rumah sakit untuk membayar mahal dengan sistem beli putus. Sistem beli putus kerap menyulitkan klinik dari segi biaya, waktu dan tenaga. Assist.Id akan selalu mengupdate fitur sistem yang dapat Anda pakai seumur hidup. Selain harga yang murah dan backup sistem 24/7, sistem Assist.Id juga dapat diakses dimana saja dan kapan saja.</p>
                                </div>
                            </div>
                        </div>

                        <div class="faq-row">
                            <div class="faq-header" id="faqa-6">
                                <h5 class="faq-title" data-toggle="collapse" data-target="#faqc-6" data-aria-expanded="true" data-aria-controls="faqc-6">
                                    <span class="no theme-bg">6</span> Beberapa kebutuhan kami belum ada, bisakah ditambahkan?
                                </h5>
                            </div>
                            <div id="faqc-6" class="collapse" aria-labelledby="faqa-6" data-parent="#accordion">
                                <div class="faq-body">
                                    <p>Anda dapat langsung menghubungi kami untuk mendiskusikan kebutuhan Anda lebih lanjut. Masih memiliki pertanyaan? Kunjungi <a href="https://intercom.help/assist-id" target="_blank" style="font-weight: bold">halaman bantuan Assist.id</a>.</p>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div> <!-- container -->
    </section>

    <section class="subscribe-section" style="margin-top: -100px; margin-bottom: 20px;">
        <div class="container" style="margin-top: 50px;">
            <div class="subscribe-inner box-shadow">
                <div class="row align-items-center" align="center">

                    <div class="col-md-2" align="right">
                        <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/ico-ok-hand-filled.png" alt="icon hand ok transparrent" style="max-height: 50px;">
                    </div>
                    <div class="col-md-7" align="left">
                        <p class="cta-txt1"><span style="font-weight: bold">Coba dulu, Tentukan nanti</span><br>Tanpa biaya. Tanpa resiko. Konsultasikan kebutuhan klinik Anda.</p>
                    </div>
                    <div class="col-md-1">
                        <a class="btn btn-themewh cta-cent" href="/demo-software-klinik" target="_blank">Demo Gratis</a>
                    </div>
                </div>

            </div>
        </div>
    </section>

</main>
<!-- / -->
<%- include('footer'); %>
