<!-- Footer -->
<footer class="footer footer-dark">
    <section class="footer-section" id="#footer">
        <div class="container margi-lef" style="max-width: 840px;">
            <div class="row ggrx">
                <p class="grre">Fasilitas kesehatan, seperti praktek mandiri, apotek, klinik pratama, klinik utama, klinik kecantikan, klinik BPJS, klinik Hemodialisis, 
                    dan rumah sakit, di Indonesia memegang peranan penting untuk layanan kesehatan
                    terbaik masyarakat. Assist.id adalah software aplikasi klinik, apotek dan rumah sakit terbaik yang dapat membantu Anda dalam mengelola bisnis
                    faskes Anda. Assist.id merupakan solusi digitalisasi faskes di Indonesia. Jika Anda sebelumnya memiliki data pasien, Assist.id memiliki fitur
                    import sehingga Anda dapat mengupload filenya dengan mudah.
                    <br>
                    <br>
                    Melakukan pendaftaran pasien baru dan menerima online booking konsultasi dokter menjadi lebih mudah untuk Admisi klinik Anda. Assist.id juga
                    dapat diintegrasikan dengan bridging BPJS P-Care. Untuk mempermudah dokter - dokter dalam menyimpan rekam medis (EMR) pasien, software klinik
                    Assist.id juga menyediakan catatan dokter dengan standar ICD 10, catatan perawat, odontogram, upload foto dsb. Untuk fitur apotek juga merupakan
                    salah satu fitur yang penting dalam pencatatan stok obat, daftar obat, peringatan obat habis, peringatan obat kedaluarsa hingga laporannya yang
                    lengkap. Software apotek Assist.id dapat diakses dimana saja kapan saja, Anda tidak perlu selalu berada diapotek lagi. Berbagai fitur di aplikasi
                    klinik Assist.id saling terintegrasi terhubung satu fitur dengan fitur lainnya. Software klinik Assist.id merupakan software klinik berbasis cloud.
                    Berlangganan dengan Assist.id bisa bulanan maupun tahunan sehingga Anda dapat bayar lebih murah dan terjangkau. Pekerjaan admisi. dokter, dan
                    apoteker kini dapat lebih terotomatisasi dan efektif.</p>
            </div>
            <div class="row ggrs" >
                <div class="col-md-12 col-lg-4 sm-m-15px-tb md-m-30px-b">
                    <h4 class="font-alt">Assist.id</h4>
                    <p class="footer-text">Assist.id hadir sebagai solusi manajemen informasi fasilitas kesehatan Indonesia seperti Praktek Mandiri Dokter dan Bidan, Klinik Pratama dan Utama BPJS, Klinik Hemodialiis, Klinik Kecantikan Rumah Sakit dan Apotek.</p>
                    <ul class="social-icons">
                        <li><a class="facebook" href="https://www.facebook.com/AssistIndonesiaOfficial/"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a class="twitter" href="https://twitter.com/IdAssist"><i class="fab fa-twitter"></i></a></li>
                        <li><a class="google" href="https://www.instagram.com/assistid/"><i class="fab fa-instagram"></i></a></li>
                        <!--<li><a class="linkedin" href="javascript:;" target="_blank"><i class="fab fa-envira"></i></a></li>-->
                    </ul><br/>
                </div> <!-- col -->

                <div class="col-6 col-md-4 col-lg-2 sm-m-15px-tb md-m-05px-r">
                    <h4 class="font-alt">Produk</h4>
                    <ul class="fot-link">
                        <li><a href="/software-aplikasi-klinik-terbaik-clinica">Clinica</a></li>
                        <li><a href="#">Hemoda</a></li>
                        <li><a href="/sistem-informasi-klinik-schedula">Schedula</a></li>
                        <li><a href="/software-klinik-privata">Privata</a></li>
                        <li><a href="/simrs-sistem-informasi-manajemen-rumah-sakit-online">Hospita</a></li>
                        <li><a href="/program-apotek-pharma">Pharma</a></li>
                    </ul>
                </div> <!-- col -->

                <div class="col-6 col-md-4 col-lg-2 sm-m-15px-tb" style="max-width: 150px;">
                    <h4 class="font-alt">Tipe Faskes</h4>
                    <ul class="fot-link">
                        <li><a href="#">Klinik Pratama</a></li>
                        <li><a href="#">Klinik Utama</a></li>
                        <li><a href="#">Klinik Kecantikan</a></li>
                        <li><a href="#">Klinik Hemodialisis</a></li>
                        <li><a href="#">Praktek Mandiri</a></li>
                        <li><a href="#">Rumah Sakit</a></li>
                        <li><a href="#">Apotek</a></li>
                        <!--<li><a href="https://intercom.help/assist-id" target="_blank">Bantuan</a></li>-->
                    </ul>
                </div>

                <div class="col-md-6 col-lg-4 sm-m-15px-tb">
                    <h4 class="font-alt">Solusi</h4><ul class="fot-link">
                        <li><a href="#">Online Booking Konsultasi Dokter</a></li>
                        <li><a href="#">Pendaftaran Pasien</a></li>
                        <li><a href="#">Rekam Medis Elektronik (EMR)</a></li>
                        <li><a href="#">Data Stok Obat Farmasi</a></li>
                        <li><a href="#">Kasir dan Pembayaran (POS)</a></li>
                        <li><a href="#">Laporan Otomatis</a></li>
                        <li><a href="#">Manajemen Komisi, Bonus, Gaji Staff</a></li>
                        <!--<li><a href="https://intercom.help/assist-id" target="_blank">Bantuan</a></li>-->
                    </ul>
                </div> <!-- col -->
            </div>

            <div class="row ggrs" >
                <div class="col-md-12  sm-m-15px-tb md-m-30px-b">
                    <h4 class="font-alt">Pencarian Terkait</h4>
                    <p class="cik">Aplikasi Kesehatan, Software Klinik, Sistem Informasi Klinik, Software Kesehatan, Sistem Klinik, Sistem Manajemen Klinik, Klinik Digital, Software Klinik, Software Terbaik Untuk Klinik Anda, Aplikasi Kesehatan, Aplikasi Klinik Umum, Aplikasi Rumah Sakit, Primary Care BPJS, SIMRS, SIM RS.</p><br/>
                </div> <!-- col -->
            </div>
                
            

            <div class="footer-copy">
                <div class="row">
                    <div class="col-12">
                        <p style="color: gray;">FAQ | Kebijakan Privasi | Syarat dan Ketentuan |</p>
                        <p style="color: gray;">2019 © Assist.id . All Rights Reserved.</p>
                    </div><!-- col -->
                </div> <!-- row -->
            </div> <!-- footer-copy -->

        </div> <!-- container -->
    </section>
</footer>
<!-- / -->

<!-- Jquery -->
<script src="static/js/jquery-3.2.1.min.js"></script>
<script src="static/js/jquery-migrate-3.0.0.min.js"></script>
<!-- End -->

<!-- Global site tag (gtag.js) - Google Analytics -->

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-87809650-4"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-87809650-4');
</script>

<!--end-->
<!--swal-->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!-- Plugin JS -->
<script src="static/plugin/appear/jquery.appear.js"></script><!--appear-->
<script src="static/plugin/bootstrap/js/popper.min.js"></script><!--popper-->
<script src="static/plugin/bootstrap/js/bootstrap.js"></script><!--bootstrap-->
<!-- End -->

<!-- Custom -->

<script src="static/js/jquery.parallax-scroll.js"></script>
<script src="static/js/custom.js"></script>
<!-- End -->

</body>
<!-- ========== End of Body ========== -->

</html>