<!doctype html>
<html lang="id">


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <!--start-->
  <meta name="author" content="Assist.id" />
  <meta name="google-site-verification" content="xaSOGYCxjaipS36lfuwWGfrYHzGC9D7SKHFztiC7HK0" />
  <meta name="keyword" content="assist.id, software, klinik rumah sakit, puskesmas, manajemen klinik">
  <meta name="description" content="Upgrade faskes anda sekarang. Gunakan Software Assist.id, harga terjangkau, dan tersedia modul lengkap untuk faskes anda!">
  <meta property="og:site_name" content="Assist.id" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Assist - Software Klinik Praktek Dokter, Rumah Sakit Online Indonesia" />
  <meta property="og:url" content="https://www.assist.id" />
  <meta property="og:description" content="Upgrade faskes anda sekarang. Gunakan Software Assist.id, harga terjangkau, dan tersedia modul lengkap untuk faskes anda!" />

  <!--end-->

  <title>Harga - Assist.id</title>
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/apple-icon.png">

  <!-- Plugin CSS -->
  <link href="static/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/plugin/font-awesome/css/fontawesome-all.min.css" rel="stylesheet">
  <link href="static/plugin/et-line/style.css" rel="stylesheet">
  <link href="static/plugin/themify-icons/themify-icons.css" rel="stylesheet">
  <link href="static/plugin/owl-carousel/css/owl.carousel.min.css" rel="stylesheet">
  <link href="static/plugin/magnific/magnific-popup.css" rel="stylesheet">
  <!-- End -->


  <!-- Theme css -->
  <link href="static/css/style.css" rel="stylesheet">
  <link href="static/css/color/default.css" rel="stylesheet" id="color_theme">
  <!-- End -->
  <%- include('scripts'); %>

</head>

<!-- ========== Body Starts ========== -->
<!-- Body Start -->
<body data-spy="scroll" data-target="#navbar" data-offset="98">

<!-- Loading -->
<div id="loading">
  <div class="load-circle"><span class="one"></span></div>
</div>
<!-- / -->


<!-- Header -->
<header>
  <nav class="navbar header-nav header-nav-dark navbar-expand-lg">
    <div class="container">
      <!-- Brand -->
      <a class="navbar-brand" href="#">
        <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/logo.png" title="" alt="logo assist.id software klinik terbaik" style="max-height: 50px;">
      </a>
      <!-- / -->

      <!-- Mobile Toggle -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <!-- / -->
      <%- include('header'); %>
    </div><!-- Container -->
  </nav> <!-- Navbar -->
</header>
<!-- Header End -->

<!-- Main -->
<main>

  <!--
  =============================
    Price
  =============================
  -->
  <section class="section ggrz">
    <div class="container">
      <div class="row justify-content-center m-45px-b sm-m-25px-b">
        <div class="col-lg-9 col-md-10">
          <div class="section-title text-center">
            <h6 class="theme-color">Harga - Assist.id</h6>
            <h1 class="dark-color font-alt heder1">Software Klinik Assist.id dengan berbagai fitur untuk professionalitas bisnis Anda</h1>
            <p>Assist.id memudahkan pekerjaan admisi, dokter, perawar, apoteker, dan pemilik klinik
              dengan memberikan solusi berbagai fitur lengkap terintegrasi. Mulai dari proses pendaftaran
              pasien, rekam medis (EMR) starndar ICD 10, stok obat, laporan, hingga hak akses bisa di Assist.id</p>
          </div>
          <div align="center" style="margin-top: 30px;">
            <a class="btn btn-theme" href="/demo-software-klinik" target="_blank">Demo Gratis</a>  &nbsp; <label style="font-size: 12px; margin-top: auto; margin-bottom: auto;"><a href="/atur-jadwal-demo-aplikasi-klinik" target="_blank">atau atur jadwal demo di faskes Anda</a></label>
          </div>
        </div>
      </div>
      <div style="margin-top: 50px;"></div>
      <div class="row justify-content-center">

        <table class="customers">

          <div class="headert" id="myHeader">
            <div class="th-left-25">Fitur</div>
            <div class="th-cent-15">Schedula</div>
            <div class="th-cent-15">Privata</div>
            <div class="th-cent-15">Pharma</div>
            <div class="th-cent-15">&nbsp;Clinica Lite</div>
            <div class="th-cent-15">&nbsp;&nbsp;Clinica Grow</div>
          </div>

            <tr style="opacity: 0">
              <th class="th-left-25">Fitur</th>
              <th class="th-cent-15">Schedula</th>
              <th class="th-cent-15">Privata</th>
              <th class="th-cent-15">Pharma</th>
              <th class="th-cent-15">Clinica Lite</th>
              <th class="th-cent-15">Clinica Grow</th>
            </tr>

            <tr>
              <td>Dashboard Analytics</td>
              <td style="text-align: center;">Basic</td>
              <td style="text-align: center;">Basic</td>
              <td style="text-align: center;">Basic</td>
              <td style="text-align: center;">Advanced</td>
              <td style="text-align: center;">Advanced</td>
            </tr>
            <tr>
              <td>Laporan</td>
              <td style="text-align: center;">Basic</td>
              <td style="text-align: center;">Basic</td>
              <td style="text-align: center;">Basic</td>
              <td style="text-align: center;">Advanced</td>
              <td style="text-align: center;">Advanced</td>
            </tr>
            <tr>
              <td>Pengaturan Hak Akses</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">✔</td>
            </tr>
            <tr>
              <td>Profile Direktori Online</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">✔</td>
            </tr>
            <tr>
              <td>Pendaftaran Pasien Konsultasi</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">-</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">✔</td>
            </tr>
            <tr>
              <td>Quick Search Pasien</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">-</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">✔</td>
            </tr>
            <tr>
              <td>Integrasi Dengan BPJS P-Care</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">-</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">✔</td>
            </tr>
            <tr>
              <td>Antrian Pasien Konsultasi</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">-</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">✔</td>
            </tr>
            <tr>
              <td>Easy Reschedule</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">-</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">✔</td>
            </tr>
            <tr>
              <td>Cetak Surat Sakit, Sehat, dsb</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">-</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">✔</td>
            </tr>
            <tr>
              <td>Booking Online dari Website Anda / Aplikasi</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">-</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">✔</td>
            </tr>

            <tr>
              <td>Advance Pasien Search</td>
              <td style="text-align: center;">-</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">-</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">✔</td>
            </tr>
            <tr>
              <td>Rekam Medis Elektronik</td>
              <td style="text-align: center;">-</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">-</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">✔</td>
            </tr>
            <tr>
              <td>Diagnosa Standar ICD 10</td>
              <td style="text-align: center;">-</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">-</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">✔</td>
            </tr>
            <tr>
              <td>Odontogram</td>
              <td style="text-align: center;">-</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">-</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">✔</td>
            </tr>
            <tr>
              <td>Catatan Perawat</td>
              <td style="text-align: center;">-</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">-</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">✔</td>
            </tr>
            <tr>
              <td>Advance Pasien Search</td>
              <td style="text-align: center;">-</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">-</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">✔</td>
            </tr>
            <tr>
              <td>Upload Berkas Laboratorium, Photo Before After, dsb</td>
              <td style="text-align: center;">-</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">-</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">✔</td>
            </tr>
            <tr>
              <td>Catatan Resep</td>
              <td style="text-align: center;">-</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">-</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">✔</td>
            </tr>

            <tr>
              <td>Antrian Apotek</td>
              <td style="text-align: center;">-</td>
              <td style="text-align: center;">-</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">✔</td>
            </tr>
            <tr>
              <td>Riwayat Pembelian Obat</td>
              <td style="text-align: center;">-</td>
              <td style="text-align: center;">-</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">✔</td>
            </tr>
            <tr>
              <td>Stok Obat Terintegrasi</td>
              <td style="text-align: center;">-</td>
              <td style="text-align: center;">-</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">✔</td>
            </tr>
            <tr>
              <td>Pengaturan dan Kunci Harga</td>
              <td style="text-align: center;">-</td>
              <td style="text-align: center;">-</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">✔</td>
            </tr>
            <tr>
              <td>Procurement Pengadaan Obat dan Alat Kesehatan</td>
              <td style="text-align: center;">-</td>
              <td style="text-align: center;">-</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">✔</td>
            </tr>
            <tr>
              <td>Depot Stok Obat Multi Gudang, Ruangan, dan Opname</td>
              <td style="text-align: center;">-</td>
              <td style="text-align: center;">-</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">✔</td>
            </tr>
            <tr>
              <td>Struk Pembayaran</td>
              <td style="text-align: center;">-</td>
              <td style="text-align: center;">-</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">✔</td>
            </tr>
            <tr>
              <td>Point of Sales</td>
              <td style="text-align: center;">-</td>
              <td style="text-align: center;">-</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">✔</td>
            </tr>
            <tr>
              <td>Pencatatan Hutang Piutang</td>
              <td style="text-align: center;">-</td>
              <td style="text-align: center;">-</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">✔</td>
            </tr>

            <tr>
              <td>E-Resep (Terhubung dengan Apotek & Kasir)</td>
              <td style="text-align: center;">-</td>
              <td style="text-align: center;">-</td>
              <td style="text-align: center;">-</td>
              <td style="text-align: center;">✔</td>
              <td style="text-align: center;">✔</td>
            </tr>

            <tr>
              <td>Banyak Lisensi</td>
              <td style="text-align: center;">2 Pengguna</td>
              <td style="text-align: center;">3 Pengguna</td>
              <td style="text-align: center;">3 Pengguna</td>
              <td style="text-align: center;">5 Pengguna</td>
              <td style="text-align: center;">10 Pengguna</td>
            </tr>
            <tr>
              <td>Harga Bulanan</td>
              <td style="text-align: center;">Rp. 199.000,-</td>
              <td style="text-align: center;">Rp. 329.000,-</td>
              <td style="text-align: center;">Rp. 349.000,-</td>
              <td style="text-align: center;">Rp. 499.000,-</td>
              <td style="text-align: center;">Rp. 749.000,-</td>
            </tr>
            <tr>
              <td>Harga Tahunan <span style="color: #25ba24; font-weight: bold">(discount 10%)</span></td>
              <td style="text-align: center;"><span style="color: red; text-decoration: line-through;">Rp. 2.388.000,-</span> <br> Rp. 2.149.000,-</td>
              <td style="text-align: center;"><span style="color: red; text-decoration: line-through;">Rp. 3.948.000,-</span> <br> Rp. 3.553.200,-</td>
              <td style="text-align: center;"><span style="color: red; text-decoration: line-through;">Rp. 4.188.000,-</span> <br> Rp. 3.769.200,-</td>
              <td style="text-align: center;"><span style="color: red; text-decoration: line-through;">Rp. 5.988.000,-</span> <br> Rp. 5.389.200,-</td>
              <td style="text-align: center;"><span style="color: red; text-decoration: line-through;">Rp. 8.988.000,-</span> <br> Rp. 8.049.200,-</td>
            </tr>

        </table>
      </div>
    </div>
  </section>

</main>
<!-- / -->
<%- include('footer'); %>