<!doctype html>
<html lang="id">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!--start-->
    <meta name="author" content="Assist.id" />
    <meta name="google-site-verification" content="xaSOGYCxjaipS36lfuwWGfrYHzGC9D7SKHFztiC7HK0" />
    <meta name="keyword" content="assist.id, software, klinik rumah sakit, puskesmas, manajemen klinik">
    <meta name="description" content="Assist.id, solusi manajemen klinik, apotek, rumah sakit dengan teknologi sistem informasi, aplikasi klinik yang mengelola rekam medis, odontogram, antrian, konsultasi online, stok obat, laporan, kasir didukung BPJS P-Care...">
    <meta property="og:site_name" content="Assist.id" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Assist.id - Software Aplikasi Klinik Umum, Gigi, Kecantikan, BPJS Terlengkap" />
    <meta property="og:url" content="https://www.assist.id" />
    <meta property="og:description" content="Assist.id, solusi manajemen klinik, apotek, rumah sakit dengan teknologi sistem informasi, aplikasi klinik yang mengelola rekam medis, odontogram, antrian, konsultasi online, stok obat, laporan, kasir didukung BPJS P-Care..." />
    <!--end-->

    <title>Assist.id - Software Aplikasi Klinik Pratama BPJS, Kecantikan, Hemodialisis dan Rumah Sakit</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/favicon.ico">

    <!-- Plugin CSS -->
    <link href="static/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/plugin/font-awesome/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="static/plugin/et-line/style.css" rel="stylesheet">
    <link href="static/plugin/themify-icons/themify-icons.css" rel="stylesheet">
    <link href="static/plugin/owl-carousel/css/owl.carousel.min.css" rel="stylesheet">
    <link href="static/plugin/magnific/magnific-popup.css" rel="stylesheet">
    <!-- End -->

    <!-- Theme css -->
    <link href="static/css/stylev3.css" rel="stylesheet">
    <link href="static/css/color/defaultv3.css" rel="stylesheet" id="color_theme">
    <!-- End -->
    <%- include('scripts'); %>

</head>

<!-- Body Start -->
<body data-spy="scroll" data-target="#navbar" data-offset="98">

<!-- Loading -->
<div id="loading">
    <div class="load-circle"><span class="one"></span></div>
</div>
<!-- / -->

<!-- Header Biru -->
<header>
    <nav class="navbar header-biru header-nav-dark navbar-expand-lg">
        <div class="container">
        <a>Sistem Aplikasi Klinik Terbaik di Indonesia</a>
        <a>Hubungi Kami 0813-1000-0949 | Senin - Jumat (08.30 - 17.30 WIB)</a>
        </div>
    </nav>
</header>
<!-- Header Biru End -->

<!-- Header Putih -->
<header>
    <nav class="navbar header-nav header-nav-dark navbar-expand-lg">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand" href="/">
                <img  src="" data-src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/logo.png" title="" alt="logo assist.id software klinik terbaik indonesia" style="max-height: 50px;">
            </a>
            <!-- / -->

            <!-- Mobile Toggle -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <!-- / -->

            <!-- Top Menu -->
            <%- include('header-v3'); %>
            <!-- / -->
     </div><!-- Container -->
  </nav> <!-- Navbar -->
</header>
<!-- Header Putih End -->

<!-- Main -->
<main>

    <!--
    =============================
      Home Banner
    =============================
    -->

    <section id="home" class="home-banner-01 bg-effect-box">
        <div class="bg-effect bg-cover bg-fixed"></div>
        <div class="container">
            <div class="row align-items-center justify-content-center p-100px-tb md-p-0px-b ">
                <div class=" harga col-lg-12 p-50px-t md-p-40px-t text-center ">
                    <h5 class="theme-after dark-color ">Kelola Klinik Lebih Mudah Pakai Assist.id</h5>
                    <img class="bendera col-lg-7" src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-indonesia-32.png" title="" alt="icon bendera">
                    <h1 class="font-alt dark-color text-center">Berbagai Solusi Untuk Fasilitas Kesehatan</h1>
                    <p class="m-40px-b p-25px-l sm-m-5px-b dark-color large-text1" style="font-weight: bold;">130+ Fasilitas Kesehatan Sudah Mendaftar. Klinik Anda Kapan?</p>
                </div>
                <div class="col-lg-9 col-md-10 sm-m-15px-t">
                    <div class="mulai section-title text-center">
                        <p class="dark-color ">Mulai dari praktek pribadi hingga klinik dan apotek multi-cabang bisa menggunakan Assist.id. Kami paham kebutuhan pada sistem fasilitas kesehatan Anda mungkin berbeda-beda maka dari itu kami merancang produk khusus sesuai dengan kebutuhan Anda.</p>
                    </div>
                </div> <!-- col -->
            </div>
        </div>
    </section>
    <!-- / -->

    <!--
    
    ===========================================================
      Sistem Cocok Digunakan Berbagai Jenis Fasilitas Kesehatan
    ===========================================================
    -->

    <div class="container">
        <div class="row justify-content-center sm-m-220px-b">
            <div class="col-lg-10 col-md-10">
                <div class="row sistem-info">
                    <div class="col-md-6 sm-m-30px-t">
                        <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Sistem-klinik-umum-bpjs-kecantikan-hemodialisis-dpp-dokter-lengkap-assist-id.png" title="" alt="sistem klinik umum bpjs">
                     </div>
                    <div class="col-md-6 p-15px-r p-30px-t sm-m-10px-b sm-m-25px-t" >
                        <div class="sistem-row">
                            <div class="faq-header">
                                <a class="sistem-title" href="/sistem-klinik-pratama-dan-utama-bpjs-online">
                                <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-treatment-list-64.png" title="" alt="icon treatment" width="10%">
                                    Klinik Utama dan Pratama BPJS
                                </a>
                            </div>
                        </div>
                        <div class="sistem-row">
                            <div class="faq-header">
                                <a class="sistem-title" href="#">
                                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-facial-mask-64.png" title="" alt="icon facial" width="10%">
                                    Klinik Kecantikan
                                </a>
                            </div>
                        </div>
                        <div class="sistem-row">
                            <div class="faq-header">
                                <a class="sistem-title" href="#">
                                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-notebook-computer-64.png" title="" alt="icon notebook" width="10%">
                                    Klinik Hemodialisis
                                </a>
                            </div>
                        </div>
                        <div class="sistem-row">
                            <div class="faq-header">
                                <a class="sistem-title" href="#">
                                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-surgeon-skin-type-1-64.png" title="" alt="icon doctor" width="10%">
                                    Praktek Mandiri Dokter dan Bidan
                                </a>
                            </div>
                        </div>
                        <div class="sistem-row">
                            <div class="faq-header">
                                <a class="sistem-title" href="#">
                                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-clinic-64.png" title="" alt="icon clinic" width="10%">
                                    Rumah Sakit
                                </a>
                            </div>
                        </div>
                        <div class="sistem-row">
                            <div class="faq-header">
                                <a class="sistem-title" href="#">
                                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-hand-with-a-pill-64.png" title="" alt="icon pill" width="10%">
                                   Apotek dan Farmasi
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br/>

 <!--
    ====================================================
      Telah Dipercaya Lebih dari 130 Fasilitas Kesehatan
    ====================================================
    -->

    <section class="section-logo">
        <div class="container p-50px-t">
            <div class="row justify-content-center m-40px-b sm-m-25px-b">
                <div class="col-lg-9 col-md-10">
                    <div class="contenttelah section-title text-center"><br/>
                        <h3 class="dark-color font-alt bldd p-30px-b sm-p-10px-b">Telah Dipercaya Lebih dari 130 Fasilitas Kesehatan</h3>
                    </div>
                </div>
                    <div class="logo-kerjasama">
                        <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Klinik-hilya-syari-clinic-kecantikan-assist-id.png" title="" alt="logo" class="logo-klinik-hilya">
                        <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/klinik-Kiara-healthcare-clinic-jakarta-assist-id.png" title="" alt="logo" class="logo-kiara">
                        <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Klinik-jogja-yogya-dental-clinic-assist-id.jpeg" title="" alt="logo" class="logo-dental">
                        <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Klinik-pratama-labuh-baru-dokter-keluarga-pekanbaru-assist-id.JPG" title="" alt="logo" class="logo-pratama">
                        <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Klinik-lanud-roesmin-pekanbaru-assist-id.png" title="" alt="logo" class="logo-lanud">
                        <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Klinik-Dewa-Medika-Clinic-Jakarta-Cikarang-assist-id.jpeg" title="" alt="logo" class="logo-dewa">
                        <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Padjadjaran Clinic KH, Leles _ Jatinangor.png" title="" alt="logo" class="logo-padjajaran">

                        <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/klinik-rumah-sakit-Annisa-Medika-2-pekanbaru-assist-id.jpeg" title="" alt="logo" class="logo-annisa">
                        <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Klinik-padjajaran-itenas-bandung-assist-id.jpeg" title="" alt="logo" class="logo-itenas">
                        <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Klinik-alda-pekanbaru-assist-id.png" title="" alt="logo" class="logo-alda">
                        <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Klinik-mutiara-cikutra-kmc-bandung-assist-id.png" title="" alt="logo" class="logo-mutiara">
                        <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/UNRI Sehati I Clinic.jpeg" title="" alt="logo" class="logo-unri">
                        <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/SKDC.jpg" title="" alt="logo" class="logo-skdc">
                        <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Klinik-hera-beauty-bar-pekanbaru-kecantikan-assist-id.jpg" title="" alt="logo" class="logo-hera">

                        <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/bona-mitra.png" title="" alt="logo" class="logo-bona">
                        <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Klinik-hemodialisa-cycare-hemodialysis-clinic-assist-id.jpg" title="" alt="logo" class="logo-hemodialisa">
                        <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Klinik-Essa-Medic-Care-Clinic-Assist-id.jpeg" title="" alt="logo" class="logo-essa">
                        <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/klinik-dewa-ayu-beauty-care-bekasi-assist-id.jpeg" title="" alt="logo" class="logo-ayu">
                        <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Klinik-pratama-universitas-abdurrab-pekanbaru-assist-id.jpeg" title="" alt="logo" class="logo-abdurrab">
                    </div>
            </div>
    </section>

<!--
    =============================
      Testimonial Pelanggan Kami
    =============================
    -->

  <div class="container" >
    <div class="row justify-content-center m-20px-b sm-m-25px-b">
        <h4 class="theme-color bldd md-p-15px-t" style="color:#2b64af">Testimonial Pelanggan Kami</h4>
    </div>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/testimonial-sistem-klinik-terbaik-assist-id.png" alt="testimonial sistem klinik terbaik assist.id" class="image-testimonial">
            <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/testimonial-sistem-klinik-terbaik-assist-id-bpjs.png" alt="testimonial sistem klinik terbaik assist.id bpjs" class="image-testimonial">
           </div>
           <div class="carousel-item">
            <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/testimonial-willy-cw-dental-care-pekanbaru-sistem-klinik-gigi-terbaik-assist-id.png" alt="testimonial willy cw dental care pekanbaru" class="image-testimonial m-15px-r sm-m-10px-r">
            <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/testimonial-klinik-arrazi-medika-siak-pratama-sistem-klinik-terbaik-assist-id.png" alt="testimonial klinik arrazi medika siak pratama"  class="image-testimonial">
           </div>
           <!-- <div class="carousel-item">
            <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/testimonial-ketua-pekanbaru-annual-scientific-session-2019-PDGI-pekanbaru-isthika-sistem-klinik-terbaik-assist-id.png" alt="testimonial ketua pekanbaru annual scientific session 2019 PDGI pekanbaru isthika" class="image-testimonial">
           </div> -->
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
</div><br/><br/><br/>

 <!--
    ===========================================
      Pusing Migrasi dari Sistem Lama? Kami Bantu!
    ===========================================
    -->

    <section class="gray-bg p-40px-b">
        <div class="container">
            <div class="row justify-content-center m-45px-b sm-m-25px-b">
                <div class="col-md-6" id="mobile">
                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Kami-bantu-pindah-sistem-klinik-mudah-migrasi-data-assist-id.png" title="" alt="migrasi data">
                </div>
                <div class="col-lg-9 col-md-10">
                    <div class="contentpusing section-title text-center"><br/>
                        <h4 class="theme-color bldd p-20px-t" style="color:#2b64af"> Pusing Migrasi dari Sistem Lama? Kami Bantu!</h4>
                    </div>
                </div>
            </div>
        <div class="row align-items-center">
        <div class="col-md-6" id="table">
            <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Kami-bantu-pindah-sistem-klinik-mudah-migrasi-data-assist-id.png" title="" alt="migrasi data">
        </div>
        <div class="col-md-6">
            <div class="std-box p-25px-l p-55px-r md-p-0px-lr ">
                <p class="ragu dark-color1 font-alt large-text">Sebagai ahli dalam sistem manajemen pengelolaan klinik, Tim Assist.id akan bekerja sama langsung dengan Anda untuk melakukan <b>migrasi data klinik</b> dan melakukan transisi yang dibutuhkan agar <b>karyawan Anda bisa mulai mengunakan.</b></p>
                <div class="btn-bar">
                <a class="btn btn-hubungi cta-cent m-5px-l sm-m-0px-l" href="#form">Hubungi kami</a>
                </div>
            </div>
        </div>
        </div>
        </div>
    </section> <!-- row -->

<!--
    ====================================
      KELOLA KLINIK LEBIH MUDAH HARI INI
    ====================================
    -->

    <div class="container" id="form">
        <div class="row justify-content-center m-45px-b sm-m-25px-b">
            <div class="col-lg-12 col-md-10"><br/>
                <div class=" section-title text-center">
                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-star-filled-64.png" title="" alt="icon star" class="icon-star">
                     <br/><br/>
                    <h4 class="dark-color font-alt bldd">KELOLA KLINIK LEBIH MUDAH HARI INI</h4>
                    <div class="fasilitas sm-m-25px-t">
                    <p class="m-0px dark-color1 bldd " >130+ Fasilitas Kesehatan Sudah Mendaftar. Klinik Anda Kapan?</p>
                    </div>
                    <br/>
                <div class="row justify-content-center">
                   <div class="col-lg-8 col-md-10">
                    <form class="contactform" method="post" action="/reqdemokelolaklinik">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="hidden" id="url" name="url" value="/harga">
                                <input type="hidden" id="frombutton" name="frombutton" value="cta harga">
                                <input id="usname" name="usname" type="text" placeholder="Nama (Sesuai ID/KTP)*" class="validate form-control" required>
                                <span class="input-focus-effect theme-bg"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input id="jabatan" type="text" placeholder="Jabatan*" name="jabatan" class="validate form-control" required>
                                <span class="input-focus-effect theme-bg"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input id="phonenumber" type="text" placeholder="Nomor Whatsapp*" name="phonenumber" class="validate form-control" required>
                                <span class="input-focus-effect theme-bg"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input id="email" type="email" placeholder="Alamat Email*" name="email" class="validate form-control" required>
                                <span class="input-focus-effect theme-bg"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input id="medname" type="text" placeholder="Nama Fasilitas Kesehatan*" name="medname" class="validate form-control" required>
                                <span class="input-focus-effect theme-bg"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input id="city" type="text" placeholder="Kota / Kabupaten*" name="city" class="validate form-control" required>
                                <span class="input-focus-effect theme-bg"></span>
                            </div>
                        </div>
                        <div class="col-md-6" >
                            <div class="form-group">
                                <select class="form-control sec-subtitle" name="mproduct" id="mproduct" required>
                                    <option value="" disabled selected>Pilih Produk Assist.id*</option>
                                    <option value="Clinica For Starters">Clinica For Starters</option>
                                    <option value="Clinica">Clinica</option>
                                    <option value="Clinica Pro">Clinica Pro</option>
                                    <option value="Hemoda">Hemoda</option>
                                    <option value="Privata">Privata</option>
                                    <option value="Hospita">Hospita</option>
                                    <option value="Pharma">Pharma</option>
                                    <option value="Bantu Saya Memilih">Bantu Saya Memilih</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6" >
                            <div class="form-group">
                                <textarea style="height: 50px;" type="text" class="validate form-control" placeholder="Pesan(Optional)" name="message" id="message"></textarea>
                                <span class="input-focus-effect theme-bg"></span>
                            </div>
                        </div>
                        <div class="col-md-12 sm-m-5px-b">
                            <div class="send">
                                <button class="btn btn-themewh4" type="submit" name="send"> Daftar Sekarang</button>
                            </div>
                            <span class="output_message"></span>
                        </div>
                    </div>
                </form>
            </div>
            </div>
            </div>
        </div>
        <!-- <a href="/demo-sistem-klinik-premium-clinica" class="btn btn-themewh5 cta-cent" target="_blank">Demo Gratis</a> -->
   </div>
</div>

    <script>
        const root = document.documentElement;
        const marqueeElementsDisplayed = getComputedStyle(root).getPropertyValue("--marquee-elements-displayed");
        const marqueeContent = document.querySelector("div.marquee-content");

        root.style.setProperty("--marquee-elements", marqueeContent.children.length);

        for(let i=0; i<marqueeElementsDisplayed; i++) {
        marqueeContent.appendChild(marqueeContent.children[i].cloneNode(true));
        }
    </script>

    <%- include('bodyscripts'); %>

</main>
<!-- / -->
<%- include('footer-v3'); %>
