<!-- Top Menu -->
<div class="collapse navbar-collapse justify-content-end font-alt" id="navbar">
    <ul class="navbar-nav ml-auto align-items-center">

        <li><a class="nav-link" href="/en">Home</a></li>
        <li class="m-dropdown m-dropdown-multilevel">
            <a class="nav-link">Products</a>
            <i class="fa fa-angle-down m-dropdown-toggle"></i>
            <ul class="m-dropdown-menu">
                <li><a href="/software-products">— All Products —</a></li>
                <li><a href="/aplikasi-klinik-berbasis-web-clinica">Clinica</a></li>
                <li><a href="/software-klinik-privata">Privata</a></li>
                <li><a href="/sistem-informasi-klinik-schedula">Schedula</a></li>
                <li><a href="/aplikasi-apotek-pharma">Pharma</a></li>
            </ul>
        </li>
        <li><a class="nav-link" href="/faq-sistem-informasi-klinik" >FAQ</a></li>
        <li><a class="nav-link" href="/acara-kesehatan-assist-id">Events</a></li>

        <li><a class="nav-link" href="https://blog.assist.id/" target="_blank">Blog</a></li>
        <li><a class="nav-link" href="https://intercom.help/assist-id" target="_blank">Help</a></li>
        <li><a class="nav-link" href="/"><img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/flag-icon-id.png" style="max-height: 20px;"></a></li>
        <li><a class="nav-link-btn btn btn-theme m-25px-l md-m-0px-l" href="/demo-software-klinik" target="_blank">Register Now</a></li>
    </ul>
</div>
<!-- / -->