<!-- Top Menu -->
<div class="collapse navbar-collapse justify-content-end font-alt" id="navbar">
    <ul class="navbar-nav ml-auto align-items-center">
        <!-- Menu Tipe Failitas Kesehatan -->
        <li class="m-dropdown m-dropdown-multilevel">
            <a class="nav-link">Tipe Fasilitas Kesehatan</a>
            <i class="fa fa-angle-down m-dropdown-toggle"></i>
            <ul class="m-dropdown-menu">
                <li><a href="/sistem-klinik-pratama-dan-utama-bpjs-online">Klinik Pratama dan Utama BPJS</a></li>
                <li><a href="/sistem-klinik-kecantikan">Klinik Kecantikan</a></li>
                <li><a href="/hemoda-sistem-klinik-hemodialisa-hemodialisis-indonesia">Klinik Hemodialisis</a></li>
                <li><a href="/sistem-praktek-mandiri-dokter-dan-bidan-perorangan">Praktek Mandiri Dokter dan Bidan</a></li>
                <li><a href="/sistem-manajemen-rumah-sakit-simrs">Rumah sakit</a></li>
                <li><a href="/sistem-apotek-dan-farmasi">Apotek dan Farmasi</a></li>
            </ul>
        </li>
        <!-- Menu Solusi -->
        <li class="m-dropdown m-dropdown-multilevel">
            <a class="nav-link">Solusi</a>
            <i class="fa fa-angle-down m-dropdown-toggle"></i>
            <ul class="solusi m-dropdown-menu">
                <li><a href="/solusi-booking-online">Online Booking Konsultasi Dokter</a></li>
                <li><a href="#">Pendaftaran Pasien</a></li>
                <li><a href="#">Rekam Medis Elektronik (EMR)</a></li>
                <li><a href="#">Data Stok obat Farmasi</a></li>
                <li><a href="#">Kasir dan Pembayaran (POS)</a></li>
                <li><a href="#">Laporan Otomatis</a></li>
                <li><a href="#">Manajemen Komisi, Bonus, Gaji, Staff </a></li>
            </ul>
        </li>
        <!-- Menu Produk -->
        <li class="m-dropdown m-dropdown-multilevel">
            <a class="nav-link">Produk</a>
            <i class="fa fa-angle-down m-dropdown-toggle"></i>
            <ul class="produk m-dropdown-menu">
                <li><a href="/aplikasi-klinik-berbasis-web-clinica">Clinica</a></li>
                <li><a href="#">Hemoda</a></li>
                <li><a href="/simrs-sistem-informasi-manajemen-rumah-sakit-online">Hospita</a></li>
                <li><a href="/software-klinik-privata">Privata</a></li>
                <li><a href="/sistem-informasi-klinik-schedula">Schedula</a></li>
                <li><a href="/aplikasi-apotek-pharma">Pharma</a></li>
            </ul>
        </li>
        <!-- Menu Harga -->
        <li><a class="nav-link" href="/harga" >Harga</a></li>
        <!-- Menu Lainnya -->
        <li class="m-dropdown m-dropdown-multilevel">
            <a class="nav-link">Lainnya</a>
            <i class="fa fa-angle-down m-dropdown-toggle"></i>
            <ul class="m-dropdown-menu">
                <li><a href="/bantuan">Bantuan</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="https://blog.assist.id/" target="_blank">Blog</a></li>
                <li><a href="/program-referral">Referral</a></li>
                <li><a href="/acara-kesehatan-assist-id">Acara Assist.id (Event)</a></li>
                <li><a href="/faq-sistem-informasi-klinik">Frequently Asked Questoins (FAQ)</a></li>
                <li><a href="#">Support</a></li>
            </ul>
        </li>
        <li><a class="nav-link-btn btn btn-theme m-25px-l md-m-0px-l" href="#form">Daftar Sekarang</a></li>
    </ul>
</div>
<!-- / -->