<!-- Top Menu -->
<div class="collapse navbar-collapse justify-content-end font-alt" id="navbar">
    <ul class="navbar-nav ml-auto align-items-center">

        <li><a class="nav-link" href="/">Beranda</a></li>
        <li class="m-dropdown m-dropdown-multilevel">
            <a class="nav-link">Produk</a>
            <i class="fa fa-angle-down m-dropdown-toggle"></i>
            <ul class="m-dropdown-menu">
                <li><a href="/aplikasi-klinik">— Semua Produk —</a></li>
                <li><a href="/aplikasi-klinik-berbasis-web-clinica">Solusi Klinik</a></li>
                <li><a href="/simrs-sistem-informasi-manajemen-rumah-sakit-online">Solusi Rumah Sakit</a></li>
                <li><a href="/software-klinik-privata">Solusi Prakter Pribadi</a></li>
                <li><a href="/aplikasi-apotek-pharma">Solusi Apotek</a></li>
                <li><a href="/sistem-informasi-klinik-schedula">Online Booking</a></li>
            </ul>
        </li>
        <li><a class="nav-link" href="/faq-sistem-informasi-klinik" >FAQ</a></li>
        <li><a class="nav-link" href="/acara-kesehatan-assist-id">Events</a></li>

        <li><a class="nav-link" href="https://blog.assist.id/" target="_blank">Blog</a></li>
        <!--<li><a class="nav-link" href="https://intercom.help/assist-id" target="_blank">Bantuan</a></li>-->
        <li><a class="nav-link-btn btn btn-theme m-25px-l md-m-0px-l" href="/demo-software-klinik" target="_blank">Daftar Sekarang</a></li>
    </ul>
</div>
<!-- / -->
