<!doctype html>
<html lang="id">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!--start-->
    <meta name="author" content="Assist.id" />
    <meta name="google-site-verification" content="xaSOGYCxjaipS36lfuwWGfrYHzGC9D7SKHFztiC7HK0" />
    <meta name="keyword" content="assist.id, software, klinik rumah sakit, puskesmas, manajemen klinik">
    <meta name="description" content="Assist.id, solusi manajemen klinik, apotek, rumah sakit dengan teknologi sistem informasi, aplikasi klinik yang mengelola rekam medis, odontogram, antrian, konsultasi online, stok obat, laporan, kasir didukung BPJS P-Care...">
    <meta property="og:site_name" content="Assist.id" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Assist.id - Software Aplikasi Klinik Umum, Gigi, Kecantikan, BPJS Terlengkap" />
    <meta property="og:url" content="https://www.assist.id" />
    <meta property="og:description" content="Assist.id, solusi manajemen klinik, apotek, rumah sakit dengan teknologi sistem informasi, aplikasi klinik yang mengelola rekam medis, odontogram, antrian, konsultasi online, stok obat, laporan, kasir didukung BPJS P-Care..." />

    <!--end-->


    <title>Assist.id - Software Aplikasi Klinik Umum, Gigi, Kecantikan, BPJS Terlengkap</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/apple-icon.png">

    <!-- Plugin CSS -->
    <link href="static/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/plugin/font-awesome/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="static/plugin/et-line/style.css" rel="stylesheet">
    <link href="static/plugin/themify-icons/themify-icons.css" rel="stylesheet">
    <link href="static/plugin/owl-carousel/css/owl.carousel.min.css" rel="stylesheet">
    <link href="static/plugin/magnific/magnific-popup.css" rel="stylesheet">
    <!-- End -->


    <!-- Theme css -->
    <link href="static/css/style.css" rel="stylesheet">
    <link href="static/css/color/default.css" rel="stylesheet" id="color_theme">
    <!-- End -->
    <%- include('scripts'); %>


</head>

<!-- Body Start -->
<body data-spy="scroll" data-target="#navbar" data-offset="98">

<!-- Loading -->
<div id="loading">
    <div class="load-circle"><span class="one"></span></div>
</div>
<!-- / -->

<!-- Header -->
<header>
    <nav class="navbar header-nav header-nav-dark navbar-expand-lg">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand" href="/">
                <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/logo.png" title="" alt="logo assist.id software klinik terbaik indonesia" style="max-height: 50px;">
            </a>
            <!-- / -->

            <!-- Mobile Toggle -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <!-- / -->

            <!-- Top Menu -->
            <div class="collapse navbar-collapse justify-content-end font-alt" id="navbar">
                <ul class="navbar-nav ml-auto align-items-center">

                    <li><a class="nav-link" href="#home">Beranda</a></li>
                    <li class="m-dropdown m-dropdown-multilevel">
                        <a class="nav-link">Produk</a>
                        <i class="fa fa-angle-down m-dropdown-toggle"></i>
                        <ul class="m-dropdown-menu">
                            <li><a href="/aplikasi-klinik">— Semua Produk —</a></li>
                            <li><a href="/aplikasi-klinik-berbasis-web-clinica">Clinica</a></li>
                            <li><a href="/software-klinik-privata">Privata</a></li>
                            <li><a href="/sistem-informasi-klinik-schedula">Schedula</a></li>
                            <li><a href="/aplikasi-apotek-pharma">Pharma</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link" href="/faq-sistem-informasi-klinik" >FAQ</a></li>
                    <li><a class="nav-link" href="/acara-kesehatan-assist-id">Events</a></li>

                    <li><a class="nav-link" href="https://blog.assist.id/" target="_blank">Blog</a></li>
                    <!--<li><a class="nav-link" href="https://intercom.help/assist-id" target="_blank">Bantuan</a></li>-->
                    <!--<li><a class="nav-link" href="/en"><img src="static/img/flag-icon-uk.png" alt="england flag change language" style="max-height: 20px;"></a></li>-->
                    <li><a class="nav-link-btn btn btn-theme m-25px-l md-m-0px-l" href="/demo-software-klinik" target="_blank">Daftar Sekarang</a></li>
                </ul>
            </div>
            <!-- / -->
        </div><!-- Container -->
    </nav> <!-- Navbar -->
</header>
<!-- Header End -->

<!-- Main -->
<main>



    <!--
    =============================
      Home Banner
    =============================
    -->

    <section id="home" class="home-banner-01 bg-effect-box">
        <div class="bg-effect bg-cover bg-fixed"></div>
        <div class="container">
            <div class="row align-items-center justify-content-center p-100px-tb md-p-50px-b">
                <div class="col-lg-7 md-p-30px-t">
                    <h5 class="theme-after dark-color">Solusi Digitalisasi Faskes Indonesia</h5>
                    <h1 class="font-alt dark-color">Software klinik dan apotek terbaik Anda</h1>
                    <p style="margin-bottom: 40px;">Nyaman Kelola Klinik Modern dengan Assist.id</p>
                    <div class="">
                        <div class="" style="margin-bottom: 10px;">
                            <a class="btn btn-theme" href="/demo-software-klinik" target="_blank">Demo Gratis</a>  &nbsp; <label style="font-size: 12px; margin-top: auto; margin-bottom: auto;"><a href="/atur-jadwal-demo-aplikasi-klinik" target="_blank">atau atur jadwal demo di faskes Anda</a></label>
                        </div>

                    </div>
                </div> <!-- col -->
                <div class="col-lg-5 text-center m-50px-t">
                    <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/software-klinik-komputer-mac-book-assist-id.png" title="" alt="macbook computer sistem informasi klinik fitur terlengkap assist.id">
                </div>
            </div> <!-- row -->
        </div>
    </section>
    <!-- / -->

    <!--modal start-->
    <div id="modalx" class="fade-in-bottom">
        <div class="modalconent">
            <span class="exx" onclick="document.getElementById('modalx').style.display='none'"><i class="fas fa-times" style="color: #145DFF"></i></span>
            <div class="row">
                <div class="hidd"></div>
                <div class="col-lg-3" style="text-align: center">
                    <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/book.png" alt="contoh ebook download dari email">
                </div>
                <div class="col-lg-6 marbotlef" >
                    <div class="std-box">
                        <label style="color: #145DFF; font-weight: bold; font-size: 20px;">E-book</label>
                        <h3 style="font-weight: bold; color: #000 !important;">Ingin tahu cara kelola Faskes di Era Millenial?</h3>
                        <p>Simak tips & trik dalam mengelola bisnis faskes di era millenial dan bagaimana cara mendapatkan lebih banyak pasien dengan memanfaatkan teknologi.</p>
                    </div>
                    <div class="subscribe-block" >
                        <div class="form-group">
                            <form method="post" action="/emailbook" onsubmit="donlot(); return false">
                                <input class="form-control" style="width: 71%;" type="email" placeholder="Email Anda" name="email" id="email" required>
                                <span class="input-focus-effect theme-bg"></span>
                                <button class="btn-theme btn" type="submit" style="border-bottom-left-radius: 0px;border-top-left-radius: 0px;">Download</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--modal ends-->

    <!--
    =============================
      About us
    =============================
    -->
    <section id="feature" class=" shapes-section bg-effect-box gray-bg">
        <div class="bg-effect bg-fixed bg-center-center" ></div>
        <div class="container">


            <div class="row align-items-center p-40px-t" style="margin-top: -70px;">
                <div class="col-md-6 order-last order-md-first">
                    <div class="std-box p-50px-lr md-p-0px-lr md-m-40px-t">

                        <h4 class="font-alt dark-color">Software Klinik Terbaik</h4>
                        <p>Sudah terlalu banyak beban yang Anda lakukan termasuk hal kecil.
                            Kami menyediakan software klinik berbasis cloud professional.
                            Berpengalaman dibidang kesehatan dan telah melayani klinik serta apotek professional.
                            <br>
                            <br>
                            Sehingga bisnis Anda dapat tercatat dengan baik, terdata, akses aman dimanasaja kapan saja.</p>
                        <div class="iconx">
                            <!-- <i class="ti-control-play theme-bg"></i>&nbsp;&nbsp;<a href="https://youtu.be/K283sg6Hv-0" target="_blank" class="">Lihat video cara kerja Assist.id</a> -->
                            <i class="ti-control-play theme-bg"></i>&nbsp;&nbsp;<a href="https://youtu.be/H_f_DGV7v5k" target="_blank" class="">Lihat video cara kerja Assist.id</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 aifrem">
                  <!-- <iframe class="aifrem-ins" src="https://www.youtube.com/embed/K283sg6Hv-0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                  <iframe class="aifrem-ins" src="https://www.youtube.com/embed/H_f_DGV7v5k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

        </div>
    </section>


    <section class="subscribe-section">
        <div class="container">
            <div class="subscribe-inner box-shadow">
                <div class="row align-items-center" align="center">

                    <div class="col-md-2" align="right">
                        <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/ico-potted-plant.png" alt="icon potted plant transparent" style="max-height: 50px;">
                    </div>
                    <div class="col-md-7" align="left">
                        <p class="cta-txt1"><span style="font-weight: bold">Tidak harus selalu ada di tempat,</span> kini Anda dapat monitor aktivitas klinik dan apotek dimanapun kapanpun secara real time.</p>
                    </div>
                    <div class="col-md-1">
                        <a class="btn btn-themewh cta-cent" href="/demo-software-klinik" target="_blank">Daftar Sekarang</a>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!--
    =============================
      Features
    =============================
    -->
    <section id="feature" class="section shapes-section bg-effect-box ">
        <div class="bg-effect bg-fixed bg-center-center"></div>
        <div class="container">

            <div class="row justify-content-center m-45px-b sm-m-25px-b">
                <div class="col-lg-9 col-md-10">
                    <div class="section-title text-center">
                        <h6 class="theme-color">Pilihan Terbaik Software Klinik Anda</h6>
                        <h3 style="font-weight: bold" class="dark-color font-alt">Solusi Terintegrasi untuk Seluruh Bisnis Klinik dan Apotek</h3>
                        <p>Kami paham kebutuhan pada sistem fasilitas kesehatan Anda mungkin berbeda-beda
                            <br>
                            Maka dari itu kami merancang produk khusus sesuai dengan kebutuhan Anda</p>
                    </div>
                </div>
            </div>
            <br>


            <div class="row align-items-center p-40px-b">
                <div class="col-md-6">
                    <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/pharma-software-apotek-terbaik-apotik-assist-id.png" title="" alt="pharma software apotek terbaik assist.id" style="border-radius: 10px;">
                </div>
                <div class="col-md-6">
                    <div class="std-box p-50px-lr md-p-0px-lr md-m-40px-t">

                        <h4 class="font-alt dark-color">Pharma</h4>
                        <label style="color: #145DFF; font-weight: bold">Untuk Apotek Waralaba dan Mandiri</label>
                        <p>Temukan potensi maksimal dari apotek Anda, pencatatan secara mendetail obat keluar dan masuk. Apotek Anda memiliki multi lokasi penyimpanan obat? Tidak masalah, Software Apotek Pharma dilengkapi dengan fitur depot. Pharma juga memiliki fitur POS khuus untuk apotek Anda.</p>
                        <ul class="list-type">
                            <li><i class="fas fa-check theme-bg"></i>Stok Obat</li>
                            <li><i class="fas fa-check theme-bg"></i>Peringatan Obat Habis</li>
                            <li><i class="fas fa-check theme-bg"></i>POS (Point of Sales)</li>
                        </ul>
                        <div class="btn-bar">
                            <a class="btn btn-theme" href="/sistem-apotek-pharma">Pelajari Pharma</a>
                        </div>
                    </div>
                </div>
            </div> <!-- row -->

            <div class="space-mtmb50"></div>

            <div class="row align-items-center p-40px-t">
                <div class="col-md-6 order-last order-md-first">
                    <div class="std-box p-50px-lr md-p-0px-lr md-m-40px-t">

                        <h4 class="font-alt dark-color">Clinica</h4>
                        <label style="color: #145DFF; font-weight: bold">Untuk Klinik Professional</label>
                        <p>Kendalikan dan monitor klinik Anda dengan cepat dan mudah. Berbagai fitur lengkap mulai dari pendaftaran pasien, antrian poli, rekam meis (EMR), odontogram, apotek, stock inventory, kasir hingga pelaporan lengkap dengan Software Klinik Clinica.</p>
                        <ul class="list-type">
                            <li><i class="fas fa-check theme-bg"></i>Rekam Medis Elektronik (EMR)</li>
                            <li><i class="fas fa-check theme-bg"></i>Standar ICD 10</li>
                            <li><i class="fas fa-check theme-bg"></i>Odontogram</li>
                        </ul>
                        <div class="btn-bar">
                            <a class="btn btn-theme" href="/sistem-informasi-klinik-clinica">Pelajari Clinica</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/clinica-software-klinik-terbaik-assist-id.png" title="" alt="clinica software klinik terbaik assist.id" style="border-radius: 10px;">
                </div>
            </div> <!-- row -->

            <div class="row justify-content-center buton-mid-prod">
                <div class="col-lg-9 col-md-10">
                    <div class="section-title text-center">
                        <a class="btnx btn-themew" href="/aplikasi-klinik">Lihat Seluruh Varian Produk</a>
                    </div>
                </div>
            </div>
            <!-- row --><!-- row --><!-- row -->

        </div>

        <div class="shapes-box">
        <span data-parallax='{"x": 150, "y": -20, "rotateZ":500}'>
            <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/fl-shape-1.png" title="" alt="purple pentagonal shape">
        </span>
            <span data-parallax='{"x": 250, "y": 150, "rotateZ":500}'>
            <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/fl-shape-2.png" title="" alt="yellow triangle shape">
        </span>
            <span data-parallax='{"x": -180, "y": 80, "rotateY":2000}'>
            <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/fl-shape-3.png" title="" alt="magenta triangle shape">
        </span>
            <span data-parallax='{"x": -20, "y": 180}'>
            <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/fl-shape-4.png" title="" alt="purple round shape">
        </span>
            <span data-parallax='{"x": 300, "y": 70}'>
            <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/fl-shape-5.png" title="" alt="magenta pentagonal shape">
        </span>
            <span data-parallax='{"x": 250, "y": 180, "rotateZ":1500}'>
            <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/fl-shape-6.png" title="" alt="yellow pentagonal shape">
        </span>
            <span data-parallax='{"x": 180, "y": 10, "rotateZ":2000}'>
            <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/fl-shape-7.png" title="" alt="purple triangle shape">
        </span>
            <span data-parallax='{"x": 60, "y": -100}'>
            <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/fl-shape-9.png" title="" alt="magenta round shape">
        </span>
            <span data-parallax='{"x": -30, "y": 150, "rotateZ":1500}'>
            <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/fl-shape-10.png" title="" alt="purple pentagonal shape">
        </span>
        </div>
    </section>

    <section id="about" class="section gray-bg">
        <div class="container" >
            <div class="row justify-content-center m-45px-b sm-m-25px-b">
                <div class="col-lg-9 col-md-10">
                    <div class="section-title text-center">
                        <h6 class="theme-color">Pilihan Terbaik Software Klinik Anda</h6>
                        <h3 style="font-weight: bold" class="dark-color font-alt">Solusi Terintegrasi untuk Seluruh Bisnis Klinik dan Apotek</h3>
                        <p>Sehingga bisnis Anda cepat tercatat dengan baik, terdata, akses aman dimana saja kapan saja.</p>
                    </div>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-lg-4 col-md-6 m-15px-tb">
                    <div class="feature-box-02 text-center">
                        <div class="icon">
                            <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/ico1.png" alt="icon beach with surf board" class="icomg">
                        </div>
                        <div class="feature-content">
                            <h5 class="font-alt dark-color">Pantau Aktivitas Real Time</h5>
                            <p>Tidak harus selalu ada ditempat, akses aktifitas Klinik dimana saja dan kapan saja Real Time.</p>
                        </div>
                    </div>
                </div> <!-- col -->

                <div class="col-lg-4 col-md-6 m-15px-tb">
                    <div class="feature-box-02 text-center">
                        <div class="icon">
                            <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/ico2.png" alt="icon three businessman" class="icomg">
                        </div>
                        <div class="feature-content">
                            <h5 class="font-alt dark-color">Ekspansi Cabang Klinik</h5>
                            <p>Assist.id mendukung Anda untuk mengelola lebih dari satu cabang dengan mudah.</p>
                        </div>
                    </div>
                </div> <!-- col -->

                <div class="col-lg-4 col-md-6 m-15px-tb">
                    <div class="feature-box-02 text-center">
                        <div class="icon">
                            <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/ico3.png" alt="icon monitor showing graph" class="icomg">
                        </div>
                        <div class="feature-content">
                            <h5 class="font-alt dark-color">Laporan Rapi & Terdata</h5>
                            <p>Print laporan kegiatan, keuangan, staff, stok obat, dan lainnya kapan saja Anda butuhkan dengan mudah.</p>
                        </div>
                    </div>
                </div> <!-- col -->

                <div class="col-lg-4 col-md-6 m-15px-tb">
                    <div class="feature-box-02 text-center">
                        <div class="icon">
                            <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/ico4.png" alt="icon play video" class="icomg">
                        </div>
                        <div class="feature-content">
                            <h5 class="font-alt dark-color">Desain User Friendly</h5>
                            <p>Tidak perlu waktu lama untuk mempelajari menggunakannya. Sistem didesain untuk mudah digunakan.</p>
                        </div>
                    </div>
                </div> <!-- col -->

                <div class="col-lg-4 col-md-6 m-15px-tb">
                    <div class="feature-box-02 text-center">
                        <div class="icon">
                            <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/ico5.png" alt="icon smartphone" class="icomg">
                        </div>
                        <div class="feature-content">
                            <h5 class="font-alt dark-color">Fitur Selalu Update</h5>
                            <p>Assist.id berkomitmen mengembangkan fitur dan keamanan untuk menjadi Aplikasi yang Terbaik.</p>
                        </div>
                    </div>
                </div> <!-- col -->

                <div class="col-lg-4 col-md-6 m-15px-tb">
                    <div class="feature-box-02 text-center">
                        <div class="icon">
                            <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/ico6.png" alt="icon customer service using headphone" class="icomg">
                        </div>
                        <div class="feature-content">
                            <h5 class="font-alt dark-color">Hubungi Kami 24/7</h5>
                            <p>Bila Anda memiliki kendala dan membutuhkan bantuan, kami ada setiap hari untuk mendampingi Anda.</p>
                        </div>
                    </div>
                </div> <!-- col -->
            </div> <!-- row -->
        </div> <!-- conainer -->
    </section>
    <!-- / -->


    <!--
   =============================
     Clients
   =============================
   -->
    <section class="section">
        <div class="container">
            <div class="row justify-content-center m-45px-b sm-m-25px-b">
                <div class="col-lg-9 col-md-10">
                    <div class="section-title text-center" align="center">
                        <h3 style="font-weight: bold" class="dark-color font-alt">Digunakan Oleh Klinik & Apotek Professional</h3>
                        <p class="m-0px">Mulai dari praktek pribadi dokter, bidan, apotek hingga klinik dari dalam dan luar kota Pekanbaru.</p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="testimonial theme-after col-md-3 mrg-lr-testi">
                    <div class="testimonial-info">
                        <div class="avtar"><img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/drg-willy-cw-dental-care-klinik-gigi-pekanbaru-apotek-willy-farma-software-apotek-software-klinik.jpeg" title="" alt="foto drg willy di klinik cw dental care"></div>
                        <div class="name">
                            <span class="font-alt dark-color">Drg. Willy Heriyanto</span>
                            <label>Pemilik CW Dental Care</label>
                        </div>
                    </div>

                    <div class="testimonial-content">
                        <p>“Saya sangat terbantu karena memasukkan data rekam medis lebih cepat dan mencari data lebih mudah. Saya juga dapat upload foto lab dan gigi mudah.”</p>
                    </div>
                </div> <!-- testimonial -->
                <div class="testimonial theme-after col-md-3 mrg-lr-testi">
                    <div class="testimonial-info">
                        <div class="avtar"><img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/dr-dwi-daryanto-klinik-ar-razi-siak-riau-klinik-gigi-software-apotek-software-klinik.jpg" title="" alt="foto testimoni dr dwi mengenai assist.id"></div>
                        <div class="name">
                            <span class="font-alt dark-color">Dr. Dwi Daryanto</span>
                            <label>Owner Klinik AR Razi Medika</label>
                        </div>
                    </div>

                    <div class="testimonial-content">
                        <p>“Assist.id sangat membantu klinik saya dalam digitalisasi management pelayanan modern. Melalui inovasinya, proses klinik jadi lebih mudah, terukur dan professional. Sukses terus untuk Assist.id!”</p>
                    </div>
                </div> <!-- testimonial -->
                <div class="testimonial theme-after col-md-3 mrg-lr-testi">
                    <div class="testimonial-info">
                        <div class="avtar"><img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/drg-isthika-yana-pdgi-pekanbaru-annual-scientific-session-acara-event-kedokteran-gigi-software-klinik-odontogram-assist-id.jpg" title="" alt="foto testimoni drg ishtika yana dalam pdgi pekanbaru"></div>
                        <div class="name">
                            <span class="font-alt dark-color">Drg. Isthika Yana</span>
                            <label>Ketua Pekanbaru Annual Scientific Session 2019 oleh PDGI Cabang Pekanbaru. </label>
                        </div>
                    </div>

                    <div class="testimonial-content">
                        <p>“Sistemnya keren, Saya paling suka dengan fitur odontogramnya Assist.id karena sangat interaktif bisa ditulis, bisa tinggal di klik.”</p>
                    </div>
                </div> <!-- testimonial -->

            </div>
        </div>
    </section>


    <!--
    =============================
      Contact Us
    =============================
    -->

    <section class="section gray-bg">
        <div class="container">
            <div class="row justify-content-center m-45px-b sm-m-25px-b">
                <div class="col-lg-9 col-md-10">
                    <div class="section-title text-center">
                        <h3 style="font-weight: bold" class="dark-color font-alt">Acara Kesehatan Bersama Assist.id</h3>
                        <p class="m-0px">Ikuti dan hadirilah setiap event kegiatan terbaru yang diselenggarakan oleh Assist.id</p>
                    </div>
                </div>
            </div>
            <!--event-->
            <div class="row event-info">
                <div class="col-md-6">
                    <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/IDI-Pekanbaru-Acara-Pertemuan-Ilmiah-Tahunan-1-IDI-Cabang-Pekanbaru-Alumni-FK-UNRI-Angkatan-2001-bersama-Assist-id-Aplikasi-Klinik.jpeg" alt="event idi kota pekanbaru" style="max-height: 500px;" onerror="this.src='static/img/favicon/apple-icon.png'">
                </div>
                <div class="col-md-6">
                    <h6 class="dark-color font-alt">Event IDI Cabang Pekanbaru</h6>
                    <h5 class="dark-color font-alt">Pertemuan Ilmiah Tahunan 1 IDI Cabang Kota Pekanbaru</h5>
                    <div style="margin-top: 30px;">
                        <p class="dark-color font-alt" style="font-size: 16px"><span style="margin-right: 10px;">  <i class="theme-color ti-calendar"></i></span>30 - 31 Maret 2019 </p>
                        <p class="dark-color font-alt" style="font-size: 16px"><span style="margin-right: 10px;">  <i class="theme-color ti-location-pin"></i></span>Hotel Pangeran, Pekanbaru</p>
                        <p class="dark-color font-alt" style="font-size: 12px">Acara ini membahas secara menyeluruh permasalahan hukum dari sisi tenaga medis sekaligus update ilmu pengetahuan dari berbagai bidang ilmu spesialisasi.
                        </p>
                    </div>
                    <a href="https://blog.assist.id/pertemuan-ilmiah-tahunan-1-idi-cabang-pekanbaru-alumni-fk-unri-angkatan-2001-bersama-assist-id" target="_blank" class="btn btn-theme" style="margin-top: 14px">Selengkapnya</a>
                </div>
            </div>
            <div class="row event-info">
                <div class="col-md-6">
                    <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/event-assist-id-3-pekanbaru-annual-scientific-session-2019-pdgi-cabang-pekanbaru-software-klinik-software-terbaik.jpg" alt="event pdgi kota pekanbaru" style="max-height: 500px;" onerror="this.src='static/img/favicon/apple-icon.png'">
                </div>
                <div class="col-md-6">
                    <h6 class="dark-color font-alt">Event PDGI Pekanbaru</h6>
                    <h5 class="dark-color font-alt">Pekanbaru Annual Scientific Session 2019 (PASS19)</h5>
                    <div style="margin-top: 30px;">
                        <p class="dark-color font-alt" style="font-size: 16px"><span style="margin-right: 10px;">  <i class="theme-color ti-calendar"></i></span>22 - 23 Februari 2019 </p>
                        <p class="dark-color font-alt" style="font-size: 16px"><span style="margin-right: 10px;">  <i class="theme-color ti-location-pin"></i></span>SKA Co-Ex, Pekanbaru</p>
                        <p class="dark-color font-alt" style="font-size: 12px">Pekanbaru Annual Scientific Session 2019 (PASS19) diselenggarakan oleh PDGI Cabang Pekanbaru, sponsored by Assist.id
                        </p>
                    </div>
                    <a href="https://blog.assist.id/pekanbaru-annual-scientific-session-2019-oleh-pdgi-pekanbaru-bersama-assist-id/" target="_blank" class="btn btn-theme" style="margin-top: 14px">Selengkapnya</a>
                </div>
            </div>
            <!--end event-->

            <div class="row justify-content-center buton-mid-prod2">
                <div class="col-lg-9 col-md-10">
                    <div class="section-title text-center">
                        <a class="btnx btn-themew" href="/acara-kesehatan-assist-id">Lihat Seluruh Event Assist.id</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="subscribe-section" style="margin-top: -100px; margin-bottom: 20px;">
        <div class="container" style="margin-top: 50px;">
            <div class="subscribe-inner box-shadow">
                <div class="row align-items-center" align="center">

                    <div class="col-md-2" align="right">
                        <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/ico-ok-hand-filled.png" alt="icon ok hand transparent" style="max-height: 50px;">
                    </div>
                    <div class="col-md-7" align="left">
                        <p class="cta-txt1"><span style="font-weight: bold">Coba dulu, Tentukan nanti</span><br>Tanpa biaya. Tanpa resiko. Konsultasikan kebutuhan klinik Anda.</p>
                    </div>
                    <div class="col-md-1">
                        <a class="btn btn-themewh cta-cent" href="/demo-software-klinik" target="_blank">Demo Gratis</a>
                    </div>
                </div>

            </div>
        </div>
    </section>


</main>
<!-- / -->
<%- include('footer'); %>
