<!doctype html>
<html lang="id">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!--start-->
    <meta name="author" content="Assist.id" />
    <meta name="google-site-verification" content="xaSOGYCxjaipS36lfuwWGfrYHzGC9D7SKHFztiC7HK0" />
    <meta name="keyword" content="assist.id, software, klinik rumah sakit, puskesmas, manajemen klinik">
    <meta name="description" content="Assist.id, solusi manajemen klinik, apotek, rumah sakit dengan teknologi sistem informasi, aplikasi klinik yang mengelola rekam medis, odontogram, antrian, konsultasi online, stok obat, laporan, kasir didukung BPJS P-Care...">
    <meta property="og:site_name" content="Assist.id" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Assist.id - Software Aplikasi Klinik Umum, Gigi, Kecantikan, BPJS Terlengkap" />
    <meta property="og:url" content="https://www.assist.id" />
    <meta property="og:description" content="Assist.id, solusi manajemen klinik, apotek, rumah sakit dengan teknologi sistem informasi, aplikasi klinik yang mengelola rekam medis, odontogram, antrian, konsultasi online, stok obat, laporan, kasir didukung BPJS P-Care..." />
    <!--end-->

    <title>Assist.id - Software Aplikasi Klinik Umum, Gigi, Kecantikan, BPJS Terlengkap</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/apple-icon.png">

    <!-- Plugin CSS -->
    <link href="static/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/plugin/font-awesome/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="static/plugin/et-line/style.css" rel="stylesheet">
    <link href="static/plugin/themify-icons/themify-icons.css" rel="stylesheet">
    <link href="static/plugin/owl-carousel/css/owl.carousel.min.css" rel="stylesheet">
    <link href="static/plugin/magnific/magnific-popup.css" rel="stylesheet">
    <!-- End -->

    <!-- Theme css -->
    <link href="static/css/stylev3.css" rel="stylesheet">
    <link href="static/css/color/defaultv3.css" rel="stylesheet" id="color_theme">
    <!-- End -->
    <%- include('scripts'); %>

</head>

<!-- Body Start -->
<body data-spy="scroll" data-target="#navbar" data-offset="98">

<!-- Loading -->
<div id="loading">
    <div class="load-circle"><span class="one"></span></div>
</div>
<!-- / -->

<!-- Header Biru -->
<header>
    <nav class="navbar header-biru header-nav-dark navbar-expand-lg">
        <div class="container">
        <a>Sistem Aplikasi Klinik Terbaik di Indonesia</a>
        <a>Hubungi Kami 0813-1000-0949 | Senin - Jumat (08.30 - 17.30 WIB)</a>
        </div>
    </nav>
</header>
<!-- Header Biru End -->

<!-- Header Putih -->
<header>
    <nav class="navbar header-nav header-nav-dark navbar-expand-lg">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand" href="/">
                <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/logo.png" title="" alt="logo assist.id software klinik terbaik indonesia" style="max-height: 50px;">
            </a>
            <!-- / -->

            <!-- Mobile Toggle -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <!-- / -->

            <!-- Top Menu -->
            <div class="collapse navbar-collapse justify-content-end font-alt" id="navbar">
                <ul class="navbar-nav ml-auto align-items-center">
                    <!-- Menu Tipe Failitas Kesehatan -->
                    <li class="m-dropdown m-dropdown-multilevel">
                        <a class="nav-link">Tipe Fasilitas Kesehatan</a>
                        <i class="fa fa-angle-down m-dropdown-toggle"></i>
                        <ul class="m-dropdown-menu">
                            <li><a href="/sistem-klinik-pratama-dan-utama-bpjs-online">Klinik Pratama dan Utama BPJS</a></li>
                            <li><a href="/sistem-klinik-kecantikan">Klinik Kecantikan</a></li>
                            <li><a href="/sistem-klinik-hemodialisis-hemodialisa">Klinik Hemodialisis</a></li>
                            <li><a href="/sistem-praktek-mandiri-dokter-dan-bidan-perorangan">Praktek Mandiri Dokter dan Bidan</a></li>
                            <li><a href="/sistem-manajemen-rumah-sakit-simrs">Rumah sakit</a></li>
                            <li><a href="/sistem-apotek-dan-farmasi">Apotek dan Farmasi</a></li>
                        </ul>
                    </li>
                    <!-- Menu Solusi -->
                    <li class="m-dropdown m-dropdown-multilevel">
                        <a class="nav-link">Solusi</a>
                        <i class="fa fa-angle-down m-dropdown-toggle"></i>
                        <ul class="m-dropdown-menu" style="width: 280px;">
                            <li><a href="#">Online Booking Konsultasi Dokter</a></li>
                            <li><a href="#">Pendaftaran Pasien</a></li>
                            <li><a href="#">Rekam Medis Elektronik (EMR)</a></li>
                            <li><a href="#">Data Stok obat Farmasi</a></li>
                            <li><a href="#">Kasir dan Pembayaran (POS)</a></li>
                            <li><a href="#">Laporan Otomatis</a></li>
                            <li><a href="#">Manajemen Komisi, Bonus, Gaji, Staff </a></li>
                        </ul>
                    </li>
                    <!-- Menu Produk -->
                    <li class="m-dropdown m-dropdown-multilevel">
                        <a class="nav-link">Produk</a>
                        <i class="fa fa-angle-down m-dropdown-toggle"></i>
                        <ul class="m-dropdown-menu" style="width: 110px;">
                            <li><a href="/aplikasi-klinik-berbasis-web-clinica">Clinica</a></li>
                            <li><a href="#">Hemoda</a></li>
                            <li><a href="/simrs-sistem-informasi-manajemen-rumah-sakit-online">Hospita</a></li>
                            <li><a href="/software-klinik-privata">Privata</a></li>
                            <li><a href="/sistem-informasi-klinik-schedula">Schedula</a></li>
                            <li><a href="/aplikasi-apotek-pharma">Pharma</a></li>
                        </ul>
                    </li>
                    <!-- Menu Harga -->
                    <li><a class="nav-link" href="/faq-sistem-informasi-klinik" >Harga</a></li>
                    <!-- Menu Lainnya -->
                    <li class="m-dropdown m-dropdown-multilevel">
                        <a class="nav-link">Lainnya</a>
                        <ul class="m-dropdown-menu">
                            <li><a href="#">About Us</a></li>
                            <li><a href="https://blog.assist.id/" target="_blank">Blog</a></li>
                            <li><a href="#">Referral</a></li>
                            <li><a href="/acara-kesehatan-assist-id">Acara Assist.id (Event)</a></li>
                            <li><a href="/faq-sistem-informasi-klinik">Frequently Asked Questoins (FAQ)</a></li>
                            <li><a href="#">Support</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link-btn btn btn-theme m-25px-l md-m-0px-l" href="/demo-software-klinik" target="_blank">Daftar Sekarang</a></li>
                </ul>
            </div>
            <!-- / -->
     </div><!-- Container -->
  </nav> <!-- Navbar -->
</header>
<!-- Header Putih End -->

<!-- Main -->
<main>

    <!--
    =============================
      Home Banner
    =============================
    -->

    <section id="home" class="home-banner-01 bg-effect-box">
        <div class="bg-effect bg-cover bg-fixed"></div>
        <div class="container">
            <div class="row align-items-center justify-content-center p-100px-tb md-p-0px-b ">
                <div class="col-lg-7 p-50px-t md-p-40px-t">
                    <h5 class="theme-after dark-color">Solusi Kelola Fasilitas Kesehatan Indonesia</h5>
                    <h1 class="font-alt dark-color">Kelola Klinik, Apotek <br> Lebih Mudah Pakai Assist.id</h1>
                    <p class="m-40px-b dark-color large-text1">Semua fasilitas kesehatan kini bisa terdigitilasi dengan mudah dan cepat</p>
                    <div class="">
                        <div class="m-10px-b">
                            <a class="btn btn-themewh4" href="/demo-software-klinik" target="_blank">Daftar Sekarang</a>  &nbsp; <label style="font-size: 15px; margin-top: auto; margin-bottom: auto;"><a href="/demo-software-klinik" target="_blank">Atau atur jadwal demo di klinik apotek Anda</a></label>
                        </div>

                    </div>
                </div> <!-- col -->
                <div class="col-lg-5 text-center m-50px-t sm-m-10px-t" style="padding: 0px;">
                    <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Sistem-Klinik-Terbaik-Assist-id-BPJS-Terintegrasi-Cloud-Online.png" title="" alt="sistem klinik terbaik assist.id bpjs terintegrasi cloud online" width="100%">
                </div>
            </div> <!-- row -->
        </div>
    </section>
    <!-- / -->

    <!--
    ========================================================
      Didesain Untuk Kondisi Klinik Setelah Pendemi Covid-19
    ========================================================
    -->
    <section class="gray-bg">
        <div class="alert alert-success text-center large-text1" role="alert">
            Jangan ditunda, mulai hari ini untuk sesi layanan online bisnis Anda bersama pelanggan setia Anda. <a href="/demo-software-klinik" target="_blank" class="alert-link-blue-color bldd">Daftar Sekarang </a>
        </div>
        <div class="container">
            <div class="row desain-info">
                <div class="col-md-6 aifrem sm-p-180px-t">
                    <iframe class="aifrem-ins" src="" data-src="https://www.youtube.com/embed/H_f_DGV7v5k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
               </div>
                <div class="col-md-6">
                    <div class="p-50px-lr p-30px-t md-p-0px-lr md-p-0px-t md-m-40px-t ">
                        <h4 class="dark-color font-alt desain-covid">Didesain Untuk Membantu <br>Operasional Klinik Lebih Mudah</h4>
                    <p class="dark-color font-alt">Kami membantu Anda mempercepat proses operasional dan pendaftaran pasien, pembayaran dan laporan otomatis sehingga Anda dapat memberikan pengalaman berobat terbaik ke pasien.</p>
                    <a href="https://youtu.be/H_f_DGV7v5k" class="desain-video" target="_blank">Lihat Video Cara Kerja Assist.id</a>
                </div>
                </div>
            </div>
         </div>
        </div>
    </section>

    <section class="subscribe-section">
        <div class="container">
            <div class="subscribe-inner box-shadow">
                <div class="row align-items-center" align="center">

                    <div class="col-md-2" align="right">
                        <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/ico-ok-hand-filled.png" alt="icon ok handfilled" style="max-height: 50px;">
                    </div>
                    <div class="col-md-7" align="left">
                        <p class="cta-txt1"><span style="font-weight: bold">Coba dulu, Tentukan nanti</span><br/> Tanpa biaya. Tanpa resiko. Konsultasikan kebutuhan klinik Anda.</p>
                    </div>
                    <div class="col-md-1">
                        <a class="btn btn-themewh cta-cent" href="/demo-software-klinik" target="_blank">Demo Gratis</a>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!--
    ====================================================
      Mudah Kelola Klinik dan Apotek Dalam Satu Aplikasi
    ====================================================
    -->

    <section id="feature" class="section-solusi shapes-section bg-effect-box ">
        <div class="bg-effect bg-fixed bg-center-center"></div>
        <div class="container">

            <div class="row justify-content-center sm-m-25px-b">
                <div class="col-lg-12 col-md-12 text-center">
                <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Fitur-Klinik-Sistem-Lengkap-Rekam-Medis-Pasien-Dokter-Assist-id.png" title="" alt="fitur klinik sistem lengkap rekam medis pasien dokter assist.id">
                </div>
                <div class="col-lg-12 col-md-10">
                    <div class="section-title text-center">
                         <h3 class="dark-color font-alt bldd">Mudah Kelola Klinik dan Apotek Dalam Satu Aplikasi</h3>
                        <p class="kelola-p" style="font-size: 18px;">Assist.id hadir sebagai solusi manajemen informasi fasilitas kesehatan Indonesia berbasis cloud profesional
                        <br>
                        sehingga platform Assist.id dapat diakses berbagai device seperti komputer, tablet dan smartphone yang
                        <br> didesain simple dan mudah digunakan untuk Tim anda</p><br><br>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="row">
                       <div class="col-md-m-25px-t col-sm-m-15px">
                        <div class="kelola-imgx">
                            <div class="img">
                                <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-network-2-64%20(1).png" title="" alt="icon network">
                            </div>
                          </div>
                       </div>
                      <div class="col-md-3 col-sm-6 m-30px-b m-30px-r">
                        <div class="our-kelola-01">
                          <div class="teax-kelola">
                            <h6 class="theme-color">Cukup Satu Aplikasi</h6>
                            <p style="margin-top: 10px; color: black;">Tidak perlu install banyak aplikasi di klinik Anda. Pendaftaran, Rekam Medis, Stok Obat, Kasir hingga Laporan saling terhubung dalam satu aplikasi.</p>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-m-25px-t col-sm-m-15px">
                        <div class="kelola-imgx">
                            <div class="img">
                                <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-treatment-list-64.png" title="" alt="icon treatment">
                            </div>
                          </div>
                       </div>
                      <div class="col-md-3 col-sm-6 m-30px-b m-30px-r">
                        <div class="our-kelola-01">
                          <div class="teax-kelola">
                            <h6 class="theme-color">Laporan Otomatis</h6>
                            <p class="m-10px-t dark-color">Waktu Anda sangat berharga, segera beralih kepada proses laporan otomatis modern dan akurat untuk menghemat waktu Anda.</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-m-25px-t col-sm-m-15px">
                        <div class="kelola-imgx">
                            <div class="img">
                                <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-notebook-computer-64.png" title="" alt="icon notebook">
                            </div>
                          </div>
                       </div>
                      <div class="col-md-3 col-sm-6 m-30px-b m-30px-r">
                        <div class="our-kelola-01">
                          <div class="teax-kelola">
                            <h6 class="theme-color">Akses Multiplatform</h6>
                            <p class="m-10px-t dark-color">Dengan bantuan teknologi terbaru, Anda dapat lebih fokus kepada bisnis faskes Anda untuk menjaga pelanggan Anda kembali lagi dan lagi.</p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-m-25px-t col-sm-m-15px">
                        <div class="kelola-imgx">
                            <div class="img">
                                <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-star-filled-64.png" title="" alt="icon star">
                            </div>
                          </div>
                       </div>
                      <div class="col-md-3 col-sm-6 m-30px-b m-30px-r">
                        <div class="our-kelola-01">
                          <div class="teax-kelola">
                            <h6 class="theme-color">Pengalaman Terbaik</h6>
                            <p class="m-10px-t dark-color">Proses Pelayanan jadi lebih cepat dan profesional dengan fitur Panggilan Pasien Otomatis, Menampilkan Antrian Pasien yang ada di TV Klinik / Apotek Anda.</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-m-25px-t col-sm-m-15px">
                        <div class="kelola-imgx">
                            <div class="img">
                                <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-user-groups-64.png" title="" alt="icon group">
                            </div>
                          </div>
                       </div>
                      <div class="col-md-3 col-sm-6 m-30px-b m-30px-r">
                        <div class="our-kelola-01">
                          <div class="teax-kelola">
                            <h6 class="theme-color">Berdayakan Tim Klinik</h6>
                            <p class="m-10px-t dark-color">Kini manajemen melakukan penggajian karyawan (payroll), komisi tindakan dan penjualan, bonus, kinerja tim Anda menjadi lebih ringan dari sebelumnya.</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-m-25px-t col-sm-m-15px">
                        <div class="kelola-imgx">
                            <div class="img">
                                <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-rocket-64.png" title="" alt="icon rocket">
                            </div>
                          </div>
                       </div>
                      <div class="col-md-3 col-sm-6 m-30px-b m-30px-r">
                        <div class="our-kelola-01">
                          <div class="teax-kelola">
                            <h6 class="theme-color">Kembangkan Bisnis Klinik</h6>
                            <p class="m-10px-t dark-color">Jadi klinik luar biasa dengan solusi teknologi modern, Anda dapat lebih fokus kepada bisnis faskes Anda untuk menjaga pelanggan Anda kembali lagi dan lagi.</p>
                          </div>
                        </div>
                      </div> <!-- col -->
                    </div> <!-- row -->
                  </div>
            </div>
        </div>
    </section>

    <!--
    ===============================================
      Jalankan Bisnis Dengan Memanfaatkan Teknologi
    ===============================================
    -->
    <section>
        <div class="container">
            <div class="row justify-content-center m-80px-b sm-m-25px-b">
                <div class="section-title text-center">
                    <h3 class="dark-color font-alt bldd">Jalankan Bisnis Dengan Memanfaatkan Teknologi</h3>
                   <p class="kelola-p large-text" style="font-size: 18px;">Solusi dari awal hingga kontrol dan monitor. Platform Assist.id membantu Anda membuat proses operasional
                    <br>lebih cepat dan efektif dengan fitur yang lengkap untuk melayani pasien dengan pelayanan yang terbaik.
                    <br> didesain simple dan mudah digunakan untuk Tim anda</p><br/>
               </div>
                <div class="col-lg-12">
                  <div class="row text-center" >
                    <div class="col-lg-22 col-md-6 m-15px-tb">
                        <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Fitur-Booking-Konsultasi-Online-Dokter-Praktek-Klinik.png" title="" alt="booking" style="width: 50%;">
                        <br>
                        <h6 class="dark-color font-alt p-15px-t bldd">Booking Konsultasi</h6>
                    </div>
                    <div class="col-lg-22 col-md-6 m-15px-tb">
                        <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Fitur-Catat-Rekam-Medis-Pasien-Elektronik-EMR-Online-Klinik-Dokter.png" title="" alt="rekam medis" style="width: 38%;">
                        <br>
                        <h6 class="dark-color font-alt p-15px-t bldd" >Rekam Medis</h6>
                    </div>
                    <div class="col-lg-22 col-md-6 m-15px-tb">
                        <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Data-Stok-Obat-Apotek-Farmasi-Klinik.png" title="" alt="stok obat" style="width: 65%;">
                        <br>
                        <h6 class="dark-color font-alt p-15px-t bldd">Data Stok Obat</h6>
                    </div>
                    <div class="col-lg-22 col-md-6 m-15px-tb">
                        <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Fitur-Kasir-Pembayaran-POS-Klinik.png" title="" alt="pembayaran" style="width: 53%;">
                        <br>
                        <h6 class="dark-color font-alt p-15px-t bldd">Kasir Pembayaran</h6>
                    </div>
                    <div class="col-lg-22 col-md-6 m-15px-tb">
                        <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Fitur-Laporan-Otomatis-Klinik.png" title="" alt="kasir" style="width: 48%;">
                        <br>
                        <h6 class="dark-color font-alt p-15px-t bldd">Laporan Otomatis</h6>
                    </div>
                    <div class="col-lg-22 col-md-6 m-15px-tb">
                        <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Fitur-Manajemen-Akun-Hak-Akses-Staff-Klinik.png" title="" alt="laporan" style="width: 60%;">
                        <br>
                        <h6 class="dark-color font-alt p-15px-t bldd">Manajemen Staff</h6>
                    </div>
                </div>
                </div>
                    <a href="/aplikasi-klinik-berbasis-web-clinica"  class="theme-color bldd p-30px-t text-center" target="_blank">Mau lihat seluruh fitur Assist.id? Yuk jelajahi seluruh fitur Assist.id</a>
            </div>
        </div>
    </section>
    <hr size="10px" width="50%" class="borderpemisah"> <!-- Garis -->

    <!--
    ===========================================================
      Sistem Cocok Digunakan Berbagai Jenis Fasilitas Kesehatan
    ===========================================================
    -->

    <div class="container">
        <div class="row justify-content-center m-40px-b sm-m-220px-b">
            <div class="col-lg-12 col-md-10"><br/>
                <div class="section-title text-center">
                    <h3 class="dark-color font-alt bldd">Sistem Cocok Digunakan Berbagai Jenis Fasilitas Kesehatan</h3>
                   <p class="kelola-p large-text" style="font-size: 18px;">Mulai dari praktek pribadi hingga klinik dan apotek multi cabang bisa menggunakan Assist.id
                    <br>Kami paham kebutuhan pada sistem fasilitas kesehatan Anda mungkin berbeda beda
                    <br>maka dari itu kami merancang product khusus sesuai dengan kebutuhan Anda.</p><br/>
               </div>
                <div class="row sistem-info">
                    <div class="col-md-6 ">
                        <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Sistem-klinik-umum-bpjs-kecantikan-hemodialisis-dpp-dokter-lengkap-assist-id1.png" title="" alt="sistem klinik umum bpjs">
                     </div>
                    <div class="col-md-6 p-15px-r p-30px-t">
                        <div class="sistem-row">
                            <div class="faq-header">
                                <a class="sistem-title" href="/sistem-klinik-pratama-dan-utama-bpjs-online">
                                <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-treatment-list-64.png" title="" alt="icon treatment" width="10%">
                                    Klinik Utama dan Pratama BPJS
                                </a>
                            </div>
                        </div>
                        <div class="sistem-row">
                            <div class="faq-header">
                                <a class="sistem-title" href="#">
                                    <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-facial-mask-64.png" title="" alt="icon facial" width="10%">
                                    Klinik Kecantikan
                                </a>
                            </div>
                        </div>
                        <div class="sistem-row">
                            <div class="faq-header">
                                <a class="sistem-title" href="#">
                                    <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-notebook-computer-64.png" title="" alt="icon notebook" width="10%">
                                    Klinik Hemodialisis
                                </a>
                            </div>
                        </div>
                        <div class="sistem-row">
                            <div class="faq-header">
                                <a class="sistem-title" href="#">
                                    <img src='static/img/ico/icons8-surgeon-skin-type-1-64.png' title="" alt="icon doctor" width="10%">
                                    Praktek Mandiri Dokter dan Bidan
                                </a>
                            </div>
                        </div>
                        <div class="sistem-row">
                            <div class="faq-header">
                                <a class="sistem-title" href="#">
                                    <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-clinic-64.png" title="" alt="icon clinic" width="10%">
                                    Rumah Sakit
                                </a>
                            </div>
                        </div>
                        <div class="sistem-row">
                            <div class="faq-header">
                                <a class="sistem-title" href="#">
                                    <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-hand-with-a-pill-64.png" title="" alt="icon pill" width="10%">
                                   Apotek dan Farmasi
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br/>

    <!--
    ===========================================
      Ragu Pindah dari Sistem Lama? Kami Bantu!
    ===========================================
    -->

    <section class="sectionklinik gray-bg">
        <div class="container">
            <div class="row justify-content-center m-45px-b sm-m-25px-b">
                <div class="col-lg-9 col-md-10">
                    <div class="section-title text-center"><br/>
                        <h4 class="theme-color bldd" style="color:#2b64af">Ragu Pindah dari Sistem Lama? Kami Bantu!</h4>
                    </div>
                </div>
            </div>
        <div class="row align-items-center">
        <div class="col-md-6">
            <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Kami-bantu-pindah-sistem-klinik-mudah-migrasi-data-assist-id.png" title="" alt="migrasi data">
        </div>
        <div class="col-md-6">
            <div class="std-box p-25px-l p-55px-r md-p-0px-lr md-m-40px-t">
                <p class="dark-color1 font-alt large-text">Sebagai ahli dalam sistem manajemen pengolalaan klinik, Tim Assist.id akan bekerja sama langsung dengan Anda untuk melakukan <b>migrasi data klinik</b> dan melakukan transisi yang dibutuhkan agar <b>karyawan Anda bisa mulai mengunakan.</b></p>
                <div class="btn-bar">
                <a class="btn btn-themewh2 cta-cent" href="/demo-software-klinik" target="_blank">Demo Gratis</a>&nbsp;&nbsp;&nbsp;
                <a class="btn btn-hubungi cta-cent" href="/demo-software-klinik" target="_blank">Hubungi kami</a>
                </div>
            </div>
        </div>
        </div>
        </div>
    </section> <!-- row -->
    <br><br>

 <!--
    ====================================================
      Telah Dipercaya Lebih dari 130 Fasilitas Kesehatan
    ====================================================
    -->

    <section class="section-solusi">
        <div class="container">
            <div class="row justify-content-center m-40px-b sm-m-25px-b">
                <div class="col-lg-9 col-md-10">
                    <div class="section-title text-center"><br/>
                        <h3 class="dark-color font-alt bldd">Telah Dipercaya Lebih dari 130 Fasilitas Kesehatan</h3><br/><br/>
                    </div>
                </div>
                    <div class="logokerjasama">
                        <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Klinik-hilya-syari-clinic-kecantikan-assist-id.png" title="" alt="logo" width="12%">
                        <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/klinik-Kiara-healthcare-clinic-jakarta-assist-id.png" title="" alt="logo" width="9%">
                        <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Klinik-jogja-yogya-dental-clinic-assist-id.jpeg" title="" alt="logo" width="7%">
                        <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Klinik-pratama-labuh-baru-dokter-keluarga-pekanbaru-assist-id.JPG" title="" alt="logo" width="11%">
                        <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Klinik-lanud-roesmin-pekanbaru-assist-id.png" title="" alt="logo" width="7%">
                        <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Klinik-Dewa-Medika-Clinic-Jakarta-Cikarang-assist-id.jpeg" title="" alt="logo" width="12%">
                        <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Padjadjaran Clinic KH, Leles _ Jatinangor.png" title="" alt="logo" width="8%">
                    </div>
                    <div class="logokerjasama">
                        <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/klinik-rumah-sakit-Annisa-Medika-2-pekanbaru-assist-id.jpeg" title="" alt="logo" width="12%">
                        <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Klinik-padjajaran-itenas-bandung-assist-id.jpeg" title="" alt="logo" width="9%">
                        <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Klinik-alda-pekanbaru-assist-id.png" title="" alt="logo" width="7%">
                        <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Klinik-mutiara-cikutra-kmc-bandung-assist-id.png" title="" alt="logo" width="11%">
                        <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/UNRI Sehati I Clinic.jpeg" title="" alt="logo" width="7%">
                        <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/SKDC.jpg" title="" alt="logo" width="12%">
                        <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Klinik-hera-beauty-bar-pekanbaru-kecantikan-assist-id.jpg" title="" alt="logo" width="8%">
                    </div>
                    <div class="logokerjasama">
                        <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/bona-mitra.png" title="" alt="logo" width="9%">
                        <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Klinik-hemodialisa-cycare-hemodialysis-clinic-assist-id.jpg" title="" alt="logo" width="7%">
                        <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Klinik-Essa-Medic-Care-Clinic-Assist-id.jpeg" title="" alt="logo" width="11%">
                        <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/klinik-dewa-ayu-beauty-care-bekasi-assist-id.jpeg" title="" alt="logo" width="9%">
                        <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Klinik-pratama-universitas-abdurrab-pekanbaru-assist-id.jpeg" title="" alt="logo" width="7%">
                    </div>
                </div>
            </div>
    </section>

<!--
    =============================
      Testimonial Pelanggan Kami
    =============================
    -->

  <div class="container" >
    <div class="row justify-content-center m-20px-b sm-m-25px-b">
        <h4 class="theme-color bldd md-p-15px-t" style="color:#2b64af">Testimonial Pelanggan Kami</h4>
    </div>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/testimonial-sistem-klinik-terbaik-assist-id.png" alt="testimonial sistem klinik terbaik assist.id" class="d-block w-50" >
            <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/testimonial-sistem-klinik-terbaik-assist-id-bpjs.png" alt="testimonial sistem klinik terbaik assist.id bpjs" class="d-block w-50" >
           </div>
           <div class="carousel-item">
            <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/testimonial-willy-cw-dental-care-pekanbaru-sistem-klinik-gigi-terbaik-assist-id.png" alt="testimonial willy cw dental care pekanbaru" class="d-block w-50 m-15px-r sm-m-10px-r">
            <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/testimonial-klinik-arrazi-medika-siak-pratama-sistem-klinik-terbaik-assist-id.png" alt="testimonial klinik arrazi medika siak pratama"  class="d-block w-50" >
           </div>
           <div class="carousel-item">
            <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/testimonial-ketua-pekanbaru-annual-scientific-session-2019-PDGI-pekanbaru-isthika-sistem-klinik-terbaik-assist-id.png" alt="testimonial ketua pekanbaru annual scientific session 2019 PDGI pekanbaru isthika" class="d-block w-50" >
           </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
</div><br/><br/><br/>

<!--
    ============================================================
      Bagaimana cara klinik bertahan ditengah Pandemi COVID-19 ?
    ============================================================
    -->

<section class="sectionklinik gray-bg">
    <div class="container">
<div class="row align-items-center">
    <div class="col-md-6">
        <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/sistem-klinik-pandemi-corona-covid19-assist-id.png"  title="" alt="sistem klinik pendemi covid19 assist.id">
    </div>
    <div class="col-md-6">
        <div class="std-box p-25px-l p-55px-r md-p-0px-lr md-m-40px-t">

            <h4 class="dark-color font-alt" style="color: #2b64af;">Bagaimana cara klinik bertahan <br/> ditengah Pandemi COVID-19 ?</h4>
            <p class="dark-color1 font-alt large-text">Physical distancing adalah tanggung jawab bersama. Dampak dari physical distancing mempengaruhi hampir semua cashflow berbagai bisnis melambat. Lalu bagaimana dengan bisnis kesehatan? Yuk baca ebook gratis langsung dari Assist.id</p>
           <div class="btn-bar">
            <a href="#" style="margin-top: 12px;font-size: 18px;">Download Ebook Assist.id</a>
            </div>
        </div>
    </div>
    </div>
    </div>
</section> <!-- row -->

<!--
    =============================
      Kegiatan Assist.id
    =============================
    -->
    <div class="container">
        <div class="row justify-content-center m-30px-b sm-m-10px-b m-50px-t sm-m-25px-t">
            <h4 class="theme-color bldd md-p-15px-t" style="color:#2b64af">Kegiatan Assist.id</h4>
        </div>
    <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/kegiatan-smart-heatlh-initiative-palembang-assist-id.png" alt="kegiatan smart heatlh initiative palembang assist id" class="d-block w-100" style="border-radius: 10px;">
          </div>
          <div class="carousel-item">
            <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/training-sistem-klinik-terlengkap-assist-id.png" alt="training sistem klinik terlengkap assist id" class="d-block w-100" style="border-radius: 10px;">
          </div>
          <div class="carousel-item">
            <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/antusiasme-kemkominfo-asklin-sistem-klinik-pekanbaru-assist-id.png" alt="antusiasme kemkominfo asklin sistem klinik pekanbaru assist id" class="d-block w-100" style="border-radius: 10px;">
          </div>
          <div class="carousel-item">
            <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/kegiatan-health-inititative-pekanbaru-assist-id-aplikasi-klinik-lengkap terbaik.png" alt="kegiatan health inititative pekanbaru assist id aplikasi klinik lengkap terbaik" class="d-block w-100" style="border-radius: 10px;">
          </div>
          <div class="carousel-item">
            <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/smart-health-initiative-kabupaten-bandung-asklin-aplikasi-klinik-lengkap-assist-id.png" alt="smart health initiative kabupaten bandung asklin aplikasi klinik lengkap assist id" class="d-block w-100" style="border-radius: 10px;">
          </div>
          <div class="carousel-item">
            <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/paltv-palembang-tv-sistem-klinik-palembang-assist-id.png" alt="paltv palembang tv sistem klinik palembang assist id" class="d-block w-100" style="border-radius: 10px;">
          </div>
          <div class="carousel-item">
            <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/idi-pekanbaru-sistem-klinik-murah-terbaik-assist-id.png" alt="idi pekanbaru sistem klinik murah terbaik assist id" class="d-block w-100" style="border-radius: 10px;">
          </div>
          <div class="carousel-item">
            <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/idi-pekanbaru-alumni-fakultas-sistem-aplikasi-klinik-assist-id.png" alt="idi pekanbaru alumni fakultas sistem aplikasi klinik assist id" class="d-block w-100" style="border-radius: 10px;">
          </div>
          <div class="carousel-item">
            <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/perawat-rumah-sakit-klinik-aplikasi-sistem-assist-id.png" alt="perawat rumah sakit klinik aplikasi sistem assist id" class="d-block w-100" style="border-radius: 10px;">
          </div>
          <div class="carousel-item">
            <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/sistem-apotek-klinik-assist-id-farmasi-obat-pekanbaru-bandung-jakarta-medan.png" alt="sistem apotek klinik assist id farmasi obat pekanbaru bandung jakarta medan" class="d-block w-100" style="border-radius: 10px;">
          </div>
          <div class="carousel-item">
            <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/idi-pekanbaru-sistem-klinik-murah-terbaik-assist-id.png" alt="idi pekanbaru sistem klinik murah terbaik assist id" class="d-block w-100" style="border-radius: 10px;">
          </div>
          <div class="carousel-item">
            <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/implementasi-sistem-klinik-pratama-bpjs-assist-id.png" alt="implementasi sistem klinik pratama bpjs assist id" class="d-block w-100" style="border-radius: 10px;">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <!--
    ===========================================================
      Partner & Media Publicity Assist.id
    ===========================================================
    -->

    <div class="container" >
        <div class="row justify-content-center m-90px-t m-50px-b sm-m-25px-tb">
            <div class="section-title text-center">
            <h4 class="dark-color1 bldd md-p-15px-t">Partner & Media Publicity Assist.id</h4>
            </div>
        </div>
        <div class="marquee p-80px-b sm-p-25px-b">
            <div class="marquee-content">
                <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/techinasia-startup-healthtech-kesehatan-sistem-klinik-jakarta-assist-id.png" alt="logo techinasia">
                <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Kontan-ekonomi-sistem-klinik-indonesia-assist-id.png" alt="logo kontan ekonomi">
                <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/kementrian-ristek-dikti-sistem-klinik-terbaik-assist-id.png" alt="logo kementrian ristek dikti">
                <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/persatuan-dokter-gigi-indonesia-pekanbaru-pdgi-assist-id.png" alt="logo persatuan dokter gigi indonesia">
                <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/asosiasi-klinik-indonesia-asklin-bandung-pekanbaru-riau-assist-id.png" alt="logo asosiasi klinik indonesia">
                <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Logo-kemkominfo-id-sistem-klinik-assist-id.png" alt="logo kemkominfo">
                <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/healthtech-id-sistem-klinik-terbaik-assist-id.png" alt="logo healthtech">
            </div>
        </div>
    </div>
    <hr size="10px" width="55%" class="borderpemisah">


<!--
    ===========================================================
      Aplikasi Manajemen Klinik dan Apotek Terbaik di Indonesia
    ===========================================================
    -->

    <div class="container">
        <div class="row justify-content-center m-80px-b sm-m-25px-b">
            <div class="col-lg-12 col-md-10"><br/>
                <div class="section-title text-center">
                    <h4 class="dark-color font-alt bldd">Aplikasi Manajemen Klinik dan Apotek Terbaik di Indonesia</h4>
                    <p class="m-0px dark-color" style=" font-size: 18px; margin-top: -10px; line-height: 50px;">Lihat Bagaimana Assitd.id membantu Bisnis Anda</p>
                </div>

                <div class="row manajemen-info">
                    <div class="col-md-6 aifrem1 sm-p-180px-t">
                        <iframe class="aifrem1-ins" src="" data-src="https://www.youtube.com/embed/FEJ8OKabKJU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                   </div>

                    <div class="col-md-6">
                        <div class="p-50px-r p-30px-t md-p-0px-lr md-p-0px-t md-m-40px-t ">
                            <h6 class="dark-color font-alt">SOLUSI LAPORAN KEUANGAN OTOMATIS</h6>
                        <p class="dark-color font-alt large-text2 p-100px-r sm-p-0px-r">Apakah Anda masih merekap laporan keuangan secara manual di klinik? Di tengah pandemi ini, Klinik harus lebih berinovasi dan flexible. Lihat fitur Assist.id selengkapnya.</p>
                        <a href="https://youtu.be/FEJ8OKabKJU" class="manajemen-video" target="_blank">Lihat Video Fitur Laporan Keuangan</a>
                    </div>
                    </div>
                </div>

                <div class="row manajemen-info">
                    <div class="col-md-6 aifrem1 sm-p-180px-t">
                        <iframe class="aifrem1-ins" src="" data-src="https://www.youtube.com/embed/K283sg6Hv-0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                   </div>

                    <div class="col-md-6">
                        <div class="p-50px-r p-30px-t md-p-0px-lr md-p-0px-t md-m-40px-t ">
                            <h6 class="dark-color font-alt p-20px-t md-p-0px-t">ALUR LENGKAP MENGGUNAKAN ASSIST.ID</h6>
                        <p class="dark-color font-alt large-text2 p-100px-r sm-p-0px-r">Lihat alur lengkap penggunaan Assist.id mulai dari Pendaftaran, Rekam Medis, Data Stok Obat Apotek Kasir hingga laporan mudah.</p>
                        <a href="https://youtu.be/K283sg6Hv-0" class="manajemen-video" target="_blank">Lihat Video Alur Assist.id</a>
                    </div>
                    </div>
                </div>

                <div class="row manajemen-info">
                    <div class="col-md-6 aifrem1 sm-p-180px-t">
                        <iframe class="aifrem1-ins" src="" data-src="https://www.youtube.com/embed/mqliUDrdKSw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                   </div>

                    <div class="col-md-6">
                        <div class="p-50px-r p-30px-t md-p-0px-lr md-p-0px-t md-m-40px-t ">
                            <h6 class="dark-color font-alt p-20px-t md-p-0px-t">KARYAWAN CAPEK ANTAR RESEP DI KLINIK</h6>
                        <p class="dark-color font-alt large-text2 p-100px-r sm-p-0px-r">Karyawan klinik ambil rekam medis pasien dibagian pendaftaran untuk diantar ke ruang dokter. Bagaimana solusi dari Assist.is?</p>
                        <a href="https://youtu.be/mqliUDrdKSw" class="manajemen-video" target="_blank">Lihat Video Fitur Lengkap Terintegrasi</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--
    ===================================
      Acara Kesehatan Bersama Assist.id
    ===================================
    -->

    <section class="section gray-bg">
        <div class="container">
            <div class="row justify-content-center m-45px-b sm-m-25px-b">
                <div class="col-lg-9 col-md-10">
                    <div class="section-title text-center">
                        <h4 class="dark-color font-alt bldd">Acara Kesehatan Bersama Assist.id</h4>
                        <p class="m-0px dark-color1" style="font-size: 20px; margin-top: -10px; line-height: 50px;">Ikuti dan hadirilah setiap event kegiatan terbaru yang diselenggarakan oleh Assist.id</p>
                    </div>
                </div>
            </div>
            <!--event-->
            <div class="row event-info">
                <div class="col-md-6">
                    <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/IDI-Pekanbaru-Acara-Pertemuan-Ilmiah-Tahunan-1-IDI-Cabang-Pekanbaru-Alumni-FK-UNRI-Angkatan-2001-bersama-Assist-id-Aplikasi-Klinik.jpeg" alt="event idi kota pekanbaru" style="max-height: 500px;" onerror="this.src='static/img/favicon/apple-icon.png'">
                </div>
                <div class="col-md-6">
                    <h6 class="dark-color font-alt">Event IDI Cabang Pekanbaru</h6>
                    <h5 class="dark-color font-alt">Pertemuan Ilmiah Tahunan 1 IDI Cabang Kota Pekanbaru</h5>
                    <div class="lg-m-30px-t">
                        <p class="dark-color1 font-alt" style="font-size: 16px;padding-top: 10px;"><span style="margin-right: 10px;">  <i class="theme-color ti-calendar"></i></span>30 - 31 Maret 2019 </p>
                        <p class="dark-color1 font-alt" style="font-size: 16px"><span style="margin-right: 10px;">  <i class="theme-color ti-location-pin"></i></span>Hotel Pangeran, Pekanbaru</p>
                        <p class="dark-color1 font-alt" style="font-size: 12px">Acara ini membahas secara menyeluruh permasalahan hukum dari sisi tenaga medis sekaligus update ilmu pengetahuan dari berbagai bidang ilmu spesialisasi.
                        </p>
                    </div>
                    <a href="https://blog.assist.id/pertemuan-ilmiah-tahunan-1-idi-cabang-pekanbaru-alumni-fk-unri-angkatan-2001-bersama-assist-id" target="_blank"  style="margin-top: 14px">Baca Selengkapnya ></a>
                </div>
            </div>
            <div class="row event-info">
                <div class="col-md-6">
                    <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/event-assist-id-3-pekanbaru-annual-scientific-session-2019-pdgi-cabang-pekanbaru-software-klinik-software-terbaik.jpg" alt="event pdgi kota pekanbaru" style="max-height: 450px;" onerror="this.src='static/img/favicon/apple-icon.png'">
                </div>
                <div class="col-md-6">
                    <h6 class="dark-color font-alt">Event PDGI Pekanbaru</h6>
                    <h5 class="dark-color font-alt">Pekanbaru Annual Scientific Session 2019 (PASS19</h5>
                    <div class="lg-m-30px-t">
                        <p class="dark-color1 font-alt" style="font-size: 16px;padding-top: 10px;"><span style="margin-right: 10px;">  <i class="theme-color ti-calendar"></i></span>22 - 23 Februari 2019 </p>
                        <p class="dark-color1 font-alt" style="font-size: 16px"><span style="margin-right: 10px;">  <i class="theme-color ti-location-pin"></i></span>SKA Co-Ex, Pekanbaru</p>
                        <p class="dark-color1 font-alt" style="font-size: 12px">Pekanbaru Annual Scientific Session 2019 (PASS19) diselenggarakan oleh PDGI Cabang Pekanbaru, sponsored by Assist.id</p>
                    </div>
                    <a href="https://blog.assist.id/pekanbaru-annual-scientific-session-2019-oleh-pdgi-pekanbaru-bersama-assist-id/" target="_blank" style="margin-top: 14px">Baca Selengkapnya ></a>
                </div>
            </div>
            <!--end event-->

            <div class="row justify-content-center buton-mid-prod2">
                <div class="col-lg-9 col-md-10">
                    <div class="section-title text-center"><br>
                        <a style="font-weight: bold; font-size: 18px;" href="/acara-kesehatan-assist-id">Lihat Seluruh Event Assist.id ></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!--
    ====================================
      KELOLA KLINIK LEBIH MUDAH HARI INI
    ====================================
    -->
        <div class="container">
            <div class="row justify-content-center m-50px-b sm-m-25px-b">
                <div class="col-lg-12 col-md-10"><br/>
                    <div class="section-title text-center">
                        <img src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-star-filled-64.png" title="" alt="icon star" width="3%">
                         <br/><br/>
                        <h4 class="dark-color font-alt bldd">KELOLA KLINIK LEBIH MUDAH HARI INI</h4>
                        <p class="m-0px dark-color1" style="font-size: 18px;">Upgrade dan Inovasi Flexibilitas Bisnis Klinik Anda Bersama Assist.id</p>
                       <br/>
                    </div>
                </div>
                <a href="/demo-software-klinik" class="btn btn-themewh4 cta-cent" target="_blank">Demo Gratis</a>
            </div>
        </div>

    <script>
        const root = document.documentElement;
        const marqueeElementsDisplayed = getComputedStyle(root).getPropertyValue("--marquee-elements-displayed");
        const marqueeContent = document.querySelector("div.marquee-content");

        root.style.setProperty("--marquee-elements", marqueeContent.children.length);

        for(let i=0; i<marqueeElementsDisplayed; i++) {
        marqueeContent.appendChild(marqueeContent.children[i].cloneNode(true));
        }
    </script>

    <%- include('bodyscripts'); %>

</main>
<!-- / -->
<%- include('footer-v3'); %>
