<!doctype html>
<html lang="id">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!--start-->
    <meta name="author" content="Assist.id" />
    <meta name="google-site-verification" content="xaSOGYCxjaipS36lfuwWGfrYHzGC9D7SKHFztiC7HK0" />
    <meta name="keyword" content="assist.id, software, klinik rumah sakit, puskesmas, manajemen klinik">
    <meta name="description" content="Assist.id, solusi manajemen klinik, apotek, rumah sakit dengan teknologi sistem informasi, aplikasi klinik yang mengelola rekam medis, odontogram, antrian, konsultasi online, stok obat, laporan, kasir didukung BPJS P-Care...">
    <meta property="og:site_name" content="Assist.id" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Assist.id - Software Aplikasi Klinik Umum, Gigi, Kecantikan, BPJS Terlengkap" />
    <meta property="og:url" content="https://www.assist.id" />
    <meta property="og:description" content="Assist.id, solusi manajemen klinik, apotek, rumah sakit dengan teknologi sistem informasi, aplikasi klinik yang mengelola rekam medis, odontogram, antrian, konsultasi online, stok obat, laporan, kasir didukung BPJS P-Care..." />
    <!--end-->

    <title>Assist.id - Software Aplikasi Klinik Pratama BPJS, Kecantikan, Hemodialisis dan Rumah Sakit</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/favicon.ico">

    <!-- Plugin CSS -->
    <link href="static/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/plugin/font-awesome/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="static/plugin/et-line/style.css" rel="stylesheet">
    <link href="static/plugin/themify-icons/themify-icons.css" rel="stylesheet">
    <link href="static/plugin/owl-carousel/css/owl.carousel.min.css" rel="stylesheet">
    <link href="static/plugin/magnific/magnific-popup.css" rel="stylesheet">
    <!-- End -->

    <!-- Theme css -->
    <link href="static/css/stylev3.css" rel="stylesheet">
    <link href="static/css/color/defaultv3.css" rel="stylesheet" id="color_theme">
    <!-- End -->
    <%- include('scripts'); %>

</head>

<!-- Body Start -->
<body data-spy="scroll" data-target="#navbar" data-offset="98">

<!-- Loading -->
<div id="loading">
    <div class="load-circle"><span class="one"></span></div>
</div>
<!-- / -->

<!-- Header Biru -->
<header>
    <nav class="navbar header-biru header-nav-dark navbar-expand-lg">
        <div class="container">
        <a>Sistem Aplikasi Klinik Terbaik di Indonesia</a>
        <a>Hubungi Kami 0813-1000-0949 | Senin - Jumat (08.30 - 17.30 WIB)</a>
        </div>
    </nav>
</header>
<!-- Header Biru End -->

<!-- Header Putih -->
<header>
    <nav class="navbar header-nav header-nav-dark navbar-expand-lg">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand" href="/">
                <img src="" data-src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/logo.png" title="" alt="logo assist.id software klinik terbaik indonesia" style="max-height: 50px;">
            </a>
            <!-- / -->

            <!-- Mobile Toggle -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarbantuan" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <!-- / -->

            <!-- Top Menu Mobile -->
            <div class="collapse navbar-collapse justify-content-end font-alt" id="navbarbantuan">
                <ul class="navbar-nav ml-auto" id="mobile">
                    <form>
                        <input type="search" placeholder="Cari modul bantuan">
                    </form>
                    <!-- Menu Dashboard -->
                    <li style="padding-top: 10px;"><a class="nav-link" href="/bantuan" >Dashboard</a></li>
                    <!-- Menu Rawat Jalan -->
                    <li class="m-dropdown m-dropdown-multilevel">
                        <a class="nav-link">Rawat Jalan</a>
                        <i class="fa fa-angle-down m-dropdown-toggle"></i>
                        <ul class="m-dropdown-menu" style="background: #fff;">
                            <li ><a href="/overview-rawat-jalan" style="border-bottom: 0px;">Overview Rawat Jalan</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Cara Pendaftaran Rawat Jalan</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Cara Reschedule Pendaftaran Pasien</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Cara Melakukan Pendaftaran Pasien Baru</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Cara Melakukan Block Kalender</a></li>
                        </ul>
                    </li>
                    <!-- Menu Registrasi -->
                    <li class="m-dropdown m-dropdown-multilevel">
                        <a class="nav-link">Registrasi</a>
                        <i class="fa fa-angle-down m-dropdown-toggle"></i>
                        <ul class="m-dropdown-menu" style="background: #fff;">
                            <li><a href="/overview-registrasi" style="border-bottom: 0px;">Overview Registrasi</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Cara Pendaftaran Registrasi Pasien</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Cara Melihat Pendaftaran Pasien</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Cara Export dan Print Pendaftaran Pasien</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Reschedule Kunjungan Pasien</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Cara Melakukan Panggilan Otomatis Antrian Pasien</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Cara Menampilkan Antrian Pasien di Layar</a></li>
                        </ul>
                    </li>
                    <!-- Menu EMR -->
                    <li class="m-dropdown m-dropdown-multilevel">
                        <a class="nav-link">EMR</a>
                        <i class="fa fa-angle-down m-dropdown-toggle"></i>
                        <ul class="m-dropdown-menu" style="background: #fff;">
                            <li><a href="#" style="border-bottom: 0px;">Overview EMR</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Cara Mengedit Data Diri Pasien</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Cara Mengedit EMR Pasien</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Cara Mencoret EMR Pasien</a></li>
                        </ul>
                    </li>
                    <!-- Menu Apotek-->
                    <li class="m-dropdown m-dropdown-multilevel">
                        <a class="nav-link">Apotek</a>
                        <i class="fa fa-angle-down m-dropdown-toggle"></i>
                        <ul class="m-dropdown-menu" style="background: #fff;">
                            <li><a href="#" style="border-bottom: 0px;">Cara melihat riwayat (history) kartu stok obat</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Cara Menambahkan Data Obat</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Cara Mengedit dan Menghapus Data Obat</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Cara Restock Obat</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Cara Mengedit Stok Obat dari Depot</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Cara Melihat Warning Kadaluarsa Obat</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Cara Mengedit Stok Obat dari Kartu Stok</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Cara Mengedit Resep Dokter</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Cara Melakukan Mutasi Obat / Bahan Habis Pakai</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Cara Print Label dan Resep Dokter</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Cara mengganti status antrian obat dan melakukan panggilan otomatis</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Cara mengedit data kadaluarsa dan no. batch</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Cara Rekap Data Penggunaan Obat Harian atau Bulanan</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Cara Menambah Depot Obat</a></li>
                        </ul>
                    </li>
                    <!-- Menu Kasir-->
                    <li class="m-dropdown m-dropdown-multilevel">
                        <a class="nav-link">Kasir</a>
                        <i class="fa fa-angle-down m-dropdown-toggle"></i>
                        <ul class="m-dropdown-menu" style="background: #fff;">
                            <li><a href="#" style="border-bottom: 0px;">Cara Melakukan Pembayaran Pasien</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Cara Melihat dan Melakukan Pembayaran Hutang Piutang</a></li>
                        </ul>
                    </li>
                    <!-- Menu Profile -->
                    <li><a class="nav-link" href="#" >Profile</a></li>
                    <!-- Menu Office-->
                    <li class="m-dropdown m-dropdown-multilevel">
                        <a class="nav-link">Office</a>
                        <i class="fa fa-angle-down m-dropdown-toggle"></i>
                        <ul class="m-dropdown-menu" style="background: #fff;">
                            <li><a href="#" style="border-bottom: 0px;">Cara Melihat Laporan Pendapatan Hutang Piutang</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Cara Melihat Laporan Rata-Rata Waktu</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Cara Melihat Laporan List Warning</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Cara Melihat Laporan Prosedur Pasien</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Cara Melihat Laporan Penjuialan Obat</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Cara Melihat Laporan Kunjungan Pasien</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Cara Melihat Laporan Transaksi pada Pasien maupun Distributor</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Cara Melihat Laporan Penjualan Obat Langsung</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Cara Melihat Laporan Pembelian Obat</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Cara Melihat Laporan Aset Obat dan Bahan Habis Pakai</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Cara Melihat Laporan Tutup Buku</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Cara Kelola Akun Keuangan</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Cara Membuat Transaksi Office</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Cara Melihat Semua Data Pasien</a></li>
                        </ul>
                    </li>
                     <!-- Menu Settings-->
                     <li class="m-dropdown m-dropdown-multilevel">
                        <a class="nav-link">Settings</a>
                        <i class="fa fa-angle-down m-dropdown-toggle"></i>
                        <ul class="m-dropdown-menu" style="background: #fff;">
                            <li><a href="#" style="border-bottom: 0px;">Cara Menambah Akses Akun</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Cara Menambahkan Akun Staff</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Cara Mengatur Supaya Harga Obat di Struk tidak satu-satu</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Cara mereset password</a></li>
                            <li><a href="#" style="border-bottom: 0px;">General Setting pada BPJS</a></li>
                            <li><a href="#" style="border-bottom: 0px;">General Setting pada Rawat Jalan</a></li>
                            <li><a href="#" style="border-bottom: 0px;">General Setting pada EMR</a></li>
                            <li><a href="#" style="border-bottom: 0px;">General Setting pada Apotek</a></li>
                            <li><a href="#" style="border-bottom: 0px;">General Setting pada Kasir</a></li>
                            <li><a href="#" style="border-bottom: 0px;">General Setting pada Laporan</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Cara Mengaktifkan Fitur Tooltip</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Cara Menambah dan Mengedit Data Tenaga Medis</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Cara Menambah dan Mengedit Katalog Harga Prosedur</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Cara Menambah dan Mengedit Katalog Medical Check Up</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Cara Setting Komisi dari Prosedur</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Cara Menambah dan Mengedit Kamar Rawat Inap</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Cara Setting Printing Template</a></li>
                            <li><a href="#" style="border-bottom: 0px;">Cara Membuat Surat Menyurat</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- / -->
            
            <!-- Top Menu -->
            <div class="collapse navbar-collapse justify-content-end font-alt" id="navbar">
                <ul class="navbar-nav ml-auto align-items-center">
                    <!-- Menu Tipe Failitas Kesehatan -->
                    <li class="m-dropdown m-dropdown-multilevel">
                        <a class="nav-link">Tipe Fasilitas Kesehatan</a>
                        <i class="fa fa-angle-down m-dropdown-toggle"></i>
                        <ul class="m-dropdown-menu">
                            <li><a href="/sistem-klinik-pratama-dan-utama-bpjs-online">Klinik Pratama dan Utama BPJS</a></li>
                            <li><a href="/sistem-klinik-kecantikan">Klinik Kecantikan</a></li>
                            <li><a href="/hemoda-sistem-klinik-hemodialisa-hemodialisis-indonesia">Klinik Hemodialisis</a></li>
                            <li><a href="/sistem-praktek-mandiri-dokter-dan-bidan-perorangan">Praktek Mandiri Dokter dan Bidan</a></li>
                            <li><a href="/sistem-manajemen-rumah-sakit-simrs">Rumah sakit</a></li>
                            <li><a href="/sistem-apotek-dan-farmasi">Apotek dan Farmasi</a></li>
                        </ul>
                    </li>
                    <!-- Menu Solusi -->
                    <li class="m-dropdown m-dropdown-multilevel">
                        <a class="nav-link">Solusi</a>
                        <i class="fa fa-angle-down m-dropdown-toggle"></i>
                        <ul class="solusi m-dropdown-menu">
                            <li><a href="#">Online Booking Konsultasi Dokter</a></li>
                            <li><a href="#">Pendaftaran Pasien</a></li>
                            <li><a href="#">Rekam Medis Elektronik (EMR)</a></li>
                            <li><a href="#">Data Stok obat Farmasi</a></li>
                            <li><a href="#">Kasir dan Pembayaran (POS)</a></li>
                            <li><a href="#">Laporan Otomatis</a></li>
                            <li><a href="#">Manajemen Komisi, Bonus, Gaji, Staff </a></li>
                        </ul>
                    </li>
                    <!-- Menu Produk -->
                    <li class="m-dropdown m-dropdown-multilevel">
                        <a class="nav-link">Produk</a>
                        <i class="fa fa-angle-down m-dropdown-toggle"></i>
                        <ul class="produk m-dropdown-menu">
                            <li><a href="/aplikasi-klinik-berbasis-web-clinica">Clinica</a></li>
                            <li><a href="#">Hemoda</a></li>
                            <li><a href="/simrs-sistem-informasi-manajemen-rumah-sakit-online">Hospita</a></li>
                            <li><a href="/software-klinik-privata">Privata</a></li>
                            <li><a href="/sistem-informasi-klinik-schedula">Schedula</a></li>
                            <li><a href="/aplikasi-apotek-pharma">Pharma</a></li>
                        </ul>
                    </li>
                    <!-- Menu Harga -->
                    <li><a class="nav-link" href="/faq-sistem-informasi-klinik" >Harga</a></li>
                    <!-- Menu Lainnya -->
                    <li class="m-dropdown m-dropdown-multilevel">
                        <a class="nav-link">Lainnya</a>
                        <i class="fa fa-angle-down m-dropdown-toggle"></i>
                        <ul class="m-dropdown-menu">
                            <li><a href="/bantuan">Bantuan</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="https://blog.assist.id/" target="_blank">Blog</a></li>
                            <li><a href="#">Referral</a></li>
                            <li><a href="/acara-kesehatan-assist-id">Acara Assist.id (Event)</a></li>
                            <li><a href="/faq-sistem-informasi-klinik">Frequently Asked Questoins (FAQ)</a></li>
                            <li><a href="#">Support</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link-btn btn btn-theme m-25px-l md-m-0px-l" href="/demo-software-klinik" target="_blank">Daftar Sekarang</a></li>
                </ul>
            </div>
            <!-- / -->
     </div><!-- Container -->
  </nav> <!-- Navbar -->
</header>
<!-- Header Putih End -->

<!-- Main -->
<main>

    <!--
    =============================
      Home Banner
    =============================
    -->

    <section id="home" class="section-bantuan gray-bg sm-p-10px-b">
        <div class="container">
            <div class="row justify-content-center sm-p-15px-lr">
                <div class="col-lg-3 col-md-3 gray-bg-g">
                    <!--Sidebar-->
                    <div class="wrapper p-40px-r sm-p-15-lr  sm-p-10px-tb" id="table">
                    <div id="sidebar">
                        <ul class="list-unstyled components">
                            <!-- Menu Dashboard -->
                            <li class="active"><a href="/bantuan">Dashboard</a></li>
                            <!-- Menu Rawat Jalan -->
                            <li class="active"><a href="#dashboardSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Rawat Jalan</a>
                                <ul class="collapse list-unstyled" id="dashboardSubmenu">
                                    <li><a href="/overview-rawat-jalan">Overview Rawat Jalan</a></li>
                                    <li><a href="#">Cara Pendaftaran Rawat Jalan</a></li>
                                    <li><a href="#">Cara Reschedule Pendaftaran Pasien</a></li>
                                    <li><a href="#">Cara Melakukan Pendaftaran Pasien Baru</a></li>
                                    <li><a href="#">Cara Melakukan Block Kalender</a></li>
                                </ul>
                            </li>
                            <!-- Menu Registrasi -->
                            <li><a href="#registrasiSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Registrasi</a>
                                <ul class="collapse list-unstyled" id="registrasiSubmenu">
                                    <li><a href="/overview-registrasi">Overview Registrasi</a></li>
                                    <li><a href="#">Cara Pendaftaran Registrasi Pasien</a></li>
                                    <li><a href="#">Cara Melihat Pendaftaran Pasien</a></li>
                                    <li><a href="#">Cara Export dan Print Pendaftaran Pasien</a></li>
                                    <li><a href="#">Reschedule Kunjungan Pasien</a></li>
                                    <li><a href="#">Cara Melakukan Panggilan Otomatis Antrian Pasien</a></li>
                                    <li><a href="#">Cara Menampilkan Antrian Pasien di Layar</a></li>
                                </ul>
                            </li>
                            <!-- Menu EMR -->
                            <li><a href="#emrSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">EMR</a>
                                <ul class="collapse list-unstyled" id="emrSubmenu">
                                    <li><a href="#">Overview EMR</a></li>
                                    <li><a href="#">Cara Mengedit Data Diri Pasien</a></li>
                                    <li><a href="#">Cara Mengedit EMR Pasien</a></li>
                                    <li><a href="#">Cara Mencoret EMR Pasien</a></li>
                                </ul>
                            </li>
                            <!-- Menu Apotek -->
                            <li><a href="#apotekSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Apotek</a>
                                <ul class="collapse list-unstyled" id="apotekSubmenu">
                                    <li><a href="#">Cara melihat riwayat (history) kartu stok obat</a></li>
                                    <li><a href="#">Cara Menambahkan Data Obat</a></li>
                                    <li><a href="#">Cara Mengedit dan Menghapus Data Obat</a></li>
                                    <li><a href="#">Cara Restock Obat</a></li>
                                    <li><a href="#">Cara Mengedit Stok Obat dari Depot</a></li>
                                    <li><a href="#">Cara Melihat Warning Kadaluarsa Obat</a></li>
                                    <li><a href="#">Cara Mengedit Stok Obat dari Kartu Stok</a></li>
                                    <li><a href="#">Cara Mengedit Resep Dokter</a></li>
                                    <li><a href="#">Cara Melakukan Mutasi Obat / Bahan Habis Pakai</a></li>
                                    <li><a href="#">Cara Print Label dan Resep Dokter</a></li>
                                    <li><a href="#">Cara mengganti status antrian obat dan melakukan panggilan otomatis</a></li>
                                    <li><a href="#">Cara mengedit data kadaluarsa dan no. batch</a></li>
                                    <li><a href="#">Cara Rekap Data Penggunaan Obat Harian atau Bulanan</a></li>
                                    <li><a href="#">Cara Menambah Depot Obat</a></li>
                                </ul>
                            </li>
                            <!-- Menu Kasir -->
                            <li><a href="#kasirSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Kasir</a>
                                <ul class="collapse list-unstyled" id="kasirSubmenu">
                                    <li><a href="#">Cara Melakukan Pembayaran Pasien</a></li>
                                    <li><a href="#">Cara Melihat dan Melakukan Pembayaran Hutang Piutang</a></li>
                                </ul>
                            </li>
                            <!-- Menu Profile -->
                            <li><a href="#">Profile</a></li>
                            <!-- Menu Office -->
                            <li><a href="#officeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Office</a>
                                <ul class="collapse list-unstyled" id="officeSubmenu">
                                    <li><a href="#">Cara Melihat Laporan Pendapatan Hutang Piutang</a></li>
                                    <li><a href="#">Cara Melihat Laporan Rata-Rata Waktu</a></li>
                                    <li><a href="#">Cara Melihat Laporan List Warning</a></li>
                                    <li><a href="#">Cara Melihat Laporan Prosedur Pasien</a></li>
                                    <li><a href="#">Cara Melihat Laporan Penjuialan Obat</a></li>
                                    <li><a href="#">Cara Melihat Laporan Kunjungan Pasien</a></li>
                                    <li><a href="#">Cara Melihat Laporan Transaksi pada Pasien maupun Distributor</a></li>
                                    <li><a href="#">Cara Melihat Laporan Penjualan Obat Langsung</a></li>
                                    <li><a href="#">Cara Melihat Laporan Pembelian Obat</a></li>
                                    <li><a href="#">Cara Melihat Laporan Aset Obat dan Bahan Habis Pakai</a></li>
                                    <li><a href="#">Cara Melihat Laporan Tutup Buku</a></li>
                                    <li><a href="#">Cara Kelola Akun Keuangan</a></li>
                                    <li><a href="#">Cara Membuat Transaksi Office</a></li>
                                    <li><a href="#">Cara Melihat Semua Data Pasien</a></li>
                                </ul>
                            </li>
                            <!-- Menu Settings -->
                            <li><a href="#settingsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Settings</a>
                                <ul class="collapse list-unstyled" id="settingsSubmenu">
                                    <li><a href="#">Cara Menambah Akses Akun</a></li>
                                    <li><a href="#">Cara Menambahkan Akun Staff</a></li>
                                    <li><a href="#">Cara Mengatur Supaya Harga Obat di Struk tidak satu-satu</a></li>
                                    <li><a href="#">Cara mereset password</a></li>
                                    <li><a href="#">General Setting pada BPJS</a></li>
                                    <li><a href="#">General Setting pada Rawat Jalan</a></li>
                                    <li><a href="#">General Setting pada EMR</a></li>
                                    <li><a href="#">General Setting pada Apotek</a></li>
                                    <li><a href="#">General Setting pada Kasir</a></li>
                                    <li><a href="#">General Setting pada Laporan</a></li>
                                    <li><a href="#">Cara Mengaktifkan Fitur Tooltip</a></li>
                                    <li><a href="#">Cara Menambah dan Mengedit Data Tenaga Medis</a></li>
                                    <li><a href="#">Cara Menambah dan Mengedit Katalog Harga Prosedur</a></li>
                                    <li><a href="#">Cara Menambah dan Mengedit Katalog Medical Check Up</a></li>
                                    <li><a href="#">Cara Setting Komisi dari Prosedur</a></li>
                                    <li><a href="#">Cara Menambah dan Mengedit Kamar Rawat Inap</a></li>
                                    <li><a href="#">Cara Setting Printing Template</a></li>
                                    <li><a href="#">Cara Membuat Surat Menyurat</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    </div>
                    <!-- / -->
                </div>
             
                <div class="col-lg-8 col-md-8 p-20px-b gray-bg-g">
                    <div class="section-title-b p-20px-t sm-p-0px-t sm-p-0px-lr">
                        <form id="table">
                            <input type="search" placeholder="Cari modul bantuan">
                        </form>
                        <h3 class="dark-color font-alt bldd p-20px-t">Rawat Jalan</h3>
                        <p>Pelajari lebih lanjut mengenai modul Rawat Jalan yang tersedia dalam sistem Assist.id.</p>
                        <hr>
                        <div class="section-title-b p-30px-b sm-p-20px-b">
                            <h5 class="dark-color1 font-alt bldd">Overview Rawat Jalan</h5>
                            <p>Pada Modul Rawat Jalan berisi informasi Jadwal Praktek semua Dokter dan Jadwal Appointment Pasien. Secara default tampilan awal saat membuka Modul Rawat Jalan adalah Jadwal Praktek Dokter pada hari itu dengan pendaftaran jadwal rawat jalan pasien yang dibantu dengan Color Coding untuk melihat status pasien. <a href="#" target="_blank">See more</a></p>
                        </div>
                        <div class="section-title-b p-30px-b sm-p-20px-b">
                            <h5 class="dark-color1 font-alt bldd">Cara Pendaftaran Rawat Jalan</h5>
                            <p>Pendaftaran Pasien baik pasien BPJS maupun pasien umum pada sistem Assist.id sangat mudah dengan tampilan yang User Friendly. Anda bisa melakukannya dengan 2 cara, diantaranya: Pendaftaran melalui Tombol “Pendaftaran Baru” dan Pendaftaran melalui tampilan jadwal Dokter. <a href="#" target="_blank">See more</a></p>
                        </div>
                        <div class="section-title-b p-30px-b sm-p-20px-b">
                            <h5 class="dark-color1 font-alt bldd">Cara Reschedule Pendaftaran Pasien</h5>
                            <p>Anda dapat dengan mudah untuk melakukan Reschedule Appointment pasien / menjadwalkan ulang jadwal rawat jalan pasien. <a href="#" target="_blank">See more</a></p>
                        </div>
                        <div class="section-title-b p-30px-b sm-p-20px-b">
                            <h5 class="dark-color1 font-alt bldd">Cara Melakukan Pendaftaran Pasien Baru</h5>
                            <p>Pada Modul Rawat Jalan Anda melakukan pendaftaran untuk pasien yang pertama kali datang ke Klinik Anda secara cepat dan mudah. <a href="#" target="_blank">See more</a></p>
                        </div>
                        <div class="section-title-b p-30px-b sm-p-20px-b">
                            <h5 class="dark-color1 font-alt bldd">Cara Melakukan Block Kalender</h5>
                            <p>Di dalam sistem Assist.id, Anda bisa memblok kalender satu atau semua dokter sekaligus. <a href="#" target="_blank">See more</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
        <div class="footer-copy">
            <div class="row">
                <div class="col-12">
                    <p style="color: black;">FAQ | Kebijakan Privasi | Syarat dan Ketentuan |</p>
                    <p style="color: black;">2019 © Assist.id . All Rights Reserved.</p>
                </div><!-- col -->
            </div> <!-- row -->
        </div>
    </section>
    <!-- / -->

    <%- include('bodyscripts'); %>

</main>
<!-- / -->
<%- include('footer-v3'); %>
