<!doctype html>
<html lang="id">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!--start-->
    <meta name="author" content="Assist.id" />
    <meta name="google-site-verification" content="xaSOGYCxjaipS36lfuwWGfrYHzGC9D7SKHFztiC7HK0" />
    <meta name="keyword" content="assist.id, software, klinik rumah sakit, puskesmas, manajemen klinik">
    <meta name="description" content="Assist.id, solusi manajemen klinik, apotek, rumah sakit dengan teknologi sistem informasi, aplikasi klinik yang mengelola rekam medis, odontogram, antrian, konsultasi online, stok obat, laporan, kasir didukung BPJS P-Care...">
    <meta property="og:site_name" content="Assist.id" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Assist.id - Software Aplikasi Klinik Umum, Gigi, Kecantikan, BPJS Terlengkap" />
    <meta property="og:url" content="https://www.assist.id" />
    <meta property="og:description" content="Assist.id, solusi manajemen klinik, apotek, rumah sakit dengan teknologi sistem informasi, aplikasi klinik yang mengelola rekam medis, odontogram, antrian, konsultasi online, stok obat, laporan, kasir didukung BPJS P-Care..." />
    <!--end-->

    <title>Clinica - Sistem Informasi Manajemen Klinik Umum, Pratama dan BPJS Berbasis Cloud Web dari Assist.id Terlengkap</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/landing/apple-icon.png">

    <!-- Plugin CSS -->
    <link href="/static/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/plugin/font-awesome/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="/static/plugin/et-line/style.css" rel="stylesheet">
    <link href="/static/plugin/themify-icons/themify-icons.css" rel="stylesheet">
    <link href="/static/plugin/owl-carousel/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/static/plugin/magnific/magnific-popup.css" rel="stylesheet">
    <!-- End -->

    <!-- Theme css -->
    <link href="/static/css/stylev3.css" rel="stylesheet">
    <link href="/static/css/color/defaultv3.css" rel="stylesheet" id="color_theme">
    <!-- End -->
    <%- include('scripts'); %>

</head>

<!-- Body Start -->
<body data-spy="scroll" data-target="#navbar" data-offset="98">

<!-- Loading -->
<div id="loading">
    <div class="load-circle"><span class="one"></span></div>
</div>
<!-- / -->

<!-- Header Biru -->
<header>
    <nav class="navbar header-biru header-nav-dark navbar-expand-lg">
        <div class="container">
        <a>Sistem Aplikasi Klinik Terbaik di Indonesia</a>
        <a>Hubungi Kami 0813-1000-0949 | Senin - Jumat (08.30 - 17.30 WIB)</a>
        </div>
    </nav>
</header>
<!-- Header Biru End -->

<!-- Header Putih -->
<header>
    <nav class="navbar header-nav header-nav-dark navbar-expand-lg">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand" href="/">
                <img src="" data-src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/landing/logo.png" title="" alt="logo assist.id software klinik terbaik indonesia" style="max-height: 50px;">
            </a>
            <!-- / -->

            <!-- Mobile Toggle -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <!-- / -->

            <!-- Top Menu -->
            <div class="collapse navbar-collapse justify-content-end font-alt" id="navbar">
                <ul class="navbar-nav ml-auto align-items-center">
                    <!-- Menu Tipe Failitas Kesehatan -->
                    <li class="m-dropdown m-dropdown-multilevel">
                        <a class="nav-link">Tipe Fasilitas Kesehatan</a>
                        <i class="fa fa-angle-down m-dropdown-toggle"></i>
                        <ul class="m-dropdown-menu">
                            <li><a href="/sistem-klinik-pratama-dan-utama-bpjs-online">Klinik Pratama dan Utama BPJS</a></li>
                            <li><a href="/sistem-klinik-kecantikan">Klinik Kecantikan</a></li>
                            <li><a href="/hemoda-sistem-klinik-hemodialisa-hemodialisis-indonesia">Klinik Hemodialisis</a></li>
                            <li><a href="/sistem-praktek-mandiri-dokter-dan-bidan-perorangan">Praktek Mandiri Dokter dan Bidan</a></li>
                            <li><a href="/sistem-manajemen-rumah-sakit-simrs">Rumah sakit</a></li>
                            <li><a href="/sistem-apotek-dan-farmasi">Apotek dan Farmasi</a></li>
                        </ul>
                    </li>
                    <!-- Menu Solusi -->
                    <li class="m-dropdown m-dropdown-multilevel">
                        <a class="nav-link">Solusi</a>
                        <i class="fa fa-angle-down m-dropdown-toggle"></i>
                        <ul class="solusi m-dropdown-menu">
                            <li><a href="#">Online Booking Konsultasi Dokter</a></li>
                            <li><a href="#">Pendaftaran Pasien</a></li>
                            <li><a href="#">Rekam Medis Elektronik (EMR)</a></li>
                            <li><a href="#">Data Stok obat Farmasi</a></li>
                            <li><a href="#">Kasir dan Pembayaran (POS)</a></li>
                            <li><a href="#">Laporan Otomatis</a></li>
                            <li><a href="#">Manajemen Komisi, Bonus, Gaji, Staff </a></li>
                        </ul>
                    </li>
                    <!-- Menu Produk -->
                    <li class="m-dropdown m-dropdown-multilevel">
                        <a class="nav-link">Produk</a>
                        <i class="fa fa-angle-down m-dropdown-toggle"></i>
                        <ul class="produk m-dropdown-menu">
                            <li><a href="/aplikasi-klinik-berbasis-web-clinica">Clinica</a></li>
                            <li><a href="#">Hemoda</a></li>
                            <li><a href="/simrs-sistem-informasi-manajemen-rumah-sakit-online">Hospita</a></li>
                            <li><a href="/software-klinik-privata">Privata</a></li>
                            <li><a href="/sistem-informasi-klinik-schedula">Schedula</a></li>
                            <li><a href="/aplikasi-apotek-pharma">Pharma</a></li>
                        </ul>
                    </li>
                    <!-- Menu Harga -->
                    <li><a class="nav-link" href="/harga" >Harga</a></li>
                    <!-- Menu Lainnya -->
                    <li class="m-dropdown m-dropdown-multilevel">
                        <a class="nav-link">Lainnya</a>
                        <i class="fa fa-angle-down m-dropdown-toggle"></i>
                        <ul class="m-dropdown-menu">
                            <li><a href="/bantuan">Bantuan</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="https://blog.assist.id/" target="_blank">Blog</a></li>
                            <li><a href="/program-referral">Referral</a></li>
                            <li><a href="/acara-kesehatan-assist-id">Acara Assist.id (Event)</a></li>
                            <li><a href="/faq-sistem-informasi-klinik">Frequently Asked Questoins (FAQ)</a></li>
                            <li><a href="#">Support</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link-btn btn btn-theme m-25px-l md-m-0px-l" href="#form">Daftar Sekarang</a></li>
                </ul>
            </div>
            <!-- / -->
     </div><!-- Container -->
  </nav> <!-- Navbar -->
</header>
<!-- Header Putih End -->

<!-- Main -->
<main>

    <!--
    =============================
      Home Banner
    =============================
    -->

    <section id="home" class="home-banner-01 bg-effect-box">
        <div class="bg-effect bg-cover bg-fixed"></div>
        <div class="container">
         
            <div class="row align-items-center justify-content-center p-100px-tb md-p-35px-b">
                <div class="col-lg-6 p-20px-t p-50px-l" id="mobile">
                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Sistem-klinik-utama-umum-dan-pratama-bpjs-online-assist-id.jpg" title="" alt="sistem klinik utama umum dan pratama bpjs online assist" width="85%" style="border-radius: 10px;">
                </div>
                <div class="referral col-lg-6 m-50px-t sm-m-20px-t">
                  <div>
                    <h5 class="theme-after dark-color">Program Referral</h5>
                  </div>
                    <h1 class="font-alt dark-color">Berikan diskon 10%</h1>
                    <h1 class="font-alt dark-color">Dapatkan komisi 10%</h1>
                    <p class="font-alt dark-color" style="font-weight: bold;">Tanpa Biaya Awal. Tanpa Modal. Mulai Kapan Saja.</p>
                    <p class="large-text sm-m-15px-b dark-color1" style="width: 516px;">Referralkan sistem Assist.id kepada rekan dan kerabat Anda. Rekan Anda akan mendapatkan diskon tambahan 10% dan Anda akan dapatkan langsung komisi 10% serta gratis tambah bulan berlanggangan Assist.id selama 1 bulan* </p>
                    
                    <div class="">
                        <div class="sm-m-10px-b" >
                            <a class="btn btn-themewh4 p-15px-l" href="#form">Isi Form Referral</a>
                        </div>
                    </div>
                   </div>
                <div class="col-lg-6 p-20px-t p-50px-l" id="table">
                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Sistem-klinik-utama-umum-dan-pratama-bpjs-online-assist-id.jpg" title="" alt="sistem klinik utama umum dan pratama bpjs online assist" width="85%" style="border-radius: 10px;">
                </div>
            </div>
        </div>
    </section>
    <!-- / -->

    <!--
    ====================================================
      Cara Kerja Sistem Referral Assist.id
    ====================================================
    -->

    <section id="feature" class="section-carakerja shapes-section bg-effect-box ">
      <div class="bg-effect bg-fixed bg-center-center"></div>
      <div class="container">

          <div class="row justify-content-center sm-m-25px-b">
              <div class="col-lg-10 col-md-10">
                  <div class="section-title text-center">
                       <h3 class="dark-color font-alt bldd">Cara Kerja Sistem Referral Assist.id</h3>
                       <p class="dark-color1 p-20px-b">3 Langkah mudah mereferralkan system Assist.id kepada rekan dan kerabat Anda.<b> Tanpa Biaya Awal. Tanpa Modal. Mulai Kapan Saja.</b></p>
                      </div>
              </div>
              <div class="col-lg-12">
                  <div class="row justify-content-center">
                     <div class="col-md-m-25px-t col-sm-m-15px sm-p-10px-l sm-m-20px-t">
                      <div class="carakerja-imgx">
                          <div class="img">
                            <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-form-64.png" title="icon form" alt="icon form"  >
                          </div>
                        </div>
                     </div>
                    <div class="col-md-3 col-sm-6 m-30px-b sm-m-5px-b">
                      <div class="our-carakerja-01">
                        <div class="teax-carakerja">
                          <h6 class="dark-color1 referral"><b>1. Anda Cukup Mengisi Form,</b> 
                            <span style="font-weight: 100; line-height: 25px;">Cukup 5 Menit. Selebihnya biar tim Assist.id yang menanganinya.</span>
                          </h6>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-m-25px-t col-sm-m-15px sm-p-10px-l sm-m-20px-t">
                      <div class="carakerja-imgx">
                          <div class="img">
                              <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-outgoing-call-64.png" title="" alt="icon outgoing call">
                          </div>
                        </div>
                     </div>
                    <div class="col-md-3 col-sm-6 m-30px-b sm-m-5px-b">
                      <div class="our-carakerja-01">
                        <div class="teax-carakerja">
                         <h6 class="dark-color1 referral"><b>2. Kami Menghubungi Rekan Anda</b> 
                          <span style="font-weight: 100; line-height: 25px;">untuk menjelaskan fitur produk yang Anda rekomendasikan dan diskon 10%.</span>
                        </h6>
                      </div>
                    </div>
                  </div>

                    <div class="col-md-m-25px-t col-sm-m-15px sm-p-10px-l sm-m-20px-t">
                      <div class="carakerja-imgx">
                          <div class="img">
                              <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-money-64.png" title="" alt="icon money">
                          </div>
                        </div>
                     </div>
                    <div class="col-md-3 col-sm-6 m-30px-b sm-m-5px-b">
                      <div class="our-carakerja-01">
                        <div class="teax-carakerja">
                          <h6 class="dark-color1 referral"><b>3. Dapatkan Rewardnya!</b> 
                            <span style="font-weight: 100; line-height: 25px;">Untuk setiap penjualan yang berhasil dapatkan komisi 10% dan tambahan kredit 1 bulan. Best Deal!</span>
                          </h6>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!--
    ====================================================
      Siapa Yang Sebaiknya Anda Referralkan
    ====================================================
    -->

    <section id="feature" class="section-feature shapes-section bg-effect-box p-80px-b p-30px-t " >
        <div class="bg-effect bg-fixed bg-center-center"></div>
        <div class="container">

            <section id="home" class="bg-effect-box">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/sistem-klinik-terbaik-assist-id-referral.jpg" title="" alt="sistem klinik terbaik " style="border-radius: 10px; width: 500px; height: 330px;">
                    </div>
                    <div class="col-md-6">
                        <div class="std-box content-referral md-p-0px-lr md-m-40px-t sm-m-20px-t">
                            <h3 class="font-alt dark-color bldd p-5px-t">Siapa Yang Sebaiknya Anda Referralkan?</h3>
                            <p class="sm-m-0px-b dark-color1 large-text2">Rekan atau kerabat yang bekerja di industri fasilitas layanan kesehatan yang memiliki kapabilitas untuk pengambilan keputusan (desicion making) di perusahaan mereka.</p>
                            <p class="sm-m-0px-b dark-color1 large-text2 sm-m-15px-t">Jenis fasilitas kesehatan meliputi Prakte Mandiri Dokter / Bidan (DPP), Klinik Pratama, Klinik Utama, Klinik Kecantikan, Klinik Gigi, Klinik Hemodialisis, Apotek hingga Rumah Sakit.</p>
                        
                        </div>
                    </div>
                </div> <!-- row -->
            </section>
    </div>
    </section>

    <!--

    ===========================================
     Tahu Banyak Rekan Yang Butuh Sistem?
    ===========================================
    -->

    <section class="gray-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-10">
                    <div class="section-title text-center instalasi p-40px-tb sm-p-5px-t sm-p-10px-b"><br/>
                        <h3 class="dark-color font-alt bldd" style="color:#2b64af">Tahu Banyak Rekan Yang Butuh Sistem?</h3>
                        <p class="dark-color1 m-10px-b">Kami akan senang mendengar langsung dari Anda. Silahkan email ke <span style="color: #3875c4">atikah@assist.id</span> dengan subject email <span style="color: #3875c4">"Program Referral"</span> kami akan segera menghubungi Anda.</p><br/>
                    </div>
                </div>
            </div>
        <div class="row align-items-center">
        </div>
        </div>
    </section> <!-- row -->

<!--
    ====================================
      Rekomendasikan Assist.id Hari Ini
    ====================================
    -->

    <div class="container" id="form">
        <div class="row justify-content-center m-45px-b sm-m-25px-b">
            <div class="col-lg-12 col-md-10"><br/>
                <div class="section-title text-center">
                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-star-filled-64.png" title="" alt="icon star" class="icon-star">
                     <br/><br/>
                    <h4 class="dark-color font-alt bldd">Rekomendasikan Assist.id Hari Ini</h4>
                    <p class="m-0px dark-color1">Dapat Langsung Komisi dan Kredit Langganannya</p>
                   <br/>
                </div>
                <div class="section-title text-center">
                <div class ="row justify-content-center">
                   <div class="col-lg-8 col-md-10">
                    <p class="dark-color1 informasi" align="left">Informasi Anda</p>
                    <form class="contactform" method="post" action="/reqdemoreferral">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input id="usname" name="usname" type="text" placeholder="Nama (Sesuai ID/KTP)*" class="validate form-control" required>
                                <span class="input-focus-effect theme-bg"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input id="uscompany" type="text" placeholder="Nama Perusahaan / Instansi*" name="uscompany" class="validate form-control" required>
                                <span class="input-focus-effect theme-bg"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="hidden" id="url" name="url" value="/program-referral">
                                <input type="hidden" id="frombutton" name="frombutton" value="cta program-referral">
                                <input id="usemail" type="text" placeholder="Alamat Email*" name="usemail" class="validate form-control" required>
                                <span class="input-focus-effect theme-bg"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input id="usphonenumber" type="text" placeholder="Nomor Whatsapp*" name="usphonenumber" class="validate form-control" required>
                                <span class="input-focus-effect theme-bg"></span>
                            </div>
                          </div>
                          <p class="dark-color1 p-15px-l informasi" align="left">Informasi Rekan / Kerabat Anda</p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input id="referralname" type="text" placeholder="Nama (Sesuai ID/KTP)" name="referralname" class="validate form-control" required>
                                <span class="input-focus-effect theme-bg"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input id="referralcompany" type="text" placeholder="Nama Perusahaan / Instansi*" name="referralcompany" class="validate form-control" required>
                                <span class="input-focus-effect theme-bg"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input id="referralemail" type="text" placeholder="Alamat Email*" name="referralemail" class="validate form-control" required>
                                <span class="input-focus-effect theme-bg"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input id="referralphonenumber" type="text" placeholder="Nomor Whatsapp*" name="referralphonenumber" class="validate form-control" required>
                                <span class="input-focus-effect theme-bg"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea style="height: 100px;" type="text" class="validate form-control" placeholder="Informasi tambahan opsional" name="message" id="message"></textarea>
                                <span class="input-focus-effect theme-bg"></span>
                            </div>
                        </div>
                        <!-- Material unchecked -->
                        <div class="col-md-12">
                            <label class="checkbox-inline">
                                <input type="checkbox" value="">Saya telah membaca dan menyetujui Program Referral <span style="color: #3875c4">Syarat dan Ketentuan</span>
                            </label>
                        </div>
                        <div class="col-md-12 p-30px-t sm-p-0px-t">
                            <div class="send">
                                <button class="btn btn-themewh10" type="submit" name="send"> Rekomendasikan Assist.id</button>
                            </div>
                            <span class="output_message"></span>
                        </div>
                    </div>
                </form>
            </div>
            </div>
            </div>
        </div>
        <!-- <a href="/demo-sistem-klinik-premium-clinica" class="btn btn-themewh5 cta-cent" target="_blank">Demo Gratis</a> -->
   </div>
</div>

    <script>
        const root = document.documentElement;
        const marqueeElementsDisplayed = getComputedStyle(root).getPropertyValue("--marquee-elements-displayed");
        const marqueeContent = document.querySelector("div.marquee-content");

        root.style.setProperty("--marquee-elements", marqueeContent.children.length);

        for(let i=0; i<marqueeElementsDisplayed; i++) {
        marqueeContent.appendChild(marqueeContent.children[i].cloneNode(true));
        }
    </script>
    <%- include('bodyscripts'); %>

</main>
<!-- / -->
<%- include('footer-v3'); %>
