<!doctype html>
<html lang="id">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!--start-->
    <meta name="author" content="Assist.id" />
    <meta name="google-site-verification" content="xaSOGYCxjaipS36lfuwWGfrYHzGC9D7SKHFztiC7HK0" />
    <meta name="keyword" content="assist.id, software, klinik rumah sakit, puskesmas, manajemen klinik, demo software, software klinik, sistem informasi klink, aplikasi klinik, trial">
    <meta name="description" content="Demo software klinik online gratis, dan sesuaikan software dengan kebutuhan klinik, praktek pribadi dan apotek anda sebelum berlangganan.">
    <meta property="og:site_name" content="Assist.id" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Demo Software - Assist.id" />
    <meta property="og:url" content="https://www.assist.id" />
    <meta property="og:description" content="Demo software klinik online gratis, dan sesuaikan software dengan kebutuhan klinik, praktek pribadi dan apotek anda sebelum berlangganan." />

    <!--end-->

    <title>Demo Software - Assist.id</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/apple-icon.png">

    <!-- Plugin CSS -->
    <link href="/static/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/plugin/font-awesome/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="/static/plugin/et-line/style.css" rel="stylesheet">
    <link href="/static/plugin/themify-icons/themify-icons.css" rel="stylesheet">
    <link href="/static/plugin/owl-carousel/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/static/plugin/magnific/magnific-popup.css" rel="stylesheet">
    <!-- End -->


    <!-- Theme css -->
    <link href="/static/css/stylev3.css" rel="stylesheet">
    <link href="/static/css/color/defaultv3.css" rel="stylesheet" id="color_theme">
    <!-- End -->
    <script>
        function reloadpage() {
            setTimeout(location.reload.bind(location), 20000);
        }
    </script>
    <%- include('scripts'); %>

</head>

<!-- ========== Body Starts ========== -->
<!-- Body Start -->
<body data-spy="scroll" data-target="#navbar" data-offset="98" onload="getURL()">

<!-- Loading -->
<div id="loading">
    <div class="load-circle"><span class="one"></span></div>
</div>
<!-- / -->

<header>
    <nav class="navbar header-biru header-nav-dark navbar-expand-lg">
        <div class="container">
        <a>Sistem Aplikasi Klinik Terbaik di Indonesia</a>
        <a>Hubungi Kami 0813-1000-0949 | Senin - Jumat (08.30 - 17.30 WIB)</a>
        </div>
    </nav>
</header>  

<!-- Header -->

<!-- Header End -->

<!-- Main -->
<main>


    <!--
    =============================
      Page Title Section
    =============================
    -->
    <!--
    =============================
      FAQ's
    =============================
    -->

    <section class="section-demo border-top">
        <div class="container p-100px-t p-50px-b sm-p-50px-t">
            <div class="row">
                <div class="col-lg-6 ">
                    <div class="work-flow p-50px-r md-p-0px-r md-p-30px-t">
                        <a class="navbar-brand" href="/">
                            <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/logo.png" alt="logo assist.id software klinik terbaik indonesia" class="logo-demo1" style="margin-bottom: 20px;">
                        </a>
                        <h2 class="dark-color font-alt">Kenapa Pilih Hemoda?</h2>
                        <h6 style="margin-bottom: 30px; font-style: italic; text-align: justify; line-height: 1.6;">Sistem Unit Hemodialisa / Hemodialisis - Solusi terbaik untuk mengelola Rumah Sakit dan Klinik Hemodialisis, <b> Hemoda membantu operasional dan laporan klinik otomatis yang membantu Anda untuk lebih mudah mengelola dan mengembangkan bisnis Hemodialisis Anda.</b>.</h6>

                        <ul>
                            <li class="">
                                <img class="icon" src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/icons8-best-seller-64.png" alt="icon best seller">

                                <p>Fitur khusus untuk Rumah Sakit dan Klinik Hemodialisis Mudah melakukan scheduling pasien dan booking online. Lihat Status Okupansi Mesin di Klinik. Input Asal Rujukan pasien.</p>
                            </li>
                            <li class="">
                                <img class="icon" src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/ico-treatment.png" alt="icon treatment">

                                <p>Fitur pendaftaran, rekam medis, stok obat farmasi, kasir hingga laporan semuanya ada lengkap saling terintegrasi (terhubung) seluruhnya dalam aplikasi canggih Hemoda.</p>
                            </li>
                            <li class="">
                                <img class="icon" src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/ico-monitor-graph.png" alt="icon monitor showing graph">

                                <p>Mudah melihat laporan lengkap seperti pendapatan, pengeluaran, Warning SIP dan STR Tenaga Medis (Dokter/Perawat), Laporan Prosedur Tindakan (Reuse dan Single Use), Cetak Surat Travelling, dan masih banyak lagi.</p>
                            </li>
                            <li class="">
                                <img class="icon" src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/ico-customer-support.png" alt="icon customer support">

                                <p>Kami bantu bisnis Anda mulai menggunakan dan pindah dari sistem lama dengan mudah. Berbagai video tutorial, live chat tersedia membantu Anda dan Tim Klinik Anda.</p>
                            </li>
                            <li class="">
                                <img class="icon" src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/icons8-price-64.png" alt="icon price">

                                <p>Harga sistem terjangkau dengan fitur yang lengkap sesuai kebutuhan Anda serta kualitas sistem yang terbaik.</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <br>


                <div class="col-lg-6">
                    <div class="contact-form home-belajar-01">
                        <div class="std-box p-10px-b md-p-0px-lr md-m-40px-t sm-m-20px-t">
                            <h5 class="theme-after dark-color">Sistem Unit Hemodialisa</h5>
                        </div>
                        <h4 class="dark-color font-alt">DEMO SISTEM GRATIS</h4>
                        <form class="contactform" method="post" action="/reqdemohemoda">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="hidden" id="url" name="url">
                                        <input id="medname" name="medname" type="text" placeholder="Nama Klinik*" class="validate form-control" required>
                                        <span class="input-focus-effect theme-bg"></span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input id="usname" type="text" placeholder="Nama Sesuai (ID/KTP)*" name="usname" class="validate form-control" required>
                                        <span class="input-focus-effect theme-bg"></span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input id="jabatan" type="text" placeholder="Jabatan" name="jabatan" class="validate form-control">
                                        <span class="input-focus-effect theme-bg"></span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input id="phonenumber" type="number" placeholder="Nomor WhatsApp*" name="phonenumber" class="validate form-control" required>
                                        <span class="input-focus-effect theme-bg"></span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input id="email" type="email" placeholder="Alamat Email*" name="email" class="validate form-control" required>
                                        <span class="input-focus-effect theme-bg"></span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input id="city" type="text" placeholder="Kota/Kabupaten*" name="city" class="validate form-control" required>
                                        <span class="input-focus-effect theme-bg"></span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input id="mproduct" type="text" placeholder="Hemoda" name="mproduct" class="validate form-control" disabled>
                                        <span class="input-focus-effect theme-bg"></span>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="send">
                                        <button class="btn btn-themewh4" type="submit" name="send"> Demo Gratis</button>
                                    </div>
                                    <span class="output_message"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div> <!-- row -->
        </div> <!-- container -->
    </section>

</main>
<!-- / -->

<!-- Jquery -->
<script src="/static/js/jquery-3.2.1.min.js"></script>
<script src="/static/js/jquery-migrate-3.0.0.min.js"></script>
<!-- End -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-87809650-4"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-87809650-4');
</script>
<!--end-->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!-- Plugin JS -->
<script src="/static/plugin/appear/jquery.appear.js"></script><!--appear-->
<script src="/static/plugin/bootstrap/js/popper.min.js"></script><!--popper-->
<script src="/static/plugin/bootstrap/js/bootstrap.js"></script><!--bootstrap-->
<!-- End -->

<!-- Custom -->

<script src="/static/js/jquery.parallax-scroll.js"></script>
<script src="/static/js/custom.js"></script>
<!-- End -->

</body>
<!-- ========== End of Body ========== -->


</html>
