<!doctype html>
<html lang="id">


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <!--start-->
  <meta name="author" content="Assist.id" />
  <meta name="google-site-verification" content="xaSOGYCxjaipS36lfuwWGfrYHzGC9D7SKHFztiC7HK0" />
  <meta name="keyword" content="assist.id, software, klinik rumah sakit, puskesmas, manajemen klinik, antrian, aplikasi klinik, manajemen, software klinik, booking konsultasi online, sistem antrian rumah sakit, klinik, sistem informasi manajemen">
  <meta name="description" content="Sistem antrian pasien klinik, aplikasi antrian praktek dokter, dengan pendaftaran paperless, sistem informasi manajemen panggilan antrian otomatis, mudah reschedule jadwal konsultasi, menerima booking online dan masih banyak lagi.">
  <meta property="og:site_name" content="Assist.id" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Schedula - Sistem Informasi Manajemen Antrian Klinik Profesional dari Assist.id" />
  <meta property="og:url" content="https://www.assist.id" />
  <meta property="og:description" content="Sistem antrian pasien klinik, aplikasi antrian praktek dokter, dengan pendaftaran paperless, sistem informasi manajemen panggilan antrian otomatis, mudah reschedule jadwal konsultasi, menerima booking online dan masih banyak lagi." />

  <!--end-->

  <title>Schedula - Sistem Informasi Manajemen Antrian Klinik Profesional dari Assist.id</title>
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/apple-icon.png">

  <!-- Plugin CSS -->
  <link href="static/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/plugin/font-awesome/css/fontawesome-all.min.css" rel="stylesheet">
  <link href="static/plugin/et-line/style.css" rel="stylesheet">
  <link href="static/plugin/themify-icons/themify-icons.css" rel="stylesheet">
  <link href="static/plugin/owl-carousel/css/owl.carousel.min.css" rel="stylesheet">
  <link href="static/plugin/magnific/magnific-popup.css" rel="stylesheet">
  <!-- End -->


  <!-- Theme css -->
  <link href="static/css/stylev3.css" rel="stylesheet">
  <link href="static/css/color/defaultv3.css" rel="stylesheet" id="color_theme">
  <!-- End -->
  <%- include('scripts'); %>

</head>

<!-- ========== Body Starts ========== -->
<!-- Body Start -->
<body data-spy="scroll" data-target="#navbar" data-offset="98">

<!-- Loading -->
<div id="loading">
  <div class="load-circle"><span class="one"></span></div>
</div>
<!-- / -->

<!-- Header Biru -->
<header>
  <nav class="navbar header-biru header-nav-dark navbar-expand-lg">
      <div class="container">
      <a>Sistem Aplikasi Klinik Terbaik di Indonesia</a>
      <a>Hubungi Kami 0813-1000-0949 | Senin - Jumat (08.30 - 17.30 WIB)</a>
      </div>
  </nav>
</header>
<!-- Header Biru End -->

<!-- Header -->
<header>
  <nav class="navbar header-nav header-nav-dark navbar-expand-lg">
    <div class="container">
      <!-- Brand -->
      <a class="navbar-brand" href="/">
        <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/logo.png" title="" alt="logo assist.id software klinik terbaik indonesia" style="max-height: 50px;">
      </a>
      <!-- / -->

      <!-- Mobile Toggle -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <!-- / -->
      <%- include('header-v3'); %>
    </div><!-- Container -->
  </nav> <!-- Navbar -->
</header>
<!-- Header End -->

<!-- Main -->
<main>


  <!--
  =============================
    Page Title Section
  =============================
  -->
  <section class="page-title-section " >
    <div class="container">
      <div class="row justify-content-center m-45px-b sm-m-25px-b">
        <div class="col-lg-9 col-md-10">
          <div class="section-title text-center">
            <h6 class="theme-color">Schedula - Assist.id</h6>
            <h1 class="dark-color font-alt heder1">Software Klinik Assist.id dengan berbagai fitur untuk professionalitas bisnis Anda</h1>
            <p>Tidak perlu khawatir data pasien Anda susah dicari, double, dan tercecer. Jadwal antrian pasien rapi dan terdata. Berikan pelayanan optimal dengan memungkinkan mereka membuat janji konsultasi secara online dan dapatkan pemberitahuan secara langsung mengenai status konsultasi.</p>
          </div>
          <div align="center" style="margin-top: 30px;">
            <a class="btn btn-theme" href="/demo-software-klinik" target="_blank">Demo Gratis</a>  &nbsp; <label style="font-size: 12px; margin-top: auto; margin-bottom: auto;"><a href="/atur-jadwal-demo-aplikasi-klinik" target="_blank">atau atur jadwal demo di faskes Anda</a></label>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 md-m-30px-b">
          <div class="section-title-02">
            <h2 class="dark-color font-alt theme-after">Kenapa pilih Assist.id?</h2>


          </div>
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-md-4 col-sm-6 m-30px-b">
              <div class="our-team-01">
                <div class="team-imgx">
                  <div class="img">
                    <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/ico-hand-planting.png" title="" alt="icon hand planting transparent">
                  </div>
                </div>
                <div class="teax-info">
                  <h6 class="theme-color">Mudah digunakan</h6>
                  <p>Dilengkapi tutorial penggunaan dan training menuntun Anda mudah mengoperasikan Assist.id.</p>

                </div>
              </div>
            </div> <!-- col -->
            <div class="col-md-4 col-sm-6 m-30px-b">
              <div class="our-team-01">
                <div class="team-imgx">
                  <div class="img">
                    <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/ico-topic-push-notification.png" title="" alt="icon push notification">
                  </div>
                </div>
                <div class="teax-info">
                  <h6 class="theme-color">Notifikasi realtime</h6>
                  <p>Notifikasi real time sehingga Anda mendapat update informasi baru dari sistem secara langsung.</p>

                </div>
              </div>
            </div> <!-- col -->
            <div class="col-md-4 col-sm-6 m-30px-b">
              <div class="our-team-01">
                <div class="team-imgx">
                  <div class="img">
                    <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/ico-synchronize.png" title="" alt="icon synchronize">
                  </div>
                </div>
                <div class="teax-info">
                  <h6 class="theme-color">Seluruh Fitur Terintegrasi</h6>
                  <p>Seluruh fitur Assist.id terintegrasi membuat bisnis Anda menjadi lebih efektif dan profesional.</p>

                </div>
              </div>
            </div> <!-- col -->
            <div class="col-md-4 col-sm-6 m-30px-b">
              <div class="our-team-01">
                <div class="team-imgx">
                  <div class="img">
                    <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/ico-eye.png" title="" alt="icon eye" style="max-height: 64px !important;">
                  </div>
                </div>
                <div class="teax-info">
                  <h6 class="theme-color">Akses Dimanapun Kapanpun</h6>
                  <p>Tidak harus selalu ada ditempat, akses aktifitas klinik dimanapun kapanpun Real Time.</p>

                </div>
              </div>
            </div> <!-- col -->
            <div class="col-md-4 col-sm-6 m-30px-b">
              <div class="our-team-01">
                <div class="team-imgx">
                  <div class="img">
                    <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/ico-touchscreen.png" title="" alt="icon touchscreen smartphone">
                  </div>
                </div>
                <div class="teax-info">
                  <h6 class="theme-color">Booking Dokter Online</h6>
                  <p>Pasien bisa booking konsultasi dokter online dari website Anda maupun aplikasi kami.</p>

                </div>
              </div>
            </div> <!-- col -->
            <div class="col-md-4 col-sm-6 m-30px-b">
              <div class="our-team-01">
                <div class="team-imgx">
                  <div class="img">
                    <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/ico-customer-support.png" title="" alt="icon customer support">
                  </div>
                </div>
                <div class="teax-info">
                  <h6 class="theme-color">Live Chat 24 Jam</h6>
                  <p>Bila Anda memiliki kendala dan membutuhkan bantuan kami ada setiap hari selama 24 jam.</p>

                </div>
              </div>
            </div> <!-- col -->
          </div> <!-- row -->
        </div>
      </div>
    </div> <!-- container -->
  </section>
  <!--
 =============================
   LINE
 =============================
 -->
  <section class="section gray-bg" >
    <div class="container">
      <div class="row">

        <div class="col-lg-4 md-m-30px-b" style="float: right !important;">
          <div class="section-title-02">
            <h2 class="font-alt dark-color theme-after">Rekam Medis (EMR)</h2>
            <p>Banyak keunggulan rekam medis (EMR) Assist.id yang Anda dapatkan mulai dari berbagai format EMR, upload segala
              jenis file dan masih banyak lagi.<br>
              <a href="/electronic-medical-record-sistem-aplikasi-klinik">Baca Lebih Lanjut</a></p>

          </div>
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-md-4 col-sm-6 m-30px-b">
              <div class="our-team-01">
                <div class="team-imgx">
                  <div class="img">
                    <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/ico-doctors-folder.png" title="" alt="icon doctor">
                  </div>
                </div>
                <div class="teax-info">
                  <h6>Berbagai Format EMR</h6>
                  <p>Tulis rekam medis secara bebas menggunakan berbagai format Assist.id yang Anda butuhkan.</p>
                </div>
              </div>
            </div> <!-- col -->
            <div class="col-md-4 col-sm-6 m-30px-b">
              <div class="our-team-01">
                <div class="team-imgx">
                  <div class="img">
                    <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/ico-medical-history.png" title="" alt="icon history medic">
                  </div>
                </div>
                <div class="teax-info">
                  <h6>Diagnosa ICD 10</h6>
                  <p>Standar penulisan rekam medis diagnosa pasien mudah dengan standar ICD 10.</p>
                </div>
              </div>
            </div> <!-- col -->
            <div class="col-md-4 col-sm-6 m-30px-b">
              <div class="our-team-01">
                <div class="team-imgx">
                  <div class="img">
                    <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/ico-toothache.png" title="" alt="icon tooth">
                  </div>
                </div>
                <div class="teax-info">
                  <h6>Odontogram Interaktif</h6>
                  <p>Mau diketik bisa diklik langsung juga bisa dengan fitur tabel gigi odontogram interaktif Assist.id.</p>
                </div>
              </div>
            </div> <!-- col -->
            <div class="col-md-4 col-sm-6 m-30px-b">
              <div class="our-team-01">
                <div class="team-imgx">
                  <div class="img">
                    <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/ico-clock-checked.png" title="" alt="icon clock checked">
                  </div>
                </div>
                <div class="teax-info">
                  <h6>Riwayat Berobat Pasien</h6>
                  <p>Riwayat pasien memberikan gambaran tindakan yang pernah dilakukan sebagai referensi dokter.</p>
                </div>
              </div>
            </div> <!-- col -->
            <div class="col-md-4 col-sm-6 m-30px-b">
              <div class="our-team-01">
                <div class="team-imgx">
                  <div class="img">
                    <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/ico-upload-to-cloud.png" title="" alt="icon cloud storage">
                  </div>
                </div>
                <div class="teax-info">
                  <h6>Upload File Apapun</h6>
                  <p>Mulai dari unggah berkas, dokumen, foto before after atau  apapun sesuka Anda.</p>
                </div>
              </div>
            </div> <!-- col -->
            <div class="col-md-4 col-sm-6 m-30px-b">
              <div class="our-team-01">
                <div class="team-imgx">
                  <div class="img">
                    <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/ico-highway.png" title="" alt="icon highway">
                  </div>
                </div>
                <div class="teax-info">
                  <h6>Bridging BPJS P-Care</h6>
                  <p>Software klinik Assist.id mendukung integrasi klinik Anda dengan sistem BPJS P-Care.</p>

                </div>
              </div>
            </div> <!-- col -->
          </div> <!-- row -->
        </div>
      </div>
    </div> <!-- container -->
  </section>
  <!--
   =============================
     22222222222222
   =============================
   -->



  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 md-m-30px-b">
          <div class="section-title-02">
            <h2 class="dark-color font-alt theme-after">Pengaturan Akun</h2>


          </div>
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-md-4 col-sm-6 m-30px-b">
              <div class="our-team-01">
                <div class="team-imgx">
                  <div class="img">
                    <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/ico-add-male-user.png" title="" alt="icon male user">
                  </div>
                </div>
                <div class="teax-info">
                  <h6 class="theme-color">Tambah Manajemen Staff</h6>
                  <p>Tambah pengguna dengan mudah, undang mereka melalui email untuk segera aktifasi akun.</p>

                </div>
              </div>
            </div> <!-- col -->
            <div class="col-md-4 col-sm-6 m-30px-b">
              <div class="our-team-01">
                <div class="team-imgx">
                  <div class="img">
                    <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/ico-grand-master-key.png" title="" alt="icon grand master key">
                  </div>
                </div>
                <div class="teax-info">
                  <h6 class="theme-color">Kontrol Hak Akses</h6>
                  <p>Batasi area akses kontrol pengguna berdasarkan tipe akses atau custom sesuai kebutuhan.</p>

                </div>
              </div>
            </div> <!-- col -->
            <div class="col-md-4 col-sm-6 m-30px-b">
              <div class="our-team-01">
                <div class="team-imgx">
                  <div class="img">
                    <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/ico-open-envelope.png" title="" alt="icon open envelope">
                  </div>
                </div>
                <div class="teax-info">
                  <h6 class="theme-color">Custom Surat Keterangan</h6>
                  <p>Fitur surat keterangan Assist.id dapat Anda sesuaikan dengan format bisnis klinik Anda.</p>

                </div>
              </div>
            </div> <!-- col -->
            <div class="col-md-4 col-sm-6 m-30px-b">
              <div class="our-team-01">
                <div class="team-imgx">
                  <div class="img">
                    <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/ico-business-report.png" title="" alt="icon business report">
                  </div>
                </div>
                <div class="teax-info">
                  <h6 class="theme-color">Laporan Basic</h6>
                  <p>Dilengkapi dengan laporan operasional.</p>

                </div>
              </div>
            </div> <!-- col -->
            <div class="col-md-4 col-sm-6 m-30px-b">
              <div class="our-team-01">
                <div class="team-imgx">
                  <div class="img">
                    <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/ico-message-exchange.png" title="" alt="icon message exchange">
                  </div>
                </div>
                <div class="teax-info">
                  <h6 class="theme-color">Bisa Import dan Export</h6>
                  <p>Tidak repot saat penggunaan pertama, import data lama Anda menggunakan excel ke Assist.id.</p>

                </div>
              </div>
            </div> <!-- col -->

            <!--<div class="col-md-4 col-sm-6 m-30px-b">-->
              <!--<div class="our-team-01">-->
                <!--<div class="team-img theme-after">-->
                  <!--<div class="img">-->
                    <!--<img src="static/img/team-10.jpg" title="" alt="team 10 image">-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="teax-info">-->
                  <!--<h6 class="theme-color">Obat Racikan</h6>-->
                  <!--<p>Software apotek Assist.id mampu menyimpan berbagai racikan obat / puyer di klinik Anda dengan rapi.</p>-->

                <!--</div>-->
              <!--</div>-->
            <!--</div> &lt;!&ndash; col &ndash;&gt;-->

          </div> <!-- row -->
        </div>
      </div>
    </div> <!-- container -->
  </section>

  <!--
   =============================
     Features
   =============================
  <section class="subscribe-section">
    <div class="container" style="margin-top: 50px;">
      <div class="subscribe-inner box-shadow">
        <div class="row align-items-center" >


          <div class="col sm-m-20px-b" align="center">
            <h4 class="dark-color font-alt bldd" style="color: white">Software Aplikasi Klinik #1 di Indonesia</h4>
            <label style="color: white">✔Data Real Time &nbsp;✔Laporan Otomatis &nbsp;✔Backup 24/7 ✔Full Integrasi BPJS &nbsp;✔Akreditasi Klinik</label>
          </div>
        </div>
        <div class="row align-items-center mrgg">
          <div class="col" align="center">

            <div class="form-group">

              <span class="input-focus-effect theme-bg"></span>
              <a class="btn btn-themewh" href="/demo-software-klinik" target="_blank">Coba Schedula Gratis</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  -->

  <!--
  ====================================
    KELOLA KLINIK LEBIH MUDAH HARI INI
  ====================================
  -->

  <div class="container" id="form">
    <div class="row justify-content-center m-45px-b sm-m-25px-b">
        <div class="col-lg-12 col-md-10"><br/>
            <div class="section-title text-center">
                <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-star-filled-64.png" title="" alt="icon star" class="icon-star">
                 <br/><br/>
                <h4 class="dark-color font-alt bldd">KELOLA KLINIK LEBIH MUDAH HARI INI</h4>
                <p class="m-0px dark-color1">Upgrade dan Inovasi Flexibilitas Bisnis Klinik Anda Bersama Assist.id</p>
               <br/>
            <div class="row justify-content-center">
               <div class="col-lg-8 col-md-10">
                <form class="contactform" method="post" action="/reqdemokelolaklinik">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="hidden" id="url" name="url" value="/sistem-informasi-klinik-schedula">
                            <input type="hidden" id="frombutton" name="frombutton" value="cta sistem-informasi-klinik-schedula">
                            <input id="usname" name="usname" type="text" placeholder="Nama (Sesuai ID/KTP)*" class="validate form-control" required>
                            <span class="input-focus-effect theme-bg"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                          <input id="jabatan" type="text" placeholder="Jabatan*" name="jabatan" class="validate form-control" required>
                          <span class="input-focus-effect theme-bg"></span>
                      </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input id="phonenumber" type="text" placeholder="Nomor Whatsapp*" name="phonenumber" class="validate form-control" required>
                            <span class="input-focus-effect theme-bg"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                          <input id="email" type="email" placeholder="Alamat Email*" name="email" class="validate form-control" required>
                          <span class="input-focus-effect theme-bg"></span>
                      </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input id="medname" type="text" placeholder="Nama Fasilitas Kesehatan*" name="medname" class="validate form-control" required>
                            <span class="input-focus-effect theme-bg"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input id="city" type="text" placeholder="Kota*" name="city" class="validate form-control" required>
                            <span class="input-focus-effect theme-bg"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                          <input id="mproduct" type="text" value="Schedula" placeholder="Schedula" name="mproduct" class="validate form-control"
                            disabled>
                          <span class="input-focus-effect theme-bg"></span>
                        </div>
                    </div>
                    <div class="col-md-6" >
                        <div class="form-group">
                            <input type="text" class="validate form-control" placeholder="Pesan(Optional)" name="message" id="message"></input>
                            <span class="input-focus-effect theme-bg"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                      <div class="send">
                          <button class="btn btn-themewh5 cta-cent" type="submit" name="send"> Demo Gratis</button>
                      </div>
                      <span class="output_message"></span>
                  </div>
                </div>
            </form>
        </div>
        </div>
        </div>
    </div>
    <!-- <a href="#form" class="btn btn-themewh5 cta-cent" >Demo Gratis</a> -->
</div>
  </div>

  <!--
  BATAS
   -->

   <%- include('bodyscripts'); %>

</main>
<!-- / -->
<%- include('footer-v3'); %>