<!doctype html>
<html lang="id">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!--start-->
    <meta name="author" content="Assist.id" />
    <meta name="google-site-verification" content="xaSOGYCxjaipS36lfuwWGfrYHzGC9D7SKHFztiC7HK0" />
    <meta name="keyword" content="assist.id, software, klinik rumah sakit, puskesmas, manajemen klinik">
    <meta name="description" content="Assist.id, solusi manajemen klinik, apotek, rumah sakit dengan teknologi sistem informasi, aplikasi klinik yang mengelola rekam medis, odontogram, antrian, konsultasi online, stok obat, laporan, kasir didukung BPJS P-Care...">
    <meta property="og:site_name" content="Assist.id" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Assist.id - Software Aplikasi Klinik Umum, Gigi, Kecantikan, BPJS Terlengkap" />
    <meta property="og:url" content="https://www.assist.id" />
    <meta property="og:description" content="Assist.id, solusi manajemen klinik, apotek, rumah sakit dengan teknologi sistem informasi, aplikasi klinik yang mengelola rekam medis, odontogram, antrian, konsultasi online, stok obat, laporan, kasir didukung BPJS P-Care..." />
    <!--end-->

    <title>Clinica - Sistem Informasi Manajemen Klinik Umum, Pratama dan BPJS Berbasis Cloud Web dari Assist.id Terlengkap</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/landing/apple-icon.png">

    <!-- Plugin CSS -->
    <link href="/static/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/plugin/font-awesome/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="/static/plugin/et-line/style.css" rel="stylesheet">
    <link href="/static/plugin/themify-icons/themify-icons.css" rel="stylesheet">
    <link href="/static/plugin/owl-carousel/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/static/plugin/magnific/magnific-popup.css" rel="stylesheet">
    <!-- End -->

    <!-- Theme css -->
    <link href="/static/css/stylev3.css" rel="stylesheet">
    <link href="/static/css/color/defaultv3.css" rel="stylesheet" id="color_theme">
    <!-- End -->
    <%- include('scripts'); %>

</head>

<!-- Body Start -->
<body data-spy="scroll" data-target="#navbar" data-offset="98">

<!-- Loading -->
<div id="loading">
    <div class="load-circle"><span class="one"></span></div>
</div>
<!-- / -->

<!-- Header Biru -->
<header>
    <nav class="navbar header-biru header-nav-dark navbar-expand-lg">
        <div class="container">
        <a>Sistem Aplikasi Klinik Terbaik di Indonesia</a>
        <a>Hubungi Kami 0813-1000-0949 | Senin - Jumat (08.30 - 17.30 WIB)</a>
        </div>
    </nav>
</header>
<!-- Header Biru End -->

<!-- Header Putih -->
<header>
    <nav class="navbar header-nav header-nav-dark navbar-expand-lg">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand" href="/">
                <img src="" data-src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/landing/logo.png" title="" alt="logo assist.id software klinik terbaik indonesia" style="max-height: 50px;">
            </a>
            <!-- / -->

            <!-- Mobile Toggle -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <!-- / -->

            <!-- Top Menu -->
            <%- include('header-v3'); %>
            <!-- / -->
     </div><!-- Container -->
  </nav> <!-- Navbar -->
</header>
<!-- Header Putih End -->

<!-- Main -->
<main>

    <!--
    =============================
      Home Banner
    =============================
    -->

    <section id="home" class="home-banner-01 bg-effect-box">
        <div class="bg-effect bg-cover bg-fixed"></div>
        <div class="container">
            <div class="row align-items-center justify-content-center p-100px-tb md-p-35px-b">
                <div class="col-lg-5 text-center m-50px-t">
                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Sistem-klinik-utama-umum-dan-pratama-bpjs-online-assist-id.jpg" title="" alt="sistem klinik utama umum dan pratama bpjs online assist" width="85%" style="border-radius: 10px;">
                </div>
                <div class="col-lg-7 p-20px-t">
                    <div>
                        <h5 class="theme-after dark-color">Solusi Kelola Klinik Utama dan Pratama BPJS Indonesia</h5>
                        <img class="bendera" src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-indonesia-32.png" title="" alt="icon bendera">
                    </div>
                    <h1 class="font-alt dark-color">Aplikasi Klinik Online Yang Memenuhi Kebutuhan Anda</h1>
                    <p class="sm-m-15px-b dark-color1" style="width: 580px;">Assist.id menangani setiap aspek bisnis klinik Anda, sehingga Anda dapat lebih fokus mengembangkan bisnis dan memberikan pelayanan keehatan terbaik kepada masyarakat indonesia</p>
                    <div class="">
                        <div class="sm-m-10px-b" >
                            <a class="btn btn-themewh4" href="#form">Demo Gratis</a>  &nbsp; <label class="hubungi"><a href="#form">atau hubungi tim Assist.id</a></label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- / -->

    <!--
    ===============================================
      Fitur Lengkap dalam Satu Aplikasi
    ===============================================
    -->
        <div class="alert alert-success text-center large-text1" role="alert">
            Jangan ditunda, mulai hari ini untuk laporan otomatis dan pantau operasional Klinik Anda dengan Mudah. <a href="/demo-sistem-klinik-premium-clinica" class="alert-link-blue-color bldd" target="_blank">Daftar Sekarang </a>
        </div>
        <section>
            <div class="container p-30px-t">
                <div class="row justify-content-center m-70px-b sm-m-0px-b">
                    <div class="col-lg-10 col-md-10">
                    <div class="section-title text-center p-20px-b sm-p-0px-b">
                        <h3 class="dark-color font-alt bldd">Fitur Lengkap dalam Satu Aplikasi</h3>
                       <p>Solusi dari awal hingga kontrol dan monitor. Platform Assist.id membantu Anda membuat proses operasional lebih cepat dan efektif dengan fitur yang lengkap untuk melayani pasien dengan pelayanan yang terbaik.</p><br/>
                   </div>
                </div>

                <div class="col-lg-6 col-md-12 col-xs-6">
                    <div class="row text-center justify-content-center">
                      <div class="col-lg-4 col-md-4 col-xs-4 m-15px-tb" style="width: 33%;">
                          <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Fitur-Booking-Konsultasi-Online-Dokter-Praktek-Klinik.png" title="" alt="booking" width="35%">
                          <br>
                          <h6 class="content dark-color font-alt p-15px-t bldd">Booking Konsultasi</h6>
                      </div>
                      <div class="col-lg-4 col-md-4 col-xs-4 m-15px-tb" style="width: 34%;">
                          <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Fitur-Catat-Rekam-Medis-Pasien-Elektronik-EMR-Online-Klinik-Dokter.png" title="" alt="rekam medis" width="27%">
                          <br>
                          <h6 class="content dark-color font-alt p-15px-t bldd" >Rekam Medis</h6>
                      </div>
                      <div class="col-lg-4 col-md-4 col-xs-4 m-15px-tb" style="width: 33%;">
                          <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Data-Stok-Obat-Apotek-Farmasi-Klinik.png" title="" alt="stok obat" width="47%">
                          <br>
                          <h6 class="content dark-color font-alt p-15px-t bldd">Data Stok Obat</h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-12 col-xs-6">
                    <div class="row text-center justify-content-center">
                      <div class="col-lg-4 col-md-4 col-xs-4 m-15px-tb" style="width: 33%;">
                          <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Fitur-Kasir-Pembayaran-POS-Klinik.png" title="" alt="pembayaran" width="38%">
                          <br>
                          <h6 class="content dark-color font-alt p-15px-t bldd">Kasir Pembayaran</h6>
                      </div>
                      <div class="col-lg-4 col-md-4 col-xs-4 m-15px-tb" style="width: 34%;">
                          <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Fitur-Laporan-Otomatis-Klinik.png" title="" alt="kasir" width="34%">
                          <br>
                          <h6 class="content dark-color font-alt p-15px-t bldd">Laporan Otomatis</h6>
                      </div>
                      <div class="col-lg-4 col-md-4 col-xs-4 m-15px-tb" style="width: 33%;">
                          <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Fitur-Manajemen-Akun-Hak-Akses-Staff-Klinik.png" title="" alt="laporan" width="42%">
                          <br>
                          <h6 class=" content dark-color font-alt p-15px-t bldd">Manajemen Staff</h6>
                      </div>
                    </div>
                  </div>
                <a href="/aplikasi-klinik-berbasis-web-clinica"  class="link theme-color text-center sm-p-10px-b" target="_blank">Mau lihat seluruh fitur Assist.id? Yuk jelajahi seluruh fitur Assist.id</a>
             </div>
        </div>
    </section>

    <section class="subscribe-section p-20px-t sm-m-60px-t">
        <div class="container">
            <div class="subscribe-inner box-shadow">
                <div class="row align-items-center" align="center">

                    <div class="col-md-2" align="right">
                        <img src="" data-src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/landing/ico-ok-hand-filled.png" alt="icon ok handfilled" style="max-height: 50px;">
                    </div>
                    <div class="col-md-7" align="left">
                        <p class="cta-txt1"><span class="bldd">Coba dulu, Tentukan nanti.</span><br>Tanpa biaya. Tanpa resiko. Konsultasikan kebutuhan klinik Anda.</p>
                    </div>
                    <div class="col-md-1">
                        <a class="btn btn-themewh cta-cent" href="#form">Demo Gratis</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--
    ====================================================
      Mudah Kelola Klinik dan Apotek Dalam Satu Aplikasi
    ====================================================
    -->

    <section id="feature" class="section-feature shapes-section bg-effect-box ">
        <div class="bg-effect bg-fixed bg-center-center"></div>
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-lg-12 col-md-12 text-center">
                <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Fitur-Klinik-Sistem-Lengkap-Rekam-Medis-Pasien-Dokter-Assist-id.png" title="" alt="fitur klinik sistem lengkap rekam medis pasien dokter assist.id">
                </div>
                <div class="col-lg-10 col-md-10">
                    <div class="section-title text-center p-50px-b sm-p-20px-b">
                         <h3 class="dark-color font-alt bldd">Mudah Kelola Klinik dan Apotek Dalam Satu Aplikasi</h3>
                        <p class="dark-color1">Assist.id hadir sebagai solusi manajemen informasi fasilitas kesehatan Indonesia berbasis cloud profesional sehingga platform Assist.id dapat diakses berbagai device seperti komputer, tablet dan smartphone yang didesain simple dan mudah digunakan untuk Tim anda</p>
                    </div>
                </div>
            </div>

    <div class="row align-items-center">
        <div class="col-md-6">
            <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/mudah-lihat-laporan-klinik-otomatis-dari-sistem-assist-id.png" title="" alt="laporan klinik otomatis" style="border-radius: 10px; width: 550px; height: 300px;">
        </div>
        <div class="col-md-6">
            <div class="content std-box p-50px-r md-p-0px-lr sm-p-25px-t">
                <h3 class="font-alt dark-color bldd">Laporan Otomatis, Monitor Mudah</h3>
                <p class="dark-color1">Laporan lengkap untuk rekam medis, operasional, komisi, hingga keuangan klinik yang mudah diakses dimanapun dan kapanpun. Tersedia laporan format dinas kesehatan, laporan diagnosa terbanyak dan masih banyak lagi.</p>
                <a href="#" target="_blank" class="pelajari-pratama sm-m-10px-t">Pelajari lebih lanjut</a>
            </div>
        </div>
    </div> <!-- row -->

    <div class="row align-items-center p-40px-t sm-p-25px-t">
        <div class="col-md-6 order-last order-md-first">
            <div class="feature-content std-box md-p-0px-lr sm-p-25px-t">
                <h3 class="font-alt dark-color bldd">Staff Training & Implementasi</h3>
                <p class="dark-color1">Tidak perlu khawatir karyawan tidak mengerti menggunakan sistem. Assist.id menyediakan training staff klinik mudah secara online ataupun offline, dilengkapi modul penggunaan aplikasi dan live chat setia membantu setiap saat.</p>
                <a href="#" target="_blank"  class="pelajari-pratama sm-m-10px-t">Pelajari lebih lanjut</a>
            </div>
        </div>
        <div class="col-md-6">
            <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/training-online-on-site-aplikasi-klinik-sistem-assist-id.png" title="" alt="training online on site aplikasi klinik" style="border-radius: 10px; width: 550px; height: 300px; ">
        </div>
    </div> <!-- row -->

    <div class="row align-items-center p-50px-t sm-p-25px-t">
        <div class="col-md-6">
            <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/sistem-klinik-penggajian-komisi-manajemen-payroll-mudah-klinik-assist-id.png" title="" alt="sistem klinik penggajian komisi manajemen" style="border-radius: 10px; width: 550px; height: 300px;">
        </div>
        <div class="col-md-6">
            <div class="content std-box p-50px-r md-p-0px-lr sm-p-25px-t">
                <h3 class="font-alt dark-color bldd">Hak Akses & Komisi Karyawan</h3>
                <p class="dark-color1">Kini manajemen penggajian karyawan (payroll), jumlah pasien dokter, komisi tindakan dan penjualan, bonus, kinerja tim Anda menjadi lebih ringan dari sebelumnya</p>
                <a href="#" target="_blank" class="pelajari-pratama sm-m-10px-t">Pelajari lebih lanjut</a>
            </div>
        </div>
    </div> <!-- row -->

    <div class="row align-items-center p-40px-t sm-p-25px-t">
        <div class="col-md-6 order-last order-md-first">
            <div class="feature-content std-box md-p-0px-lr sm-p-25px-t">
                <h3 class="font-alt dark-color bldd">Bridging BPJS & Standar ICD10</h3>
                <p class="dark-color1">Sistem Assist.id dapat dihubungingan dengan sistem BPJS agar klinik lebih cepat dalam input data. Format rekam medis pasien di sistem Assist.is juga sudah dilengkapi standar ICD10</p>
                <a href="#" target="_blank"  class="pelajari-pratama sm-m-10px-t">Pelajari lebih lanjut</a>
            </div>
        </div>
        <div class="col-md-6">
            <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/bridging-bpjs-standar-icd10-aplikasi-klinik-assist-id.png" title="" alt="bridging bpjs standar icd10" style="border-radius: 10px; width: 550px; height: 350px; ">
        </div>
    </div> <!-- row -->
    </div>
    </section>

    <!--
    ===========================================================
      Implementasi & Go Live dalam 1 Minggu
    ===========================================================
    -->

    <div class="container">
        <div class="row justify-content-center m-40px-t sm-m-10px-b">
            <div class="col-lg-7 col-md-10 p-30px-b"><br/>
                <div class="section-title text-center">
                    <h4 class="dark-color font-alt bldd">Implementasi & Go Live dalam 1 Minggu</h4>
                    <p class="dark-color1 m-10px-b">Layanan Assist.id memungkinkan Anda untuk segera menggunakan tanpa lama. Tidak perlu ragu, kami selalu Anda untuk kebutuhan Anda.</p><br/>
                </div>
            </div>
                <div class="col-lg-9 col-md-10">
                    <div class="row text-center">
                      <div class="implementasi col-lg-4 col-md-6 m-15px-tb">
                          <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Tahapan-membuat-akun-dan-settings-sistem-assist-id.png" title="" alt="Tahapan membuat akun dan settings sistem assist.id" width="65%">
                          <br>
                          <h6 class="dark-color font-alt p-15px-t bldd">1. Buat Akun dan Settings</h6>
                          <p class="dark-color1 large-text1">Mudah Cukup 15 Menit</p>
                      </div>
                      <div class="implementasi col-lg-4 col-md-6 m-15px-tb">
                        <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Tahapan-migrasi-dan-training-sistem-assist-id.png" title="" alt="Tahapan migrasi dan training sistem assist.id" width="65%">
                          <br>
                          <h6 class="dark-color font-alt p-15px-t bldd" >2. Migrasi dan Training</h6>
                          <p class="dark-color1 large-text1">Cepat Cukup 24 Jam</p>
                      </div>
                      <div class="implementasi col-lg-4 col-md-6 m-15px-tb">
                        <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Tahapan-go-live-klinik-sistem-assist-id.png" title="" alt="Tahapan go live klinik sistem assist.id" width="67%">
                          <br>
                          <h6 class="dark-color font-alt p-15px-t bldd">3. Go Live Klinik, Worry Free</h6>
                          <p class="dark-color1 large-text1">Pedampingan Online 7 Hari</p>
                      </div>
                  </div>
            </div>
        </div>
    </div>

    <!--
    ===========================================
      Tidak Perlu Instalasi Apapun
    ===========================================
    -->

    <section class="gray-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 col-md-10">
                    <div class="section-title text-center instalasi p-40px-tb sm-p-5px-t sm-p-10px-b"><br/>
                        <h3 class="dark-color font-alt bldd" style="color:#2b64af">Tidak Perlu Instalasi Apapun</h3>
                        <p class="dark-color1 m-10px-b">Assist.id dapat digunakan dimana saja, baik berupa komputer, tablet dan smartphone. Tidak perlu membeli server yang mahal dan memakan tempat cukup gunakan server Assist.id</p><br/>
                    </div>
                </div>
            </div>
        <div class="row align-items-center">
        </div>
        </div>
    </section> <!-- row -->

 <!--
    ====================================================
      Belajar Langsung Dari Klinik Yang Berpengalaman
    ====================================================
    -->

    <section id="feature" class="section-belajar shapes-section bg-effect-box p-30px-b">
        <div class="bg-effect bg-fixed bg-center-center"></div>
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-lg-9 col-md-10 p-50px-t p-60px-b sm-p-25px-b sm-p-35px-t">
                    <div class="section-title text-center">
                         <h3 class="dark-color font-alt bldd">Belajar Langsung Dari Klinik Yang Berpengalaman </h3>
                    </div>
                </div>
            </div>

     <section id="home" class="home-belajar-01 bg-effect-box">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/klinik-lebih-dari-mitra-assist-id-bandung.jpg" title="" alt="klinik lebih dati mitra assist.id bandung" style="border-radius: 10px; width: 550px; height: 300px;">
            </div>
            <div class="col-md-6">
                <div class="std-box md-p-0px-lr md-m-40px-t sm-m-20px-t">
                    <h5 class="theme-after dark-color">Klinik Bona Mitra Keluarga Bojongsoang</h5>
                    <h3 class="font-alt dark-color bldd p-5px-t">Lebih Dari Mitra Bisnis</h3>
                    <p class="sm-m-0px-b dark-color1 large-text2">Dikenal sebagai klinik Pertama yang terakreditasi sekabupaten Bandung. Berawal dari kebutuhan sistem klinik hingga menjadi rekan roadshow Assist.id dan Kemkominfo.</p>
                    <a href="#" target="_blank" class="link-belajar sm-m-10px-t">Baca Selengkapnya</a>
                </div>
            </div>
        </div> <!-- row -->
    </section>

    <section id="home" class="home-belajar-01 bg-effect-box">
        <div class="row align-items-center p-50px-t">
            <div class="col-md-6">
                <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Klinik-padjajaran-bandung-mitra-assist-id.JPG" title="" alt="klinik padjajaran bandung mitra assist.id" style="border-radius: 10px; width: 550px; height: 300px;">
            </div>
            <div class="col-md-6">
                <div class="std-box md-p-0px-lr md-m-40px-t sm-m-20px-t">
                    <h5 class="theme-after dark-color">Klinik Padjajaran Kiara Husada Bandung</h5>
                    <h3 class="font-alt dark-color bldd p-5px-t">Brand Klinik Profesional</h3>
                    <p class="sm-m-0px-b dark-color1 large-text2">Profesionalitas kerja klinik yang tinggi harus didukung dengan sistem yang dapat menyokong operasional serta implementasi&nbsp; fitur yang dapat meningkatkan brand dari Assist.id </p>
                    <a href="#" target="_blank" class="link-belajar sm-m-10px-t">Baca Selengkapnya</a>
                </div>
            </div>
        </div> <!-- row -->
    </section>

    <section id="home" class="home-belajar-01 bg-effect-box">
        <div class="row align-items-center p-50px-t">
            <div class="col-md-6">
                <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/klinik-pratama-amanah-ayah-bunda-pekanbaru-mitra-assist-id.jpg" title="" alt="klinik pratama amanah ayah bunda pekanbaru mitra assist.id" style="border-radius: 10px; width: 550px; height: 300px;">
            </div>
            <div class="col-md-6">
                <div class="std-box md-p-0px-lr md-m-40px-t sm-m-20px-t">
                    <h5 class="theme-after dark-color">Klinik Amanah Ayah Bunda Pekanbaru</h5>
                    <h3 class="font-alt dark-color bldd p-5px-t">Mudah Beralih dari Manual</h3>
                    <p class="sm-m-0px-b dark-color1 large-text2">Pemilik klinik yang sangat gesit dan&nbsp; terbuka atas opportunity&nbsp; yang ada dengan memaksimalkan teknologi untuk membantu mengembangkan bisnis dari manual bersama Assist.id</p>
                    <a href="#" target="_blank" class="link-belajar sm-m-10px-t">Baca Selengkapnya</a>
                </div>
            </div>
        </div> <!-- row -->
    </section>

    </div>
</section>

 <!--
    ====================================================
      Telah Dipercaya Lebih dari 130 Fasilitas Kesehatan
    ====================================================
    -->

    <section class="section-logo">
        <div class="container">
            <div class="row justify-content-center m-40px-b sm-m-25px-b">
                <div class="col-lg-9 col-md-10">
                    <div class="section-title text-center"><br/>
                        <h3 class="dark-color font-alt bldd p-30px-b sm-p-10px-b">Telah Dipercaya Lebih dari 136+ Fasilitas Kesehatan</h3>
                    </div>
                </div>
                <div class="logo-kerjasama">
                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Klinik-hilya-syari-clinic-kecantikan-assist-id.png" title="" alt="logo" class="logo-klinik-hilya">
                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/klinik-Kiara-healthcare-clinic-jakarta-assist-id.png" title="" alt="logo" class="logo-kiara">
                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Klinik-jogja-yogya-dental-clinic-assist-id.jpeg" title="" alt="logo" class="logo-dental">
                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Klinik-pratama-labuh-baru-dokter-keluarga-pekanbaru-assist-id.JPG" title="" alt="logo" class="logo-pratama">
                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Klinik-lanud-roesmin-pekanbaru-assist-id.png" title="" alt="logo" class="logo-lanud">
                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Klinik-Dewa-Medika-Clinic-Jakarta-Cikarang-assist-id.jpeg" title="" alt="logo" class="logo-dewa">
                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Padjadjaran Clinic KH, Leles _ Jatinangor.png" title="" alt="logo" class="logo-padjajaran">

                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/klinik-rumah-sakit-Annisa-Medika-2-pekanbaru-assist-id.jpeg" title="" alt="logo" class="logo-annisa">
                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Klinik-padjajaran-itenas-bandung-assist-id.jpeg" title="" alt="logo" class="logo-itenas">
                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Klinik-alda-pekanbaru-assist-id.png" title="" alt="logo" class="logo-alda">
                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Klinik-mutiara-cikutra-kmc-bandung-assist-id.png" title="" alt="logo" class="logo-mutiara">
                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/UNRI Sehati I Clinic.jpeg" title="" alt="logo" class="logo-unri">
                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/SKDC.jpg" title="" alt="logo" class="logo-skdc">
                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Klinik-hera-beauty-bar-pekanbaru-kecantikan-assist-id.jpg" title="" alt="logo" class="logo-hera">

                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/bona-mitra.png" title="" alt="logo" class="logo-bona">
                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Klinik-hemodialisa-cycare-hemodialysis-clinic-assist-id.jpg" title="" alt="logo" class="logo-hemodialisa">
                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Klinik-Essa-Medic-Care-Clinic-Assist-id.jpeg" title="" alt="logo" class="logo-essa">
                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/klinik-dewa-ayu-beauty-care-bekasi-assist-id.jpeg" title="" alt="logo" class="logo-ayu">
                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Klinik-pratama-universitas-abdurrab-pekanbaru-assist-id.jpeg" title="" alt="logo" class="logo-abdurrab">
                </div>
            </div>
            </div>
    </section>

    <!--
    =============================
      Testimonial Pelanggan Kami
    =============================
    -->

  <div class="container p-50px-b sm-p-15px-b" >
    <div class="row justify-content-center m-20px-b sm-m-25px-b">
        <h4 class="theme-color bldd md-p-15px-t" style="color:#2b64af">Testimonial Pelanggan Kami</h4>
    </div>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
         <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/testimonial-sistem-klinik-terbaik-assist-id.png" alt="testimonial sistem klinik terbaik assist.id" class="image-testimonial m-15px-r sm-m-10px-r">
            <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/testimonial-klinik-arrazi-medika-siak-pratama-sistem-klinik-terbaik-assist-id.png" alt="testimonial klinik arrazi medika siak pratama" class="image-testimonial" >
           </div>
           <div class="carousel-item">
            <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/testimonial-sistem-klinik-terbaik-assist-id-bpjs.png" alt="testimonial sistem klinik terbaik assist.id bpjs" class="image-testimonial m-15px-r sm-m-10px-r">
            <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/testimonial-willy-cw-dental-care-pekanbaru-sistem-klinik-gigi-terbaik-assist-id.png" alt="testimonial willy cw dental care pekanbaru" class="image-testimonial" >
           </div>
           <!-- <div class="carousel-item">
            <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/testimonial-ketua-pekanbaru-annual-scientific-session-2019-PDGI-pekanbaru-isthika-sistem-klinik-terbaik-assist-id.png" alt="testimonial ketua pekanbaru annual scientific session 2019 PDGI pekanbaru isthika" class="image-testimonial" >
           </div> -->
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
</div>

<!--
    ===========================================================
      Partner & Media Publicity Assist.id
    ===========================================================
    -->

    <div class="container" >
        <div class="row justify-content-center m-50px-t m-50px-b sm-m-25px-tb">
            <div class="section-title text-center">
            <h4 class="dark-color1 bldd md-p-15px-t">Partner & Media Publicity Assist.id</h4>
            </div>
        </div>
        <div class="marquee p-80px-b sm-p-40px-b">
            <div class="marquee-content">
                <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/techinasia-startup-healthtech-kesehatan-sistem-klinik-jakarta-assist-id.png" alt="logo techinasia">
                <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Kontan-ekonomi-sistem-klinik-indonesia-assist-id.png" alt="logo kontan ekonomi" class="logo-partner">
                <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/kementrian-ristek-dikti-sistem-klinik-terbaik-assist-id.png" alt="logo kementrian ristek dikti">
                <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/persatuan-dokter-gigi-indonesia-pekanbaru-pdgi-assist-id.png" alt="logo persatuan dokter gigi indonesia">
                <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/asosiasi-klinik-indonesia-asklin-bandung-pekanbaru-riau-assist-id.png" alt="logo asosiasi klinik indonesia">
                <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Logo-kemkominfo-id-sistem-klinik-assist-id.png" alt="logo kemkominfo">
                <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/healthtech-id-sistem-klinik-terbaik-assist-id.png" alt="logo healthtech">
            </div>
        </div>
    </div>

        <!--
    ===========================================
      Pilih Paket Terbaik Untuk Klinik Anda
    ===========================================
    -->

    <section class="section-product gray-bg md-p-30px-b p-10px-b">
      <div class="container">
        <div class="row align-items-center">
            <div class="row justify-content-center p-50px-t">
                <div class="col-lg-10 col-md-10">
                    <div class="section-title text-center p-50px-b sm-p-20px-b">
                         <h3 class="dark-color font-alt bldd">Pilih Paket Terbaik Untuk Klinik Anda</h3>
                         <div class="row justify-content-center">
                            <div class="col-lg-10 col-md-10">
                            <p class="dark-color1">Bergabung bersama lebih dari 136 Fasilitas Kesehatan di berbagai kota yang telah menggunakan Assist.id. Coba Gratis Bayar Bulanan atau Tahunan Sepenuhnya pilihan Anda.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center ">
          <div class="col-lg-12 col-md-12">
            <table class="table">
                <thead class="footer-dark">
                  <tr>
                    <th></th>
                    <th class="text-center dark-color1 bldd judul">Clinica For Starters</th>
                    <th class="text-center dark-color1 bldd judul">Clinica</th>
                    <th class="text-center dark-color1 bldd judul">Clinica Pro <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-crown-64.png" title="" alt="icon crown" width="10%"></th>
                  </tr>
                </thead>
                <tbody class="footer-dark">
                  <tr>
                    <td colspan="4" class="gray-bg">Fitur</td>
                  </tr>
                  <tr>
                    <td>Dashboard</td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark1"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark2"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark3"></td>
                  </tr>
                  <tr>
                    <td>Penanganan Pasien Rawat Jalan</td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark1"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark2"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark3"></td>
                  </tr>
                  <tr>
                    <td>Penanganan Pasien Gawat Darurat</td>
                    <td></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark2"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark3"></td>
                  </tr>
                  <tr>
                    <td>Penanganan Pasien Kunjungan Sehat</td>
                    <td></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark2"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark3"></td>
                  </tr>
                  <tr>
                    <td>Penanganan Pasien Promotif Preventif</td>
                    <td></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark2"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark3"></td>
                  </tr>
                  <tr>
                    <td>Manajemen Kegiatan Kelompok</td>
                    <td></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark2"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark3"></td>
                  </tr>
                  <tr>
                    <td>Kalender Kunjungan Pasien</td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark1"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark2"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark3"></td>
                  </tr>
                  <tr>
                    <td>Pasien Checkin dari QR Code Aplikasi Pasien</td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark1"></td>
                    <td class="text-center" ><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark2"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark3"></td>
                  </tr>
                  <tr>
                    <td>Vital Sign Bagian Pendaftaran <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-info-104.png" title="Vital sign dapat diisi di bagian pendaftaran oleh admisi, sebelum masuk ruangan oleh perawatataupun diisi langsung oleh dokter di rekam medis bergantung SOP di klinik Anda." alt="icon info" class="icon-info"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark1"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark2"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark3"></td>
                  </tr>
                  <tr>
                    <td>Panggilan Antrian Pasien Otomatis <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-info-104.png" title="Anda dapat menghubungkan sistem Assist.id dengan TV atau speaker klinik untuk lebih maksimal dalam menggunakan fitur pemanggilan ini" alt="icon info" class="icon-info"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark1"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark2"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark3"></td>
                  </tr>
                  <tr>
                    <td>Menampilkan Antrian Pasien di TV <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-info-104.png" title="Anda dapat menghubungkan sistem Assist.id dengan TV untuk menggunakan fitur pemanggilan ini" alt="icon info" class="icon-info"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark1"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark2"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark3"></td>
                  </tr>
                  <tr>
                    <td>Easy Reschedule <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-info-104.png" title="Klinik dapat mengatur dan mengubah jadwal kunjungan pasien dengan mudah menggunakan fitur ini" alt="icon info" class="icon-info"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark1"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark2"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark3"></td>
                  </tr>
                  <tr>
                    <td>Color Coding Status <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-info-104.png" title="Operasional klinik lebih mudah dan cepat dalam klasifikasi status pasien menggunakan metode color coding dari Assist.id" alt="icon info" class="icon-info"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark1"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark2"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark3"></td>
                  </tr>
                  <tr>
                    <td>Resep Obat Digital <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-info-104.png" title="Dokter dapat melakukan peresepan obat dengan melihat stok obatnya langsung dari ruang konsultasi. Bila obat habis, dokter bisa merekomendasikan obat lain yang ada di apotek klinik. Semua lebih mudah karena sistem terintegrasi." alt="icon info" class="icon-info"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark1"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark2"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark3"></td>
                  </tr>
                  <tr>
                    <td>Standar ICD 10</td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark1"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark2"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark3"></td>
                  </tr>
                  <tr>
                    <td>Manajemen Bahan Habis Pakai (BHP)</td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark1"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark2"></td>
                    <td class="text-center" ><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark3"></td>
                  </tr>
                  <tr>
                    <td>Multi Hak Akses <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-info-104.png" title="Setiap pengguna Assist.id memiliki hak aksesnya masing-masing dan berbagai macam jenis hak Akses yang tersedia di Assist.id, bahkan Klinik dapat membuat hak akses custom yang sesuai dengan kebutuhan." alt="icon info" class="icon-info"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark1"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark2"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark3"></td>
                  </tr>
                  <tr>
                    <td>Multi Depot / Gudang <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-info-104.png" title="Klinik dapat mengetahui jumlah obat dan BHP di berbagai tempat." alt="icon info" class="icon-info"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark1"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark2"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark3"></td>
                  </tr>
                  <tr>
                    <td>Kartu Stok Obat Digital</td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark1"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark2"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark3"></td>
                  </tr>
                  <tr>
                    <td>Manajemen Pembelian <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-info-104.png" title="Purchase order, Restock, Retur, Pembayaran dan Hutang Piutang." alt="icon info" class="icon-info"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark1"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark2"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark3"></td>
                  </tr>
                  <tr>
                    <td>Warning Stok & Kadaluarsa Obat</td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark1"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark2"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark3"></td>
                  </tr>
                  <tr>
                    <td>Cetak Struk Penagihan dan Pembelian</td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark1"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark2"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark3"></td>
                  </tr>
                  <tr>
                    <td>Manajemen Penggajian & Uang Duduk Karyawan</td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark1"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark2"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark3"></td>
                  </tr>
                  <tr>
                    <td>Manajemen Komisi Bonus Tenaga Medis</td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark1"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark2"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark3"></td>
                  </tr>
                  <tr>
                    <td>Booking Online dari Aplikasi Pasien</td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark1"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark2"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark3"></td>
                  </tr>
                  <tr>
                    <td>Reservasi Online Booking Website Klinik <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-info-104.png" title="Jika klinik memiliki website pribadi dan ingin mengaktifkan fitur online booking bisa kami bantu integrasikan langsung ke halaman penjadwalan di sistem Clinica." alt="icon info" class="icon-info"></td>
                    <td></td>
                    <td></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark3"></td>
                  </tr>
                  <tr>
                    <td>Cari Data Pasien Instan <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-info-104.png" title="Admisi dapat melakukan pencarian data pasien berdasarkan nama, alamat, nomor hp, nomor MR, nomor BPJS, nomor KTP." alt="icon info" class="icon-info"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark1"> &nbsp; Basic</td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark2"> &nbsp; Basic</td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark3"> &nbsp; Advanced</td>
                  </tr>
                  <tr>
                    <td>Rekam Medis Elektronik <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-info-104.png" title="Mulai dari pencatatan SOAP dokter, pencatatan riawayat penyakit dan alergi pasien pencatatan Tindakan/Prosedur, Odontogram Interaktif, Pencatatan Catatan Organ dan masih banyak lainnya Hubungi Kami untuk mengetahui Beda Basic dan Advanced." alt="icon info" class="icon-info"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark1"> &nbsp; Basic</td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark2"> &nbsp; Basic</td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark3"> &nbsp; Advanced</td>
                  </tr>
                  <tr>
                    <td>Cetak Surat Menyurat Klinik <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-info-104.png" title="Assist.id menyediakan banyak jenis surat yang dapat Anda gunakan mulai dari surat keterangan sehat, surat cuti melahirkan, surat informed consent dan masih banyak lagi." alt="icon info" class="icon-info"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark1"> &nbsp; Basic</td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark2"> &nbsp; Basic</td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark3"> &nbsp; Advanced</td>
                  </tr>
                  <tr>
                    <td>Laporan <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-info-104.png" title="Assist.id menyediakan banyak jenis laporan klinik mulai dari laporan pendapatan dan pengeluaran, laporan data pasien, laporan total asset obat, laporan diagnosa terbanyak, laporan morbid puskesmas, laporan obat fast moving dan slow moving dan masih banyak lagi." alt="icon info" class="icon-info"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark1"> &nbsp; Basic</td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark2"> &nbsp; Basic</td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark3"> &nbsp; Advanced</td>
                  </tr>
                  <tr>
                    <td>Cetak Label Pasien & Obat</td>
                    <td></td>
                    <td></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark3"></td>
                  </tr>
                  <tr>
                    <td>Kategori Pasien Sesuai Kebutuhan <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-info-104.png" title="Klinik dapat menambahkan informasi lanjutan dari pasien, misalnya Klinik membutuhkan informasi nomor asuransi perusahaan atau NIK karyawan perusahaan." alt="icon info" class="icon-info"></td>
                    <td></td>
                    <td></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark3"></td>
                  </tr>
                  <tr>
                    <td>Odontogram Interaktif</td>
                    <td></td>
                    <td></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark3"></td>
                  </tr>
                  <tr>
                    <td>Laboratorium</td>
                    <td></td>
                    <td></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark3"></td>
                  </tr>
                  <tr>
                    <td>Multi Harga Obat</td>
                    <td></td>
                    <td></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark3"></td>
                  </tr>
                  <tr>
                    <td>Nilai Aset Obat</td>
                    <td></td>
                    <td></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark3"></td>
                  </tr>
                  <tr>
                    <td>Biaya Operasional</td>
                    <td></td>
                    <td></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark3"></td>
                  </tr>
                  <tr>
                    <td>Tutup Buku Kasir</td>
                    <td></td>
                    <td></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark3"></td>
                  </tr>
                  <tr>
                    <td>Transaksi non-medis</td>
                    <td></td>
                    <td></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark3"></td>
                  </tr>
                  <tr>
                    <td>Laporan Harian Otomatis ke Email Manajemen</td>
                    <td></td>
                    <td></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark3"></td>
                  </tr>
                  <tr>
                    <td>Medical Checkup (MCU)</td>
                    <td></td>
                    <td></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark3"></td>
                  </tr>
                  <tr>
                    <td>Akreditasi Klinik</td>
                    <td></td>
                    <td></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark3"></td>
                  </tr>
                  <tr>
                  <tr>
                    <td>Terintegrasi Penuh Antar Semua Bagian <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-info-104.png" title="Semua bagian terhubung satu dengan lainnya di Assist.id untuk mempermudah proses operasional klinik Anda." alt="icon info" class="icon-info"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark1"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark2"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark3"></td>
                  </tr>
                  <tr>
                    <td>Realtime notification <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-info-104.png" title="Semua pemberitahuan perubahan dan kegiatan operasional akan ada notifikasinya secara real time." alt="icon info" class="icon-info"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark1"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark2"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark3"></td>
                  </tr>
                    <td>Bridging BPJS</td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark1"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark2"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark3"></td>
                  </tr>
                  <tr>
                    <td>Multi Cabang Klinik</td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark1"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark2"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark3"></td>
                  </tr>
                  <tr>
                      <td colspan="4" class="gray-bg" id="table">Servis</td>
                  </tr>
                  <tr id="table">
                    <td>Email Support</td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark1"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark2"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark3"></td>
                  </tr>
                  <tr id="table">
                    <td>Web Live Chat Support <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-info-104.png" title="Live Chat dapat diakses dari website Assist.id ataupun saat staff klinik Anda sedang aktif beroperasional di platform kami." alt="icon info" class="icon-info"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark1"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark2"></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark3"></td>
                  </tr>
                  <tr id="table">
                    <td>Whatsapp Support</td>
                    <td></td>
                    <td></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark3"></td>
                  </tr>
                  <tr id="table">
                    <td>Call Support</td>
                    <td></td>
                    <td></td>
                    <td class="text-center"><img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark" class="icon-checkmark3"></td>
                  </tr>
                  <tr id="table">
                    <td>Training</td>
                    <td class="text-center">1 Sesi</td>
                    <td class="text-center">2 Sesi</td>
                    <td class="text-center">4 Sesi</td>
                  </tr>
                  <tr id="table">
                    <td colspan="4" class="gray-bg">Penggunaan</td>
                  </tr>
                  <tr id="table">
                    <td>Jumlah Akun</td>
                    <td class="text-center">10 akun</td>
                    <td class="text-center">20 akun</td>
                    <td class="text-center">50 akun</td>
                  </tr>
                  <tr id="table">
                    <td>Jumlah Tenaga Medis</td>
                    <td class="text-center">2 Tenaga Medis</td>
                    <td class="text-center">10 Tenaga Medis</td>
                    <td class="text-center">20 Tenaga Medis</td>
                  </tr>
                  <tr id="table">
                    <td colspan="4" class="gray-bg">Harga</td>
                  </tr>
                  <tr id="table">
                    <td>Pricing</td>
                    <td class="text-center">Free (Gratis)</td>
                    <td class="text-center">Hubungi Kami</td>
                    <td class="text-center">Hubungi Kami</td>
                  </tr>
                  <tr id="table">
                    <td></td>
                    <td class="text-center"><a class="btn btn-themewh9 cta-cent" href="#form">Daftar Sekarang</a></td>
                    <td class="text-center"><a class="btn btn-themewh9 cta-cent" href="#form">Coba Gratis</a></td>
                    <td class="text-center"><a class="btn btn-themewh9 cta-cent" href="#form">Coba Gratis</a></td>
                  </tr>
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

    <!--Mobile Product Klinik Pratama dan Utama-->
    <section id="mobile" class="section-product gray-bg p-15px-t sm-p-5px-t">
        <div class="container">
            <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <!--Mobile Product Clinica-->
                <div class="carousel-item active">
                    <div class="product theme-after row sm-m-10px-t">
                        <div class="product-content sm-m-25px-t sm-m-20px-b">
                            <a class="btn-populer cta-cent" href="/demo-software-klinik" target="_blank">Paling Populer</a>
                        <div style="text-align: left;">
                            <h3 class="dark-color1 bldd p-25px-t" style="color:#0575E6">Clinica</h3>
                            <h4 class="dark-color1 p-15px-b"><b>Rp. Hubungi Kami </b></h4>
                            <a class="large-text3">
                                <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark">
                                20 Akun
                            <br>
                                <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark">
                                10 Tenaga Medis Unlimited Jenis Hak Akses
                            <br>
                                  <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark">
                                  Include Training & Implementasi SOP
                              <br>
                                  <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark">
                                  Include Live Chat Support
                              <br>
                                  <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark">
                                  Include Email
                              <br>
                                  <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark">
                                  Garansi Selamanya (Selama Berlangganan)
                              </a><br><Br>
                              <a class="btn btn-themewh8 cta-cent" href="/demo-sistem-klinik-premium-clinica" target="_blank">Demo Gratis</a><br><br>
                          </div>
                          </div>
                    </div>
                </div>
                <!--End Mobile Product Clinica-->

                <!--Mobile Product Clinica Pro-->
                <div class="carousel-item">
                  <div class="product theme-after row sm-m-10px-t">
                    <div class="product-content p-40px-t" style="text-align: right;">
                        <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-crown-64.png" title="" alt="icon crown" class="icon-crown">
                    <div style="text-align: left;">
                        <h3 class="dark-color1 bldd" style="color:#0575E6">Clinica Pro</h3>
                        <h4 class="dark-color1 p-15px-b"><b>Rp. Hubungi kami </b></h4>
                        <a class="large-text3">
                          <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark">
                          50 Akun
                          <br>
                              <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark">
                              20 Tenaga Medis Unlimited Jenis Hak Akses
                          <br>
                              <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark">
                              Include Training & Implementasi SOP
                          <br>
                              <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark">
                              Include Live Chat Support
                          <br>
                              <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark">
                              Include Email Support
                          <br>
                              <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark">
                              Include Whatsapp Support
                          <br>
                              <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark">
                              Include Call Support
                          <br>
                              <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark">
                              Garansi Selamanya (Selama Berlangganan)
                          </a><br><br>
                        <a class="btn btn-themewh8 cta-cent" href="/demo-sistem-klinik-premium-clinica" target="_blank">Demo Gratis</a><br><br>
                    </div>
                    </div>
                  </div>
                </div>
                <!--End Mobile Product Clinica Pro-->

                <!--Mobile For Starers-->
                <div class="carousel-item">
                  <div class="product theme-after row sm-m-10px-t">
                    <div class="product-content sm-m-25px-tb">
                    <div style="text-align: left;">
                        <h3 class="dark-color1 bldd p-45px-t" style="color:#0575E6">Clinica For Starters</h3>
                        <h4 class="dark-color1 p-15px-b"><b>Rp. Gratis </b></h4>
                        <a class="large-text3">
                            <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark">
                            10 Akun
                        <br>
                            <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark">
                            2 Tenaga Medis Unlimited Jenis Hak Akses
                        <br>
                              <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark">
                              Include Training
                          <br>
                              <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark">
                              Include Live Chat Support
                          <br>
                              <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark">
                              Include Email
                          <br>
                              <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-checkmark-16.png" title="" alt="icon checkmark">
                              Garansi Selamanya (Selama Berlangganan)
                          </a><br><br>
                          <a class="btn btn-themewh7 cta-cent" href="/demo-sistem-klinik-premium-clinica" target="_blank">Daftar Sekarang</a><br><br>
                      </div>
                      </div>
                  </div>
                </div>
                <!--End Mobile For Starters-->

              </div>
              <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div> 
        </div>
    </section>
    <!--End Mobile Product Klinik Pratama dan Utama-->

       <!--
    ===========================================
      Ragu Pindah dari Sistem Lama? Kami Bantu!
    ===========================================
    -->

    <section class="gray-bg p-40px-b">
        <div class="container">
            <div class="row justify-content-center m-45px-b sm-m-25px-b">
                <div class="col-lg-9 col-md-10">
                    <div class="section-title text-center"><br/>
                        <h4 class="theme-color bldd p-20px-t" style="color:#2b64af">Ragu Pindah dari Sistem Lama? Kami Bantu!</h4>
                    </div>
                </div>
            </div>
        <div class="row align-items-center">
        <div class="col-md-6">
            <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Kami-bantu-pindah-sistem-klinik-mudah-migrasi-data-assist-id.png" title="" alt="migrasi data">
        </div>
        <div class="col-md-6">
            <div class="std-box p-25px-l p-55px-r md-p-0px-lr md-m-40px-t">
                <p class="ragu dark-color1 font-alt large-text">Sebagai ahli dalam sistem manajemen pengelolaan klinik, Tim Assist.id akan bekerja sama langsung dengan Anda untuk melakukan <b>migrasi data klinik</b> dan melakukan transisi yang dibutuhkan agar <b>karyawan Anda bisa mulai mengunakan.</b></p>
                <div class="btn-bar">
                <a class="btn btn-themewh2 cta-cent" href="#form">Demo Gratis</a>
                <a class="btn btn-hubungi cta-cent m-5px-l sm-m-0px-l" href="#form">Hubungi kami</a>
                </div>
            </div>
        </div>
        </div>
        </div>
    </section> <!-- row -->

<!--
    ====================================
      KELOLA KLINIK LEBIH MUDAH HARI INI
    ====================================
    -->

    <div class="container" id="form">
        <div class="row justify-content-center m-45px-b sm-m-25px-b">
            <div class="col-lg-12 col-md-10"><br/>
                <div class="section-title text-center">
                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-star-filled-64.png" title="" alt="icon star" class="icon-star">
                     <br/><br/>
                    <h4 class="dark-color font-alt bldd">KELOLA KLINIK LEBIH MUDAH HARI INI</h4>
                    <p class="m-0px dark-color1">Upgrade dan Inovasi Flexibilitas Bisnis Klinik Anda Bersama Assist.id</p>
                   <br/>
                <div class="row justify-content-center">
                   <div class="col-lg-8 col-md-10">
                    <form class="contactform" method="post" action="/reqdemopremiumclinica">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input id="usname" name="usname" type="text" placeholder="Nama (Sesuai ID/KTP)*" class="validate form-control" required>
                                <span class="input-focus-effect theme-bg"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input id="phonenumber" type="text" placeholder="Whatsapp*" name="phonenumber" class="validate form-control" required>
                                <span class="input-focus-effect theme-bg"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="hidden" id="url" name="url" value="/sistem-klinik-pratama-dan-utama-bpjs-online">
                                <input type="hidden" id="frombutton" name="frombutton" value="cta sistem-klinik-pratama-dan-utama-bpjs-online">
                                <input id="medname" type="text" placeholder="Nama Fasilitas Kesehatan*" name="medname" class="validate form-control" required>
                                <span class="input-focus-effect theme-bg"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input id="jenisfasilitas" type="text" placeholder="Jenis Fasilitas Kesehatan*" name="jenisfasilitas" class="validate form-control" required>
                                <span class="input-focus-effect theme-bg"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input id="city" type="text" placeholder="Kota*" name="city" class="validate form-control" required>
                                <span class="input-focus-effect theme-bg"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <select class="form-control sec-subtitle" name="mproduct" id="mproduct" required>
                                    <option value="" disabled selected>Pilih Produk Assist.id*</option>
                                    <option value="Clinica For Starters">Clinica For Starters</option>
                                    <option value="Clinica">Clinica</option>
                                    <option value="Clinica Pro">Clinica Pro</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12" >
                            <div class="form-group">
                                <textarea type="text" class="validate form-control" placeholder="Pesan(Optional)" name="message" id="message"></textarea>
                                <span class="input-focus-effect theme-bg"></span>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="send">
                                <button class="btn btn-themewh4" type="submit" name="send"> Demo Gratis</button>
                            </div>
                            <span class="output_message"></span>
                        </div>
                    </div>
                </form>
            </div>
            </div>
            </div>
        </div>
        <!-- <a href="/demo-sistem-klinik-premium-clinica" class="btn btn-themewh5 cta-cent" target="_blank">Demo Gratis</a> -->
   </div>
</div>

    <script>
        const root = document.documentElement;
        const marqueeElementsDisplayed = getComputedStyle(root).getPropertyValue("--marquee-elements-displayed");
        const marqueeContent = document.querySelector("div.marquee-content");

        root.style.setProperty("--marquee-elements", marqueeContent.children.length);

        for(let i=0; i<marqueeElementsDisplayed; i++) {
        marqueeContent.appendChild(marqueeContent.children[i].cloneNode(true));
        }
    </script>
    <%- include('bodyscripts'); %>

</main>
<!-- / -->
<%- include('footer-v3'); %>
