<!doctype html>
<html lang="id">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!--start-->
    <meta name="author" content="Assist.id" />
    <meta name="google-site-verification" content="xaSOGYCxjaipS36lfuwWGfrYHzGC9D7SKHFztiC7HK0" />
    <meta name="keyword" content="assist.id, software, klinik rumah sakit, puskesmas, manajemen klinik">
    <meta name="description" content="Assist.id, solusi manajemen klinik, apotek, rumah sakit dengan teknologi sistem informasi, aplikasi klinik yang mengelola rekam medis, odontogram, antrian, konsultasi online, stok obat, laporan, kasir didukung BPJS P-Care...">
    <meta property="og:site_name" content="Assist.id" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Assist.id - Software Aplikasi Klinik Umum, Gigi, Kecantikan, BPJS Terlengkap" />
    <meta property="og:url" content="https://www.assist.id" />
    <meta property="og:description" content="Assist.id, solusi manajemen klinik, apotek, rumah sakit dengan teknologi sistem informasi, aplikasi klinik yang mengelola rekam medis, odontogram, antrian, konsultasi online, stok obat, laporan, kasir didukung BPJS P-Care..." />
    <!--end-->

    <title> Online Booking Konsultasi Dokter</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/landing/apple-icon.png">

    <!-- Plugin CSS -->
    <link href="/static/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/plugin/font-awesome/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="/static/plugin/et-line/style.css" rel="stylesheet">
    <link href="/static/plugin/themify-icons/themify-icons.css" rel="stylesheet">
    <link href="/static/plugin/owl-carousel/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/static/plugin/magnific/magnific-popup.css" rel="stylesheet">
    <!-- End -->

    <!-- Theme css -->
    <link href="/static/css/stylev3.css" rel="stylesheet">
    <link href="/static/css/color/defaultv3.css" rel="stylesheet" id="color_theme">
    <!-- End -->
    <%- include('scripts'); %>

</head>

<!-- Body Start -->
<body data-spy="scroll" data-target="#navbar" data-offset="98">

<!-- Loading -->
<div id="loading">
    <div class="load-circle"><span class="one"></span></div>
</div>
<!-- / -->

<!-- Header Biru -->
<header>
    <nav class="navbar header-biru header-nav-dark navbar-expand-lg">
        <div class="container">
        <a>Sistem Aplikasi Klinik Terbaik di Indonesia</a>
        <a>Hubungi Kami 0813-1000-0949 | Senin - Jumat (08.30 - 17.30 WIB)</a>
        </div>
    </nav>
</header>
<!-- Header Biru End -->

<!-- Header Putih -->
<header>
    <nav class="navbar header-nav header-nav-dark navbar-expand-lg">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand" href="/">
                <img src="" data-src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/landing/logo.png" title="" alt="logo assist.id software klinik terbaik indonesia" style="max-height: 50px;">
            </a>
            <!-- / -->

            <!-- Mobile Toggle -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <!-- / -->

            <!-- Top Menu -->
            <%- include('header-v3'); %>
            <!-- / -->
     </div><!-- Container -->
  </nav> <!-- Navbar -->
</header>
<!-- Header Putih End -->

<!-- Main -->
<main>

    <!--
    =============================
      Home Banner
    =============================
    -->

    <section id="home" class="home-banner-07 bg-effect-box">
        <div class="bg-effect bg-cover bg-fixed"></div>
        <div class="container">
            <div class="row align-items-center justify-content-center p-100px-tb md-p-35px-b referral">
                <div class="col-lg-5 text-center m-50px-t">
                    <img src="/static/img/ico/booking-online-pasien-website-klinik-assist-id.png"  title="" alt="sistem klinik utama umum dan pratama bpjs online assist" width="80%" style="border-radius: 10px;">
                </div>
                <div class="col-lg-7 p-20px-t">
                    <div>
                        <h5 class="theme-after dark-color">Booking Konsultasi Dokter Online</h5>
                        <img class="bendera" src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-indonesia-32.png" title="" alt="icon bendera">
                    </div>
                    <h1 class="font-alt dark-color referral">Tangkap Semua Opportunity Datangnya Pasien ke Klinik</h1>
                    <p class="sm-m-0px-b sm-p-0px-r dark-color1 referral">Pasien bisa booking konsultasi dokter online, lihat jadwal dan informasi klinik Anda dengan mudah bersama Assist.id.</p>
                    <div class="">
                        <div class="sm-m-10px-b p-20px-t" >
                            <a class="btn btn-themewh4" href="#form">Demo Gratis</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- / -->

    <!--
    ===============================================
    Booking online bisa jadi sangat terasa 
    ===============================================
    -->
    
    <section>
        <div class="alert alert-success text-center large-text1" role="alert">
            Booking online bisa jadi sangat terasa untuk klinik dengan angka kunjungan tinggi dan pasien MCU. <a href="#form" target="_blank" class="alert-link-blue-color bldd">Coba Sistem Sekarang</a>
        </div>
        <div class="container">
            <div class="col-lg-12 row desain-info2">
                <div class="col-md-6 aifrem sm-p-180px-t">
                    <iframe class="aifrem-ins" src="" data-src="https://www.youtube.com/embed/vpwKF9J-qKM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
               </div>
                <div class="col-md-6">
                    <div class="p-15px-l p-30px-t md-p-0px-lr md-p-0px-t md-m-20px-t ">
                        <h3 class="dark-color font-alt desain-covid referral">  Cara Kerja Fitur Booking Konsultasi Dokter dari Assist.id</h3>
                        <p class="dark-color font-alt  referral">Jangan sampai pasien di Klinik Anda menunggu lama di bagian pendaftaran. Berikan pasien pengalaman berobat yang nyaman di klinik Anda bersama Assist.id.</p>
                        <a href="https://youtu.be/vpwKF9J-qKM" class="desain-video referral" target="_blank">Lihat Bagaimana Booking Online Membantu Klinik</a>
                    </div>
                </div>
            </div>
         </div>
        </div>
    </section>

    <section class="subscribe-section">
        <div class="container">
            <div class="subscribe-inner box-shadow">
                <div class="row align-items-center" align="center">

                    <div class="col-md-2" align="right">
                        <img src="" data-src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/landing/ico-ok-hand-filled.png" alt="icon ok handfilled" style="max-height: 50px;">
                    </div>
                    <div class="col-md-7" align="left">
                        <p class="cta-txt1"><span style="font-weight: bold">Coba dulu, Tentukan nanti</span><br/> Tanpa biaya. Tanpa resiko. Konsultasikan kebutuhan klinik Anda.</p>
                    </div>
                    <div class="col-md-1">
                        <a class="btn btn-themewh cta-cent" href="/demo-software-klinik" target="_blank">Demo Gratis</a>
                    </div>
                </div>

            </div>
        </div>
    </section>
   
      <!--
    ====================================================
      Mudah Kelola Klinik dan Apotek Dalam Satu Aplikasi
    ====================================================
    -->

    <section id="feature" class="section-kelola shapes-section bg-effect-box ">
        <div class="bg-effect bg-fixed bg-center-center"></div>
        <div class="container">
            <div class="row justify-content-center p-50px-t sm-m-25px-b">
                  <div class="col-lg-12">
                    <div class="row">
                       <div class="col-md-m-25px-t p-80px-l col-sm-m-15px sm-p-10px-l">
                        <div class="kelola-imgx">
                            <div class="img">
                                <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-network-2-64%20(1).png" title="" alt="icon network">
                            </div>
                          </div>
                       </div>
                      <div class="col-md-4 col-sm-4 m-30px-b sm-m-5px-b" style="width: 80%;">
                        <div class="our-kelola-02">
                          <div class="teax-kelola2">
                            <h6 class="theme-color">Mempercepat Pendaftaran</h6>
                            <p style="margin-top: 10px; color: black;">
                                Pencarian data pasien menjadi lebih cepat dan mudah, admisi dapat melakukan pencarian berdasarkan Nama, No. KTP, No. BPJS, Tanggal Lahir, No. HP dan sebagainya dari sistem Assist.id</p>
                          </div>
                        </div>
                      </div>
                      
                      <div class="col-md-m-25px-t p-80px-l col-sm-m-15px sm-p-10px-l">
                        <div class="kelola-imgx">
                            <div class="img">
                                <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-treatment-list-64.png" title="" alt="icon treatment">
                            </div>
                          </div>
                       </div>
                      <div class="col-md-4 col-sm-4 m-30px-b sm-m-5px-b" style="width: 80%;">
                        <div class="our-kelola-02">
                          <div class="teax-kelola2">
                            <h6 class="theme-color">Mendukung Pasien MCU & Lab</h6>
                            <p class="m-10px-t dark-color">Klinik tidak perlu pusing lagi mengurus ribuan pasien lab dan MCU di Klinik, mulai dari pendaftaran dan booking online, rekam medis, laporan hasil lab hingga pembayaran mudah dengan sistem Assist.id.</p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                        <div class="col-md-m-25px-t p-80px-l col-sm-m-15px sm-p-10px-l">
                         <div class="kelola-imgx">
                             <div class="img">
                                <img src="/static/img/ico/icons8-sign-document-64.png" title="" alt="icon sign document">
                             </div>
                           </div>
                        </div>
                       <div class="col-md-4 col-sm-4 m-30px-b sm-m-5px-b" style="width: 80%;">
                         <div class="our-kelola-02">
                           <div class="teax-kelola2">
                             <h6 class="theme-color">Mempercepat Pendaftaran</h6>
                             <p style="margin-top: 10px; color: black;">
                                Ketika ada booking yang masuk, akan ada tanda dan status yang terlihat di sistem. Admisi dapat dengan mudah melihat info pasien untuk dihubungi dan melakukan konfirmasi.</p>
                           </div>
                         </div>
                       </div>
                       
                       <div class="col-md-m-25px-t p-80px-l col-sm-m-15px sm-p-10px-l">
                         <div class="kelola-imgx">
                             <div class="img">
                                <img src="/static/img/ico/icons8-online-shop-64.png" title="" alt="icon onlineshop">
                             </div>
                           </div>
                        </div>
                       <div class="col-md-4 col-sm-4 m-30px-b sm-m-5px-b" style="width: 80%;">
                         <div class="our-kelola-02">
                           <div class="teax-kelola2">
                             <h6 class="theme-color">Meningkatkan Visibilitas Online Klinik</h6>
                             <p class="m-10px-t dark-color">Dengan adanya klinik Anda terlisting online di aplikasi pasien Assist.id, opportunitas dan visibilitas klinik akan meningkat baik secara langsung maupun tidak langsung.</p>
                           </div>
                         </div>
                       </div>
                     </div>

                     <div class="row">
                        <div class="col-md-m-25px-t p-80px-l col-sm-m-15px sm-p-10px-l">
                         <div class="kelola-imgx">
                             <div class="img">
                                <img src="/static/img/ico/icons8-calendar-64.png" title="" alt="icon calendar">
                             </div>
                           </div>
                        </div>
                       <div class="col-md-4 col-sm-4 m-30px-b sm-m-5px-b" style="width: 80%;">
                         <div class="our-kelola-02">
                           <div class="teax-kelola2">
                             <h6 class="theme-color">Menurunkan Pasien Ruang Tunggu</h6>
                             <p style="margin-top: 10px; color: black;">
                                Pasien dapat booking mudah darimana saja, kapan saja. Jika sudah dapat jadwal, cukup datang 30 menit lebih awal. Proses ini dapat mengurangi kepadatan di ruang tunggu klinik.</p>
                           </div>
                         </div>
                       </div>
                       
                       <div class="col-md-m-25px-t p-80px-l col-sm-m-15px sm-p-10px-l">
                         <div class="kelola-imgx">
                             <div class="img">
                                <img src="/static/img/ico/icons8-touchscreen-64.png" title="" alt="icon touchscreen">
                             </div>
                           </div>
                        </div>
                       <div class="col-md-4 col-sm-4 m-30px-b sm-m-5px-b" style="width: 80%;">
                         <div class="our-kelola-02">
                           <div class="teax-kelola2">
                             <h6 class="theme-color">Pasien Booking via App dan Web Klinik</h6>
                             <p class="m-10px-t dark-color">Fitur booking online dapat dilakukan dari aplikasi pasien dan web klinik untuk memudahkan pasien dalam menentukan jadwal dan mempercepat bagian pendaftaran untuk konfirmasi jadwal konsultas</p>
                           </div>
                         </div>
                       </div>
                     </div>
                </div>
        </div>
    </section>

 <!--
    ====================================================
      Hubungkan sistem Assist.id dengan Website Klinik.
    ====================================================
    -->
    
    <section class="subscribe-hubungkan p-70px-t p-40px-b">
        <div class="container">
            <div class="subscribe-inner box-shadow">
                <div class="row align-items-center" align="center">

                    <div class="col-md-2" align="right">
                        <img src="/static/img/ico/icons8-light-on-64.png" alt="icon light on" style="max-height: 50px;" id="table">
                    </div>
                    <div class="col-md-7  dark-color" align="left referral">
                        <p><span style="font-weight: bold ">Hubungkan sistem Assist.id dengan Website Klinik.</span><br/>Maksimalkan pengalaman pasien berobat di klinik Anda.
                        </p>
                    </div>
                    <div class="col-md-1">
                        <a class="btn btn-themewh cta-cent" href="/demo-software-klinik" target="_blank">Demo Gratis</a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    

 <!--
    ====================================================
      Telah Dipercaya Lebih dari 130 Fasilitas Kesehatan
    ====================================================
    -->

    <section class="section-logo">
        <div class="container">
            <div class="row justify-content-center m-40px-b sm-m-25px-b">
                <div class="col-lg-9 col-md-10">
                    <div class="section-title telah text-center"><br/>
                        <h3 class="dark-color font-alt bldd p-30px-b sm-p-10px-b">Telah Dipercaya Lebih dari 136+ Fasilitas Kesehatan</h3>
                    </div>
                </div>
                <div class="logo-kerjasama">
                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Klinik-hilya-syari-clinic-kecantikan-assist-id.png" title="" alt="logo" class="logo-klinik-hilya">
                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/klinik-Kiara-healthcare-clinic-jakarta-assist-id.png" title="" alt="logo" class="logo-kiara">
                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Klinik-jogja-yogya-dental-clinic-assist-id.jpeg" title="" alt="logo" class="logo-dental">
                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Klinik-pratama-labuh-baru-dokter-keluarga-pekanbaru-assist-id.JPG" title="" alt="logo" class="logo-pratama">
                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Klinik-lanud-roesmin-pekanbaru-assist-id.png" title="" alt="logo" class="logo-lanud">
                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Klinik-Dewa-Medika-Clinic-Jakarta-Cikarang-assist-id.jpeg" title="" alt="logo" class="logo-dewa">
                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Padjadjaran Clinic KH, Leles _ Jatinangor.png" title="" alt="logo" class="logo-padjajaran">

                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/klinik-rumah-sakit-Annisa-Medika-2-pekanbaru-assist-id.jpeg" title="" alt="logo" class="logo-annisa">
                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Klinik-padjajaran-itenas-bandung-assist-id.jpeg" title="" alt="logo" class="logo-itenas">
                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Klinik-alda-pekanbaru-assist-id.png" title="" alt="logo" class="logo-alda">
                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Klinik-mutiara-cikutra-kmc-bandung-assist-id.png" title="" alt="logo" class="logo-mutiara">
                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/UNRI Sehati I Clinic.jpeg" title="" alt="logo" class="logo-unri">
                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/SKDC.jpg" title="" alt="logo" class="logo-skdc">
                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Klinik-hera-beauty-bar-pekanbaru-kecantikan-assist-id.jpg" title="" alt="logo" class="logo-hera">

                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/bona-mitra.png" title="" alt="logo" class="logo-bona">
                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Klinik-hemodialisa-cycare-hemodialysis-clinic-assist-id.jpg" title="" alt="logo" class="logo-hemodialisa">
                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Klinik-Essa-Medic-Care-Clinic-Assist-id.jpeg" title="" alt="logo" class="logo-essa">
                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/klinik-dewa-ayu-beauty-care-bekasi-assist-id.jpeg" title="" alt="logo" class="logo-ayu">
                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Klinik-pratama-universitas-abdurrab-pekanbaru-assist-id.jpeg" title="" alt="logo" class="logo-abdurrab">
                </div>
            </div>
            </div>
    </section>

<!--
    ===========================================================
      Partner & Media Publicity Assist.id
    ===========================================================
    -->

    <div class="container" >
        <div class="row justify-content-center m-50px-t m-50px-b sm-m-25px-tb">
            <div class="section-title text-center">
            <h4 class="dark-color1 bldd md-p-15px-t">Partner & Media Publicity Assist.id</h4>
            </div>
        </div>
        <div class="marquee p-80px-b sm-p-40px-b">
            <div class="marquee-content">
                <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/techinasia-startup-healthtech-kesehatan-sistem-klinik-jakarta-assist-id.png" alt="logo techinasia">
                <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Kontan-ekonomi-sistem-klinik-indonesia-assist-id.png" alt="logo kontan ekonomi" class="logo-partner">
                <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/kementrian-ristek-dikti-sistem-klinik-terbaik-assist-id.png" alt="logo kementrian ristek dikti">
                <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/persatuan-dokter-gigi-indonesia-pekanbaru-pdgi-assist-id.png" alt="logo persatuan dokter gigi indonesia">
                <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/asosiasi-klinik-indonesia-asklin-bandung-pekanbaru-riau-assist-id.png" alt="logo asosiasi klinik indonesia">
                <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/Logo-kemkominfo-id-sistem-klinik-assist-id.png" alt="logo kemkominfo">
                <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/healthtech-id-sistem-klinik-terbaik-assist-id.png" alt="logo healthtech">
            </div>
        </div>
    </div>

    
<!--
    ====================================
      KELOLA KLINIK LEBIH MUDAH HARI INI
    ====================================
    -->
    <section class=" gray-bg ">
    <div class="container " id="form">
        <div class="row justify-content-center m-45px-b sm-m-25px-b">
            <div class="col-lg-12 col-md-10"><br/>
                <div class="section-title text-center">
                    <img src="" data-src="https://public-medicaboo.s3-ap-southeast-1.amazonaws.com/landing/icons8-star-filled-64.png" title="" alt="icon star" class="icon-star">
                     <br/><br/>
                     <h4 class="dark-color font-alt bldd">KELOLA KLINIK LEBIH MUDAH HARI INI</h4>
                     <div class="fasilitas sm-m-25px-t">
                     <p class="m-0px dark-color1 bldd " >130+ Fasilitas Kesehatan Sudah Mendaftar. Klinik Anda Kapan?</p>
                     </div>
                     <br/>
                 <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-10">
                     <form class="contactform" method="post" action="/reqdemokelolaklinik">
                     <div class="row">
                         <div class="col-md-6">
                             <div class="form-group">
                                 <input type="hidden" id="url" name="url" value="/solusi-booking-online">
                                 <input type="hidden" id="frombutton" name="frombutton" value="cta solusi-booking-online">
                                 <input id="usname" name="usname" type="text" placeholder="Nama (Sesuai ID/KTP)*" class="validate form-control" required>
                                 <span class="input-focus-effect theme-bg"></span>
                             </div>
                         </div>
                         <div class="col-md-6">
                             <div class="form-group">
                                 <input id="jabatan" type="text" placeholder="Jabatan*" name="jabatan" class="validate form-control" required>
                                 <span class="input-focus-effect theme-bg"></span>
                             </div>
                         </div>
                         <div class="col-md-6">
                             <div class="form-group">
                                 <input id="phonenumber" type="text" placeholder="Nomor Whatsapp*" name="phonenumber" class="validate form-control" required>
                                 <span class="input-focus-effect theme-bg"></span>
                             </div>
                         </div>
                         <div class="col-md-6">
                             <div class="form-group">
                                 <input id="email" type="email" placeholder="Alamat Email*" name="email" class="validate form-control" required>
                                 <span class="input-focus-effect theme-bg"></span>
                             </div>
                         </div>
                         <div class="col-md-6">
                             <div class="form-group">
                                 <input id="medname" type="text" placeholder="Nama Fasilitas Kesehatan*" name="medname" class="validate form-control" required>
                                 <span class="input-focus-effect theme-bg"></span>
                             </div>
                         </div>
                         <div class="col-md-6">
                             <div class="form-group">
                                 <input id="city" type="text" placeholder="Kota / Kabupaten*" name="city" class="validate form-control" required>
                                 <span class="input-focus-effect theme-bg"></span>
                             </div>
                         </div>
                         <div class="col-md-6" >
                             <div class="form-group">
                                 <select class="form-control sec-subtitle" name="mproduct" id="mproduct" required>
                                     <option value="" disabled selected>Pilih Produk Assist.id*</option>
                                     <option value="Clinica For Starters">Clinica For Starters</option>
                                     <option value="Clinica">Clinica</option>
                                     <option value="Clinica Pro">Clinica Pro</option>
                                     <option value="Hemoda">Hemoda</option>
                                     <option value="Privata">Privata</option>
                                     <option value="Hospita">Hospita</option>
                                     <option value="Pharma">Pharma</option>
                                     <option value="Bantu Saya Memilih">Bantu Saya Memilih</option>
                                 </select>
                             </div>
                         </div>
                         <div class="col-md-6" >
                             <div class="form-group">
                                 <textarea style="height: 50px;" type="text" class="validate form-control" placeholder="Pesan(Optional)" name="message" id="message"></textarea>
                                 <span class="input-focus-effect theme-bg"></span>
                             </div>
                         </div>
                         <div class="col-md-12 sm-m-5px-b">
                             <div class="send p-15px-t p-30px-b">
                                 <button class="btn btn-themewh4" type="submit" name="send"> Daftar Sekarang</button>
                             </div>
                             <span class="output_message"></span>
                         </div>
                     </div>
                </form>
            </div>
            </div>
            </div>
        </div>
   </div>
    </div>
</section>

    <!--
    =============================
      Lihat Juga Produk Assist.id
    =============================
    -->
    
   <div class="container p-50px-b sm-p-0px-b" > 
        <div class="row justify-content-center m-20px-b sm-m-25px-b ">
            <h4 class="theme-color bldd md-p-15px-t" style="color:#2b64af">Lihat Juga Produk Assist.id Lainnya</h4>
        </div>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active ">
                <div class="image-testimonial m-15px-r sm-m-10px-r">
                    <a href="/form-clinica-for-starters">
                        <img src="/static/img/ico/sistem-klinik-gratis-clinica-for-starters-assist-id.png" alt="sistem klinik gratis clinica for starters assist id"> 
                    </a>
                </div>
                <div class="image-testimonial">
                    <a href="/form-hemoda">
                        <img src="/static/img/ico/sistem-unit-hemodialisa-hemodialisis-assist-id-hemoda-rumah-sakit-pasien-cuci-darah-ginjal-klinik.png" alt="sistem unit hemodialisa hemodialisis assist id hemoda rumah sakit pasien cuci darah ginjal klinik" >
                    </a>
                </div>
               </div>
               <div class="carousel-item">
                <div class="image-testimonial m-15px-r sm-m-10px-r">
                    <a href="/form-hemoda">
                        <img src="/static/img/ico/sistem-unit-hemodialisa-hemodialisis-assist-id-hemoda-rumah-sakit-pasien-cuci-darah-ginjal-klinik.png" alt="sistem unit hemodialisa hemodialisis assist id hemoda rumah sakit pasien cuci darah ginjal klinik" >
                    </a>
                </div>
                <div class="image-testimonial">
                    <a href="/aplikasi-klinik-berbasis-web-clinica">
                        <img src="/static/img/ico/it-profesional-klinik-sistem-klinik-utama-klinik-pratama-bpjs-terbaik.png" alt="it profesional klinik sistem klinik utama klinik pratama bpjs terbaik">
                    </a>
                </div>
               </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
    </div>


    <script>
        const root = document.documentElement;
        const marqueeElementsDisplayed = getComputedStyle(root).getPropertyValue("--marquee-elements-displayed");
        const marqueeContent = document.querySelector("div.marquee-content");

        root.style.setProperty("--marquee-elements", marqueeContent.children.length);

        for(let i=0; i<marqueeElementsDisplayed; i++) {
        marqueeContent.appendChild(marqueeContent.children[i].cloneNode(true));
        }
    </script>
    <%- include('bodyscripts'); %>

</main>
<!-- / -->
<%- include('footer-v3'); %>
