<!doctype html>
<html lang="id">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!--start-->
    <meta name="author" content="Assist.id" />
    <meta name="google-site-verification" content="xaSOGYCxjaipS36lfuwWGfrYHzGC9D7SKHFztiC7HK0" />
    <meta name="keyword" content="assist.id, software, klinik rumah sakit, puskesmas, manajemen klinik, sistem informasi manajemen, software klinik, aplikasi klinik, aplikasi dokter, apotek, klinik kecantikan">
    <meta name="description" content="Anda memiliki pertanyaan seputar sistem? Temukan yang Anda cari disini. Sistem Informasi manajemen klinik, software apotek, aplikasi dokter pribadi, klinik kecantikan, gigi, umum, dengan fitur selalu update.">
    <meta property="og:site_name" content="Assist.id" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Frequently Asked Question - Assist.id" />
    <meta property="og:url" content="https://www.assist.id" />
    <meta property="og:description" content="Anda memiliki pertanyaan seputar sistem? Temukan yang Anda cari disini. Sistem Informasi manajemen klinik, software apotek, aplikasi dokter pribadi, klinik kecantikan, gigi, umum, dengan fitur selalu update." />

    <!--end-->

    <title>Terms & Condition - Assist.id</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/apple-icon.png">

    <!-- Plugin CSS -->
    <link href="static/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/plugin/font-awesome/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="static/plugin/et-line/style.css" rel="stylesheet">
    <link href="static/plugin/themify-icons/themify-icons.css" rel="stylesheet">
    <link href="static/plugin/owl-carousel/css/owl.carousel.min.css" rel="stylesheet">
    <link href="static/plugin/magnific/magnific-popup.css" rel="stylesheet">
    <!-- End -->


    <!-- Theme css -->
    <link href="static/css/style.css" rel="stylesheet">
    <link href="static/css/color/default.css" rel="stylesheet" id="color_theme">
    <!-- End -->
    <%- include('scripts'); %>

</head>

<!-- ========== Body Starts ========== -->
<!-- Body Start -->
<body data-spy="scroll" data-target="#navbar" data-offset="98">

<!-- Loading -->
<div id="loading">
    <div class="load-circle"><span class="one"></span></div>
</div>
<!-- / -->


<!-- Header -->
<header>
    <nav class="navbar header-nav header-nav-dark navbar-expand-lg">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand" href="/">
                <img src="https://public-medicaboo.s3.ap-southeast-1.amazonaws.com/logo.png" title="" alt="logo assist.id software klinik terbaik indonesia" style="max-height: 50px;">
            </a>
            <!-- / -->

            <!-- Mobile Toggle -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <!-- / -->
            <%- include('header'); %>
        </div><!-- Container -->
    </nav> <!-- Navbar -->
</header>
<!-- Header End -->

<!-- Main -->
<main>


    <!--
    =============================
      Page Title Section
    =============================
    -->
    <!--
    =============================
      FAQ's
    =============================
    -->
    <section class="section" style="margin-top: 55px;">
        <div class="container">
            <div class="row justify-content-center m-45px-b sm-m-25px-b">
                <div class="col-lg-9 col-md-10">
                    <div class="section-title text-center">
                        <h5 class="theme-color"><strong>Terms and Condition</strong></h5>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="container margi-lef" style="margin-top: -50px;">
            <div class="row ggrx">
                <div class="container">
                    <div class="row justify-content-center m-45px-b sm-m-25px-b">
                        <div class="col-lg-9 col-md-10">
                            <div class="section-title text-center">
                                <p><i>Syarat-syarat ini mengikat dan mulai berlaku untuk Anda saat Anda mulai mengakses layanan apapun dari Assist.id.</i></p>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="term">Layanan Assist.id dapat berubah dari waktu ke waktu berdasarkan kesan & saran dari pengguna.
                    Syarat-syarat ini tidak dimaksudkan untuk menjawab setiap pertanyaan atau menunjukkan setiap masalah yang dapat timbul dari penggunaan layanan Assist.id.
                    Assist.id berhak untuk mengubah Syarat & Ketentuan ini kapan saja, dan mulai berlaku pada saat Syarat & Ketentuan yang baru atau yang telah direvisi
                    di lampirkan di Website Assist.id. Assist.id akan berusaha untuk mengumumkan perubahan-perubahannya kepada Anda melalui email atau pemberitahuan melalui Website.
                    Karena cukup memungkinkan bahwa Syarat & Ketentuan ini akan berubah dari waktu ke waktu, maka menjadi kewajiban Anda untuk memastikan bahwa Anda sudah membaca,
                    mengerti, dan menyetujui Syarat & Ketentuan terbaru yang tersedia pada Website Assist.id.
                    <br>
                    <br>
                    Dengan mendaftarkan diri untuk menggunakan layanan Assist.id, Anda menyatakan bahwa Anda sudah membaca dan mengerti Syarat & Ketentuan ini, dan dianggap memiliki
                    wewenang untuk bertindak atas nama siapapun yang terdaftar untuk menggunakan layanan kami.
                    <br>
                    <br>
                    Adapun Layanan yang dimaksudkan berupa sistem informasi manajemen fasilitas kesehatan berupa klinik,
                    apotek juga praktek pribadi yang bisa digunakan pada browser juga aplikasi android.
                    <br>
                    <br>
                    Anda diwajibkan untuk membaca Ketentuan dari waktu ke waktu. Dengan mengakses atau menggunakan layanan, tindakan tersebut dianggap sebagai persetujuan dan penerimaan Anda terhadap Ketentuan kami,
                    dengan demikian, Anda setuju untuk terikat pada setiap aturan yang dituangkan dalam Ketentuan kami. Apabila Anda tidak setuju dengan suatu syarat atau aturan dalam Ketentuan ini, silakan untuk menghentikan menggunakan Layanan.
                    <br>
                    Seluruh hak yang tidak secara tegas diberikan kepada Pengguna dalam Ketentuan ini dimiliki oleh Assist.id
                    <br>
                    <i>(Syarat & Ketentuan ini terakhir diperbarui pada tanggal 21 Oktober 2019).</i>
                    <ol>
                        <strong><li class="theme-color">Syarat dan Ketentuan Assist.id</li></strong>
                        <ol type="a">
                            <li><strong>Perjanjian</strong> - berarti Syarat dan Ketentuan ini;</li>
                            <li><p class="termChild"><strong>Assist.id</strong> - adalah sebuah produk dari perusahaan berbasis teknologi di bidang
                                kesehatan yang mendigitalisasi praktek dokter, klinik, apotek dan rumah sakit Indonesia.
                                Sistem Assist.id membantu klinik untuk dapat memantau aktivitas  klinik secara online yang
                                dapat diakses dimana saja, kapan saja. Kantor Assist.id bertempat di :</p>
                                <ol type="i">
                                    <li><p class="termChild">Kantor Pusat [Jl.Palaraya No.325, Arengka, Kec. Marpoyan Damai, Kota Pekanbaru, Riau 28294].</p></li>
                                    <li><p class="termChild">Bandung [BLOCK71 Bandung Innovation Factory, Jl. Ir. H. Djuanda, No.108, Lebakgede, Coblong, Bandung].</p></li>
                                    <li><p class="termChild">Jakarta [Ariobimo Sentral, South Jakarta, RT.9/RW.4, East Kuningan, Jakarta, 12950].</p></li>
                                </ol>
                            </li>
                            <li><p class="termChild"><strong>Koneksi Internet</strong> - diperlukan untuk dapat menggunakan Layanan,
                                Segala biaya yang timbul atas koneksi perangkat elektronik Anda beserta jaringan internet
                                    merupakan sepenuhnya tanggung jawab Anda.</p>
                            </li>
                            <li><p class="termChild"><strong>Syarat dan Ketentuan</strong> - adalah perjanjian antara Pelanggan dan Assist.id berisi seperangkat
                                peraturan yang mengatur hak, kewajiban, tanggung jawab pelanggan dan Assist.id, serta tata cara penggunaan
                                    sistem layanan Assist.id.</p>
                            </li>
                            <li><p class="termChild"><strong>Biaya Akses</strong> - berarti biaya bulanan/tahunan yang harus dibayarkan sesuai dengan jangka waktu
                                    penggunaan produk ataupun jenis produk yang disediakan Assist.id kepada pelanggan.</p>
                            </li>
                            <li><p class="termChild"><strong>Informasi Rahasia</strong> - melingkup semua informasi yang dikomunikasikan antara pihak Perjanjian ini,
                                baik secara tertulis, elektronik, atau lisan, termasuk Layanan ini, tapi tidak termasuk informasi yang sudah menjadi
                                atau akan dijadikan untuk public, terkecuali yang sudah diungkapkan dan terbongkar tanpa hak atau oleh pihak pengguna
                                    atau lainnya secara tidak sah;</p>
                            </li>
                            <li><p class="termChild"><strong>Data</strong> - berarti data apapun yang Anda masukan atau dimasukan dengan kewenangan Anda kepada Assist.id;</p></li>
                            <li><p class="termChild"><strong>Hak Kekayaan Intelektual</strong> - berarti paten, merek dagang, merek jasa atau layanan, hak cipta, hak pada desain,
                                    pengetahuan, atau hak kekayaan intelektual atau industri lainnya, maupun terdaftar atau tidak terdaftar;</p>
                            </li>
                            <li><p class="termChild"><strong>Layanan</strong> - adalah layanan training penggunaan sistem, kustomasi sistem dan operasional yang disediakan
                                    (yang bisa berubah dari waktu ke waktu) melalui Assist.id. Adapun jenis yang termasuk pada layanan :</p>
                                <ol type="i">
                                    <li><strong>Aplikasi</strong> Android Assist.id dan</li>
                                    <li><strong>Website</strong> Assist.id (<a href="https://app.assist.id" target="_blank">https://app.assist.id</a>).</li>
                                </ol>
                            </li>
                            <li><p class="termChild"><strong>Website</strong> - berarti situs internet di domain <a href="https://assist.id/" target="_blank">https://assist.id/</a>
                                    atau situs internet lainnya yang dikelola oleh Assist.id;</p>
                            </li>
                            <li><p class="termChild"><strong>Assist.id</strong> - berarti <u>PT. Media Medika Utama yang terdaftar di Indonesia dengan nomor TDP 30.06.1.62.09990;</u></p></li>
                            <li><p class="termChild"><strong>Pengguna Diundang</strong> - berarti setiap orang atau badan, selain Pelanggan, yang memakai Layanan dari waktu ke
                                    waktu dengan izin dari Pelanggan;</p>
                            </li>
                            <li><p class="termChild"><strong>Pelanggan / Anda</strong> - berarti orang, maupun atas nama pribadi, organisasi atau badan lainnya, yang mendaftar untuk menggunakan Layanan;</p></li>
                        </ol>
                        <strong><li class="theme-color">Informasi Akun<br></li></strong>
                            <p class="termChild">Sebelum menggunakan Layanan dari Assist.id Anda perlu memenuhi persyaratan berikut :</p>
                            <ol type="a">
                                <li><p class="termChild">penduduk individual berusia sekurang-kurangnya 18 tahun atau pernah menikah dan memiliki kapasitas hukum
                                        untuk mengikatkan diri dalam suatu perjanjian yang sah;</p>
                                </li>
                                <li><p class="termChild">badan hukum yang didirikan secara sah berdasarkan hukum jurisdiksi terkait dan memiliki domisili hukum, yang
                                    diwakili oleh perwakilan yang sah dan memiliki kapasitas hukum untuk mengikatkan diri dalam perjanjian yang sah,
                                        khususnya terkait aturan terkait Layanan, untuk mengakses dan menggunakan Layanan.</p>
                                </li>
                            </ol>
                            <p class="termChild">Anda setuju untuk menyediakan informasi akun yang benar, akurat, terkini, dan lengkap pada saat proses pendaftaran,
                            dan akan tetap menjaga dan segera memperbarui informasi akun untuk memastikan bahwa informasi akun tetap benar, akurat,
                            terkini, dan lengkap. Anda menyatakan dan menjamin bahwa Anda memiliki hak yang sah untuk menggunakan suatu kartu kredit,
                            kartu debit, atau metode pembayaran lain yang Anda gunakan sehubungan dengan Layanan.
                            <br>
                            Untuk diketahui bahwa apabila Anda termasuk kategori nomor (b) dan dalam kapasitas untuk bertindak untuk dan atas nama suatu
                            badan hukum, Anda harus memperoleh persetujuan yang diperlukan dari badan hukum tersebut dan dari pihak ketiga lain yang terkait
                            sehubungan dengan penggunaan dan tanggung jawab atas</p>
                            <ol type="a">
                                <li><p class="termChild">tindakan Anda sehubungan dengan Layanan;</p> </li>
                                <li><p class="termChild">biaya terkait dengan penggunaan Layanan; dan</p></li>
                                <li><p class="termChild">penerimaan dan kepatuhan Anda terhadap Ketentuan ini.</p> </li>
                            </ol>
                            <p class="termChild">Dengan melanjutkan penggunaan dan/atau menggunakan Layanan, kami mengasumsikan bahwa Anda telah memperoleh
                                segala persetujuan yang diperlukan dan berwenang untuk mengakses Layanan.</p>
                        <strong><li class="theme-color">
                            Penggunaan Software</li></strong>
                            <p class="termChild">Assist.id memberi Anda hak untuk mengakses dan menggunakan Layanan Assist.id melalui Website kami dengan peran
                                penggunaan yang sudah ditentukan untuk Anda, sesuai dengan jenis layanan yang Anda pilih. Hak ini non-eksklusif, tidak dapat
                                dipindahtangankan, dan dibatasi oleh dan bergantung pada perjanjian ini. Anda mengakui dan menyetujui, bergantung kepada perjanjian
                                tulis manapun yang berlaku antara Pelanggan dan Pengguna Diundang, atau hukum lainnya yang berlaku:</p>
                            <ol type="a">
                                <li><p class="termChild">bahwa adalah tanggung jawab Pelanggan untuk menentukan siapa yang mendapat akses sebagai Pengguna Diundang
                                        dan jenis peran dan hak yang mereka punya untuk mengakses jenis data yang Anda miliki;</p></li>
                                <li><p class="termChild">bahwa tanggung jawab Pelanggan untuk semua penggunaan Layanan oleh Pengguna Diundang;</p></li>
                                <li><p class="termChild">bahwa tanggung jawab Pelanggan untuk mengendalikan setiap tingkat akses untuk Pengguna Diundang kepada
                                        organisasi dan Layanan yang relevan setiap saat, dan bisa menarik atau mengubah akses atau tingkat akses Pengguna Diundang
                                        kapanpun, untuk alasan apapun di dalam akses manapun;</p></li>
                                <li><p class="termChild">jika ada perselisihan antara Pelanggan dan Pengguna Diundang mengenai akses kepada organisasi atau Layanan
                                        apapun, Pelanggan lah yang harus membuat keputusan dan mengatur akses atau tingkat akses ke Data atau Layanan yang Pengguna
                                        Diundang akan dapat, jika ada.</p></li>
                            </ol>
                        <strong><li class="theme-color">
                            Ketersediaan Pelayanan Kami</li></strong>
                            <ol type="a">
                                <li>
                                    Layanan:<br>
                                    <p class="termChild">Layanan kami memiliki jaminan 90% uptime per bulan, Jika layanan kami jatuh di bawah 90% uptime,
                                        maka pelanggan kami berhak mengajukan laporan dan mendapat kompensasi</p>
                                </li>
                                <li>
                                    Product Support:<br>
                                    <p class="termChild">Pelayanan Product Support kami tersedia melalui 3 media:</p>
                                    <ol type="i">
                                        <li><p class="termChild">Chat: 9.00 – 18.00, Hari Senin – Jumat, Chat yang diterima di luar jam kerja akan dibalas melalui email dalam kurun waktu 24 jam.</p></li>
                                        <li><p class="termChild">Telepon: 9.00 – 18.00, Hari Senin – Jumat</p></li>
                                        <li><p class="termChild">Email: 9.00 – 18.00, Hari Senin – Jumat, Email yang diterima di luar jam kerja akan dibalas dalam kurun waktu 24 jam.</p></li>
                                    </ol>
                                </li>
                            </ol>
                        <strong><li class="theme-color">
                            Kewajiban Anda</li></strong>
                            <ol type="a">
                                <li>Kewajiban Pembayaran<br>
                                <p class="termChild">Sebuah tagihan untuk Biaya Akses akan dibuat setiap bulan, mulai satu bulan dari tanggal Anda mulai berlangganan untuk
                                    Layanan Assist.id. Semua tagihan akan mengandung Biaya Akses untuk periode satu bulan pemakaian sebelumnya. Assist.id akan terus membuat
                                    tagihan untuk Anda setiap bulan sampai perjanjian ini diakhiri sesuai dengan pasal 12.<br>
                                    Semua tagihan dari Assist.id akan dikirim kepada Anda, atau kepada kontak penagihan yang telah Anda berikan, melalui email. Anda harus
                                    membuat pembayaran untuk seluruh nilai yang tertera di tagihan Anda sebelum melewati tanggal jatuh tempo untuk tagihannya, yang harus
                                    dilunaskan 7 hari dari saat tagihan dikirim oleh Assist.id. Anda mempunyai tanggung jawab untuk pembayaran semua pajak dan bea yang
                                    ditambahkan kepada Biaya Akses tersebut. Anda juga diminta untuk menyimpan bukti transaksi. Jika layanan sempat terhenti sebelum pembayaran
                                    dilakukan, kami akan mengaktifkan layanan dalam waktu 2 hari kerja.</p>
                                </li>
                                <li>Kewajiban Umum<br>
                                <p class="termChild">Anda harus memastikan hanya memakai Layanan dan Website untuk keperluan internal bisnis Anda yang benar dan secara sah,
                                    dengan Syarat dan Ketentuan dan pemberitahuan yang diumumkan oleh Assist.id atau ketentuan yang tercantum di Website. Anda boleh memakai
                                    Layanan dan Website atas nama orang atau badan lain, atau untuk memberi layanan kepada mereka, tetapi Anda harus memastikan bahwa Anda
                                    mempunyai wewenang untuk melakukannya, dan semua pihak yang menerima Layanan melalui Anda memenuhi dan menyetujui semua syarat dalam
                                    Perjanjian ini yang berlaku kepada Anda;</p>
                                </li>
                                <li>Syarat Akses<br>
                                <p class="termChild">Anda harus memastikan bahwa semua username dan password yang diperlukan untuk mengakses Layanan Assist.id tersimpan
                                    dengan aman dan secara rahasia. Anda harus segera memberitahu Assist.id mengenai pemakaian password Anda dari pihak yang tidak berwenang,
                                    atau pelanggaran keamanan lainnya, dan Assist.id akan reset password Anda, dan Anda harus melakukan semua tindakan lainnya yang dianggap
                                    cukup penting oleh Assist.id untuk mempertahankan atau meningkatkan keamanan sistem computer dan jaringan Assist.id, dan akses Anda kepada
                                    Layanan kami.<br>
                                    Sebagai syarat dari Ketentuan-ketentuan ini, saat mengakses dan menggunakan Layanan Assist.id, Anda harus:</p>
                                    <ol type="i">
                                        <li><p class="termChild">Tidak mencoba untuk melemahkan keamanan atau integritas dari sistem komputer atau jaringan Assist.id, atau jika
                                                Layanan-nya di host oleh pihak ketiga, sistem komputer atau jaringan pihak ketiga itu;</p></li>
                                        <li><p class="termChild">Tidak menggunakan atau menyalahgunakan Layanan Assist.id dengan cara apapun yang dapat mengganggu kemampuan pengguna
                                                lain untuk menggunakan Layanan atau Website;</p></li>
                                        <li><p class="termChild">Tidak mencoba untuk mendapatkan akses yang tidak sah kepada materi apapun selain yang sudah dinyatakan dengan jelas
                                                bahwa Anda telah mendapatkan izin untuk mengakses-nya, atau untuk mengakses sistem komputer kami dimana Layanan-nya di host;</p></li>
                                        <li><p class="termChild">Tidak mengirimkan, atau memasukan kedalam Website: file apapun yang dapat merusak alat komputer atau software orang
                                                lain, bahan-bahan yang menghina, atau materi atau Data yang melanggar hukum apapun (termasuk Data atau materi lainnya yang terlindungi
                                                oleh hak cipta atau rahasia dagang dimana Anda tidak memiliki hak untuk memakainya);</p></li>
                                        <li><p class="termChild">Tidak mencoba untuk mengubah, menyalin, meniru, membongkar, atau melakukan reverse engineering untuk program komputer
                                                apapun yang dipakai untuk memberi Layanan Assist.id, atau untuk menggunakan Website diluar penggunaan yang diperlukan dan dimaksudkan.</p></li>
                                    </ol>
                                </li>
                                <li>Batasan Penggunaan<br>
                                <p class="termChild">Penggunaan Layanan Assist.id mungkin dapat dibatasi melingkup, tapi tidak terbatas kepada, volume transaksi bulanan dan jumlah
                                    panggilan yang Anda diizinkan untuk menggunakan dengan memanggil kepada programming interface aplikasi Assist.id. Bila ada, batasan-batasan
                                    tersebut akan ditentukan dan dicantumkan pada Layanan yang terkait.</p>
                                </li>
                                <li>Syarat Komunikasi<br>
                                <p class="termChild">Sebagai syarat pada Ketentuan ini, jika Anda memakai alat komunikasi apapun yang tersedia melalui Website
                                    (seperti forum apapun atau ruang chat), Anda setuju untuk memakai alat-alat komunikasi tersebut hanya untuk tujuan yang sah. Anda tidak boleh
                                    memakai alat-alat komunikasi tersebut untuk memasang atau menyebarkan materi apapun yang tidak terkait dengan pemakaian Layanan-nya, termasuk
                                    (tapi tidak terbatas dengan): menawarkan barang dan jasa untuk dijual, e-mail komersial yang tidak diminta atau diinginkan, file yang dapat
                                    merusak alat komputer atau software orang lain, bahan-bahan yang mungkin dapat menghina pengguna Layanan atau Website yang lain, atau materi
                                    yang melanggar hukum apapun (termasuk materi yang terlindungi oleh hak cipta atau rahasia dagang dimana Anda tidak memiliki hak untuk memakainya).<br>
                                    Saat Anda melakukan komunikasi dalam bentuk apapun di Website, Anda menjamin bahwa Anda diperbolehkan untuk membuat komunikasi tersebut.
                                    Assist.id tidak berkewajiban untuk memastikan bahwa komunikasi pada Website adalah sah dan benar, atau bahwa mereka terkait hanya pada penggunaan
                                    Layanan. Assist.id berhak untuk menghapus komunikasi apapun setiap saat atas kebijakannya sendiri.
                                </p>
                                </li>
                                <li>Tanggung Jawab Ganti Rugi<br>
                                <p class="termChild">Anda membebaskan Assist.id dari semua: tuntutan, gugatan, biaya kerugian, kerusakan, dan kehilangan yang timbul sebagai hasil
                                    dari pelanggaran Anda kepada Syarat dan Ketentuan yang tertera di Perjanjian ini, atau kewajiban apapun yang mungkin Anda punya kepada Assist.id,
                                    termasuk (tapi tidak terbatas kepada) biaya apapun yang berkaitan kepada perolehan Biaya Akses apapun yang sudah jatuh tempo tetapi belum Anda bayar.</p>
                                </li>
                            </ol>
                        <strong><li class="theme-color">
                            Kerahasian dan Privasi</li></strong>
                            <ol type="a">
                                <li>Kerahasiaan<br>
                                <p class="termChild">Masing-masing pihak berjanji untuk menjaga kerahasiaan semua Informasi Rahasia pihak lainnya sehubungan dengan ketentuan ini.
                                    Setiap pihak TIDAK AKAN, tanpa persetujuan tertulis dari pihak yang lain, mengungkapkan atau memberi Informasi Rahasia kepada siapapun, atau
                                    menggunakannya untuk kepentingan sendiri, selain sebagaimana dimaksud oleh Ketentuan ini.<br>
                                    Kewajiban masing-masing pihak dalam ketentuan ini akan bertahan walaupun setelah pemutusan Ketentuan ini.<br>
                                    Ketentuan-ketentuan pasal tidak berlaku untuk informasi yang:</p>
                                    <ol type="i">
                                        <li><p class="termChild">Telah menjadi pengetahuan umum selain karena pelanggaran ketentuan ini;</p></li>
                                        <li><p class="termChild">Diterima dari pihak ketiga yang dengan secara sah memperolehnya, dan tidak mempunyai kewajiban untuk membatasi pengungkapannya;</p></li>
                                        <li><p class="termChild">Dikembangkan dengan sendiri tanpa akses kepada Informasi Rahasia.</p></li>
                                    </ol>
                                </li>
                                <li>Privasi<br>
                                <p class="termChild">Assist.id memiliki dan mempertahankan kebijakan privasi yang menjelaskan dan menetapkan kewajiban para pihak untuk menghormati informasi pribadi.
                                    Anda disarankan membaca kebijakan privasi kami di <a href="https://assist.id/privacy" target="_blank">https://assist.id/privacy</a>, dan Anda akan dianggap sudah menyetujui kebijakan itu saat Anda menyetujui ketentuan ini.</p>
                                </li>
                            </ol>
                        <strong><li class="theme-color">
                            Intellectual Property</li></strong>
                            <p class="termChild">Kepemilikan dan semua Hak Kekayaan Intelektual yang didapat pada Layanan, Website, dan dokumentasi apapun yang terkait dengan Layanan tetap menjadi hak milik Assist.id.<br>
                                Kepemilikan dan semua Hak Kekayaan Intelektual yang terdapat di Data tetap menjadi hak milik Anda. Akan tetapi, akses kepada Data Anda bergantung pada pelunasan
                                Biaya Akses Assist.id saat tagihan jatuh tempo. Anda memberi izin kepada Assist.id untuk menggunakan, menyalin, mengirim, menyimpan, dan melakukan back-up untuk
                                informasi dan Data Anda dengan maksud dan tujuan memberi Anda akses kepada dan agar dapat menggunakan Layanan Assist.id, atau untuk tujuan lainnya yang terkait dengan penyediaan layanan kami untuk Anda.<br>
                                Anda sangat disarankan untuk menyimpan salinan untuk semua Data yang Anda masukan ke dalam Layanan Assist.id. Assist.id mematuhi kebijakan dan menjalani prosedur
                                terbaik untuk mencegah kehilangan data, termasuk rutinitas sistem harian untuk back-up data, tetapi tidak membuat jaminan apapun bahwa tidak akan pernah adanya kehilangan Data.
                                Assist.id dengan jelas mengesampingkan tanggung jawab untuk setiap kehilangan Data dengan sebab apapun.</p>
                        <strong><li class="theme-color">
                            Layanan Assist.id disediakan “Sebagaimana Adanya”</li></strong>
                            <p class="termChild">Layanan diberikan dengan dasar “sebagaimana adanya” dan “sebagaimana tersedia”, dan penggunaan Layanan oleh Anda adalah pada risiko tanggungan Anda sendiri.
                                Kami akan berusaha untuk memberitahukan (pada jam kerja normal) seluruh permasalahan teknis yang muncul sehubungan dengan Layanan.<br>
                                Kami tidak menjamin bahwa: </p>
                                <ul type="disc">
                                    <li><p class="termChild">Layanan akan memenuhi kebutuhan khusus Anda;</p> </li>
                                    <li><p class="termChild">Layanan akan tidak terganggu, cepat, aman, atau bebas dari kekeliruan;</p> </li>
                                    <li><p class="termChild">Layanan akan akurat dan dapat diandalkan;</p> </li>
                                    <li><p class="termChild">kualitas dari segala produk, layanan, informasi, atau material lain yang dibeli atau diperoleh oleh Anda melalui Layanan akan memenuhi ekspektasi Anda; atau</p></li>
                                    <li><p class="termChild">segala kekeliruan dalam Layanan akan diperbaiki.</p></li>
                                </ul>
                            <p class="termChild">Anda mengakui bahwa Assist.id dapat menggunakan pemasok pihak ketiga untuk menyediakan perangkat keras, perangkat lunak, jaringan, sambungan,
                                penyimpanan, dan teknologi lain untuk dapat menyediakan Layanan. Tindakan dan kelalaian pemasok pihak ketiga tersebut mungkin di luar kendali Assist.id, dan
                                Assist.id tidak menerima tanggung jawab atas kerugian atau kerusakan yang diderita sebagai akibat dari segala tindakan atau kelalaian oleh pemasok pihak ketiga manapun.<br>
                                Atas nama diri sendiri dan pihak ketiga manapun tersebut, Assist.id mengecualikan segala jaminan lain yang mungkin tersirat ataupun berlaku berdasarkan peraturan atau undang-undang lain yang berlaku, sepanjang diperkenankan berdasarkan hukum.<br>
                                Untuk kemudahan Anda, Assist.id dapat mencantumkan tautan ke situs atau konten lain dalam internet yang dimiliki atau dioperasikan oleh pihak ketiga. Situs atau konten yang ditautkan tidak berada di bawah kendali Kami dan Assist.id
                                tidak bertanggung jawab untuk segala kekeliruan, kelalaian, keterlambatan, penghinaan, fitnah, kebohongan, pornografi, konten asusila, ketidaktepatan, atau material lain yang dimuat dalam konten, atau konsekuensi dari mengakses website
                                terkait manapun serta akurasi informasi, konten, produk, atau layanan yang ditawarkan oleh, atau informasi yang terdapat dalam situs yang bertautan dengan atau dari Situs. Mengingat bahwa website pihak ketiga mungkin memiliki kebijakan
                                privasi dan/atau standar keamanan berbeda yang berlaku dalam website mereka, kami menganjurkan Anda untuk memeriksa kebijakan privasi dan syarat dan ketentuan situs-situs tersebut sebelum memberikan informasi pribadi apapun.<br>
                                Harap diketahui bahwa segala tautan ke situs atau konten lain manapun bukan merupakan bentuk dukungan atau verifikasi atas situs atau konten tersebut dan Anda setuju bahwa risiko dari akses terhadap situs atau konten yang ditautkan tersebut sepenuhnya ada pada Anda.</p>
                        <strong><li class="theme-color">
                            Tanggung Jawab Kami Terbatas</li></strong>
                            <p class="termChild">Sepanjang diperkenankan oleh hukum, Assist.id tidak bertanggung jawab atas segala kerugian langsung, tidak langsung, tidak diduga, khusus, berkelanjutan, atau tipikal, termasuk namun tidak terbatas pada, kerugian atas kehilangan laba,
                                usaha, goodwill, penggunaan, data atau kehilangan tidak berwujud lainnya (sekalipun jika Assist.id telah mengetahui kemungkinan atas kerugian tersebut), yang diakibatkan oleh: </p>
                            <ul type="disc">
                                <li><p class="termChild">penggunaan atau ketidakmampuan penggunaan Layanan (secara keseluruhan atau sebagian) atau malfungsi teknis apapun: </p> </li>
                                <li><p class="termChild">biaya pengadaan barang dan jasa pengganti; </p> </li>
                                <li><p class="termChild">akses yang tidak sah pada, atau perubahan dari, komunikasi atau data Anda;</p> </li>
                                <li><p class="termChild">pernyataan atau tindakan pihak ketiga sehubungan dengan Layanan;</p> </li>
                                <li><p class="termChild">hal lain sehubungan dengan Layanan; </p> </li>
                                <li><p class="termChild">pelanggaran Ketentuan ini oleh Anda; </p> </li>
                                <li><p class="termChild">tuntutan atas pelanggaran hak cipta, merek dagang, rahasia dagang, atau hak kekayaan intelektual pihak ketiga lainnya, hak publikasi, hak privasi, atau pencemaran nama baik;</p> </li>
                                <li><p class="termChild">pelanggaran oleh Anda atas hukum yang berlaku atau perjanjian manapun terkait ketentuan dengan pihak ketiga, dalam hal mana Anda terikat; dan/atau </p> </li>
                                <li><p class="termChild">hal lainnya sehubngan dengan Layanan dan akses serta penggunaan Anda atas Layanan.</p> </li>
                            </ul>
                        <strong><li class="theme-color">
                            <p class="termChild1">Dalam hal apapun, keseluruhan tanggung jawab maksimal dari Assist.id berdasarkan atau sehubungan dengan Ketentuan ini atau penggunaan Layanan oleh Anda terbatas pada besar Biaya yang Anda bayarkan dalam kurun waktu 12 bulan terakhir</p>
                        </li></strong>
                        <strong><li class="theme-color">
                            Jaminan dan Pengakuan</li></strong>
                            <ol type="a">
                                <li><p class="termChild">Anda menjamin bahwa, jika Anda mendaftar untuk menggunakan Layanan atas nama orang lain, Anda memiliki wewenang untuk menyetujui Ketentuan-ketentuan ini atas nama orang tersebut,
                                        dan menyetujui bahwa dengan mendaftar untuk memakai Layanan Assist.id, Anda mengikat orang yang Anda atas namakan untuk, atau dengan niat untuk, membuat tindakan atas nama mereka kepada setiap kewajiban
                                        manapun yang Anda telah setujui pada Ketentuan-ketentuan ini, tanpa membatasi kewajiban Anda sendiri kepada ketentuannya.</p></li>
                                <li>Anda mengakui bahwa:
                                    <ol type="i">
                                        <li><p class="termChild">Anda memiliki wewenang untuk menggunakan Layanan dan Website, dan untuk mengakses informasi dan Data yang Anda masukan kedalam Website, termasuk informasi atau Data apapun yang
                                                dimasukan kedalam Website oleh siapapun yang Anda telah beri kewenangan untuk menggunakan Layanan Assist.id.<br>
                                                Anda juga berwenang untuk mengakses informasi dan data yang sudah di proses, yang disediakan untuk Anda melalui penggunaan Anda pada Website dan Layanan
                                                kami (maupun informasi dan Data itu Anda miliki sendiri atau milik orang lain).</p> </li>
                                        <li><p class="termChild">Assist.id tidak bertanggung jawab kepada siapapun selain Anda, dan tidak ada maksud apapun dalam Perjanjian ini untuk memberi manfaat kepada siapapun selain Anda.
                                                Jika Anda memakai Layanan atau mengakses Website atas nama atau untuk manfaat seseorang selain Anda (maupun organisasi berbadan hukum atau tidak, atau lainnya), Anda menyetujui bahwa:</p>
                                            <ol type="1">
                                                <li><p class="termChild">Anda bertanggung jawab untuk memastikan bahwa Anda memiliki hak untuk melakukannya;</p></li>
                                                <li><p class="termChild">Anda bertanggung jawab atas memberi wewenang kepada siapapun yang Anda berikan akses kepada informasi atau Data, dan Anda menyutujui bahwa Assist.id tidak memiliki
                                                        tanggung jawab untuk menyediakan siapapun akses kepada informasi atau Data tersebut tanpa otorisasi Anda, dan boleh menunjukan permohonan apapun untuk mendapatkan informasi kepada Anda untuk dilayani;</p></li>
                                                <li><p class="termChild">Anda membebaskan Assist.id dari klaim apapun atau kehilangan yang terkait pada: Penolakan Assist.id untuk menyediakan akses pada siapapun kepada informasi atau Data Anda sesuai dengan ketentuan ini; Penyediaan informasi atau Data oleh Assist.id kepada siapapun berdasarkan otorisasi Anda.</p></li>
                                            </ol>
                                        </li>
                                        <li>
                                            <p class="termChild">Penyediaan, akses kepada, dan pemakaian Layanan Assist.id tersedia sebagaimana adanya dan pada resiko Anda sendiri.</p>
                                        </li>
                                        <li>
                                            <p class="termChild">Assist.id tidak menjamin bahwa penggunaan Layanan tidak akan pernah terganggu atau bebas dari kesalahan. Di antara lain, operasi dan ketersediaan sistem yang digunakan untuk mengakses Layanan, termasuk layanan  jaringan komputer dan internet, bisa susah diprediksi dan mungkin bisa dari waktu ke
                                                waktu mengganggu atau mencegah akses kepada Layanan. Assist.id dengan bagaimanapun tidak bertanggung jawab atas gangguan tersebut, atau pencegahan akses kepada penggunaan Layanan.</p>
                                        </li>
                                        <li>
                                            <p class="termChild">Untuk menentukan bahwa Layanan kami memenuhi keperluan bisnis Anda dan bisa digunakan sesuai dengan tujuan adalah tanggung jawab Anda sendiri.</p>
                                        </li>
                                        <li>
                                            <p class="termChild">Anda tetap memiliki tanggung jawab untuk mematuhi semua undang-undang yang berlaku. Menjadi tanggung jawab Anda untuk memeriksa bahwa penyimpanan dan akses kepada Data Anda melalui Layanan dan Website tetap mematuhi undang-undang yang berlaku kepada Anda (termasuk undang-undang apapun yang membutuhkan Anda untuk menyimpan arsip).</p>
                                        </li>
                                    </ol>
                                </li>
                                <li>
                                    <p class="termChild">Assist.id tidak memberi jaminan untuk Layanan-nya. Tanpa mengabaikan ketentuan di atas, Assist.id tidak menjamin bahwa Layanan kami akan memenuhi keperluan Anda, atau bahwa akan sesuai untuk tujuan yang Anda niatkan. Untuk menghindari keraguan, semua ketentuan atau jaminan yang bisa diartikan dikecualikan sejauh yang diizinkan oleh hukum, termasuk (tanpa batasan) jaminan penjualan, kesesuaian untuk tujuan, dan tanpa pelanggaran.</p>
                                </li>
                                <li>
                                    <p class="termChild">Anda menjamin dan menunjukkan bahwa Anda sedang memperoleh hak untuk mengakses dan menggunakan Layanan untuk tujuan bisnis dan bahwa, sampai batas maksimum yang diizinkan oleh hukum, jaminan konsumen berdasarkan hukum atau undang-undang yang dimaksudkan untuk melindungi konsumen non-bisnis di yurisdiksi manapun tidak berlaku untuk penyediaan Layanan, Website, atau ketentuan ini.</p>
                                </li>
                            </ol>
                        <strong><li class="theme-color">
                            Batasan Kewajiban:</li></strong>
                            <ol type="a">
                                <li><p class="termChild">Sampai batas maksimal yang diizinkan oleh hukum, Assist.id mengecualikan semua kewajiban dan tanggung jawab kepada Anda (atau orang lain manapun) dalam kontrak, gugatan kesalahan (termasuk kelalaian), atau selainya, untuk kehilangan apapun (termasuk kehilangan informasi, Data, keuntungan, dan tabungan) atau kerusakan yang diakibatkan, secara langsung atau tidak langsung, dari penggunaan apapun, atau ketergantungan kepada, Layanan atau Website.</p></li>
                                <li><p class="termChild">Jika Anda mengalami kerugian atau kerusakan apapun karena kelalaian atau kegagalan Assist.id untuk memenuhi ketentuan ini, klaim apapun dari Anda kepada Assist.id yang timbul dari kelalaian atau kegagalan Assist.id akan dibataskan mengenai satu kejadian, atau serangkaian kejadian yang terhubung, kepada Biaya Akses yang sudah Anda lunaskan dalam 12 bulan sebelumnya.</p></li>
                                <li><p class="termChild">Jika Anda tidak puas dengan layanannya, jalur penyelesaian tunggal dan eksklusif Anda adalah untuk menghentikan ketentuan ini sesuai dengan pasal.</p></li>
                            </ol>
                        <strong><li class="theme-color">
                            Pemutusan Kontrak:</li></strong>
                            <ol type="a">
                                <li>
                                    Kebijakan Masa trial<br>
                                    <p class="termChild">Anda diberi kesempatan untuk mengevaluasi Layanan yang diberikan kepada Anda oleh Assist.id sebelum memutuskan untuk mengikat kontrak. Dalam masa ini, Anda diberi batasan waktu dan wajib memberikan keputusan apakah akan mengikat kontrak dengan Assist.id pada waktu yang telah ditentukan. Anda dikenakan biaya jika memutuskan untuk mengikat kontrak sesuai dengan masa penggunaan Layanan dan Jenis Layanan yang akan Anda gunakan.</p>
                                </li>
                                <li><p class="termChild">Assist.id tidak menyediakan pengembalian uang untuk periode prabayar yang tersisa pada langganan Biaya Akses Anda.</p> </li>
                                <li><p class="termChild">Ketentuan ini akan berlaku untuk periode yang dicakup oleh Biaya Akses yang telah atau dapat dibayar pada pasal 3 ayat 1. Pada masa akhir setiap periode penagihan, Ketentuan ini akan berlanjut secara otomatis untuk periode selanjutnya untuk jangka waktu yang sama, asalkan Anda terus membayar Biaya Akses yang sudah ditentukan saat jatuh tempo, kecuali salah satu pihak mengakhiri Ketentuan ini dengan pemberitahuan kepada pihak lainnya setidaknya <u>30 hari</u> sebelum akhir periode pembayaran yang bersangkutan.</p> </li>
                                <li>
                                    Pelanggaran
                                    <ol type="i">
                                        <li><p class="termChild">Jika Anda melanggar apapun dari Ketentuan ini (termasuk, tapi tidak terbatas dengan, tidak membayar Biaya Akses apapun) dan tidak menyelesaikan masalah pelanggaran dalam 14 hari setelah menerima pemberitahuan pelanggaran tersebut jika permasalahan pelanggaran tersebut bisa diselesaikan;</p> </li>
                                        <li><p class="termChild">Jika Anda melanggar apapun dari Ketentuan ini dan pelanggaran itu tidak bisa diselesaikan (termasuk, tapi tidak terbatas dengan) pelanggaran apapun mengenai pasal 3 ayat 4 atau kegagalan untuk membayar Biaya Akses yang sudah melewati tanggal jatuh tempo lebih dari 30 hari;</p> </li>
                                        <li>
                                            <p class="termChild">Jika Anda atau bisnis Anda bangkrut, atau sedang melewati proses untuk mengakhiri keberadaan organisasi, Assist.id bisa mengambil salah satu atau semua tindakan berikut:</p>
                                            <ol type="1">
                                                <li><p class="termChild">Mengakhiri Perjanjian ini dan penggunaan Anda untuk Layanan dan Website kami;</p> </li>
                                                <li><p class="termChild">Menunda akses Anda kepada Layanan dan Website Assist.id untuk periode yang tidak menentu;</p> </li>
                                                <li><p class="termChild">Menunda akses atau mengakhiri akses kepada semua Data atau Data apapun;</p> </li>
                                            </ol>
                                        </li>
                                        <li><p class="termChild">Pemutusan Ketentuan ini tidak mengurangi hak dan kewajiban para pihak yang masih harus dibayar sampai dengan tanggal terminasi. Pada pengakhiran Perjanjian ini Anda akan tetap menanggung biaya yang masih harus dibayar dan jumlah yang jatuh tempo untuk pembayaran sebelum atau setelah pengakhiran, dan segera berhenti menggunakan Layanan dan Website kami.</p></li>
                                    </ol>
                                </li>
                            </ol>
                        <strong><li class="theme-color">
                            Kebijakan Penggunaan Yang Dibenarkan</li></strong>
                            <p class="termChild">Assist.id memiliki hak untuk menentukan apakah suatu pengguna memiliki kualifikasi dan dapat diterima untuk menggunakan Layanan. Dalam hal apapun, Assist.id dapat melarang, mencegah, atau membatalkan akses terhadap Layanan pada setiap waktu, kepada pengguna manapun, dengan alasan yang wajar, yang semata-mata bergantung pada kebijakan Assist.id tanpa kewajiban bagi Assist.id untuk mengungkapkan atau menjelaskan kepada pihak manapun.<br>
                                Anda bertanggung jawab sepenuhnya atas penggunaan Layanan dalam cara yang wajar dan setuju untuk tidak meminta pertanggungjawaban dari Assist.id atas segala tuntutan, kerugian, dan/atau kehilangan sehubungan dengan penggunaan Layanan. Tanpa Batasan, Anda setuju bahwa Anda tidak akan mengaitkan Layanan dengan aktivitas apapun yang mungkin dianggap, termasuk namun tidak terbatas, sebagai:</p>
                            <ul type="disc">
                                <li><p class="termChild">Menyalahi atau melanggar hak kekayaan intelektual pihak lain;</p></li>
                                <li><p class="termChild">Melanggar hak publikasi atau hak privasi orang lain;</p></li>
                                <li><p class="termChild">Ilegal atau mendorong atau sehubungan dengan, baik secara langsung maupun tidak langsung, tindakan ilegal apapun;</p></li>
                                <li><p class="termChild">Mengandung virus perangkat lunak atau kode, file, atau program computer lain apapun yang dirancang untuk menginterupsi, menghancurkan, memanipulasi, merusak, atau membatasi fungsi atas suatu perangkat lunak atau perangkat keras komputer apapun atau peralatan telekomunikasi;</p></li>
                                <li><p class="termChild">Menjual penggunaan, akses, atau mereproduksi Layanan kepada pihak ketiga manapun; dan/atau</p></li>
                                <li><p class="termChild">Suatu penipuan, memperdaya, atau menyesatkan dengan cara apapun.</p></li>
                            </ul>
                            <p class="termChild">Dengan adanya indikasi atas pelanggaran terhadap kebijakan penggunaan yang dibenarkan, Assist.id memiliki hak untuk mengakhiri penyediaan Layanan dan melakukan pembatalan akun, tanpa kewajiban apapun untuk mengembalikan, mengganti, atau membayarkan kembali biaya berlangganan dan/atau untuk bertanggung jawab atas segala ganti rugi dalam bentuk apapun, atau untuk menerapkan pembatasan atas penggunaan Layanan oleh Anda. Apabila memungkinkan, kami akan berusaha untuk menyediakan pemberitahuan 24 jam sebelumnya dan meminta bahwa penggunaan Anda dikurangi sebelum menerapkan pembatasan apapun. Terlepas dari hal tersebut, Assist.id memilik hak untuk membuat laporan apapun kepada institusi pemerintah yang berwenang dan institusi penegak hukum sehubungan dengan adanya indikasi pelanggaran, sebagaimana relevan.</p>
                        <strong><li class="theme-color">
                            Ketentuan Umum Lainnya</li></strong>
                            <ol type="a">
                                <li><p class="termChild">Syarat dan Ketentuan ini, bersama dengan Kebijakan Privasi Assist.id dan ketentuan dari pemberitahuan atau instruksi yang diberikan kepada Anda dibawah Syarat dan Ketentuan ini menggantikan dan menghapus semua perjanjian sebelumnya, representasi (baik lisan maupun tulisan), dan pemahaman, dan merupakan keseluruhan perjanjian antara Anda dan Assist.id yang berhubungan dengan Layanan dan hal lainnya yang dibahas dalam Ketentuan ini.</p></li>
                                <li><p class="termChild">Jika salah satu pihak melepaskan tuntutan dari pelanggaran apapun pada Ketentuan ini, ini tidak akan melepaskan mereka dari tuntutan pelanggaran lainnya. Pelepasan dari tuntuntan tidak efektif kecuali dibuat secara tulisan.</p></li>
                                <li><p class="termChild">Para pihak tidak harus bertanggung jawab atas keterlambatan atau kegagalan dalam untuk menyelesaikan kewajibannya dibawah Ketentuan ini jika keterlambatan atau kegagalannya adalah karena sebab apapun yang di luar kendali. Ayat ini tidak berlaku untuk kewajiban pembayaran uang apapun.</p></li>
                                <li><p class="termChild">Anda tidak dapat mengalihkan atau mentransfer hak kepada orang lain tanpa persetujuan tertulis dari Assist.id.</p></li>
                                <li><p class="termChild">Apabila terjadi perselisihan antara kedua belah pihak, akan coba diselesaikan secara musyawarah terlebih dahulu untuk mencapai mufakat. Apabila dengan cara tersebut tidak tercapai kata sepakat, maka kedua belah pihak sepakat untuk menyelesaikan permasalahan tersebut dilakukan melalui prosedur hukum dengan memilih kedudukan hukum Republik Indonesia di Kantor Pengadilan Negeri Jakarta Pusat.</p></li>
                                <li><p class="termChild">Setiap pemberitahuan yang diberikan berdasarkan Persyaratan ini oleh satu pihak ke yang lain harus dilakukan secara tertulis melalui email dan akan dianggap telah diberikan pada saat transmisi dilakukan. Pemberitahuan kepada Assist.id harus dikirim ke <u>support@Assist.id.id</u> atau ke alamat email lainnya yang diberitahukan kepada Anda oleh Assist.id. Pemberitahuan kepada Anda akan dikirim ke alamat email yang Anda berikan saat membuat akses Anda pada Layanan kami.</p></li>
                                <li><p class="termChild">Subscription adalah pembayaran berulang yang dibayar di muka untuk mengkonsumsi jasa sistem infromasi yang disediakan Assist.id . Setelah subscription telah dibeli, Anda bisa membatalkan setiap saat tanpa biaya tambahan kecuali yang sudah dibayarkan. Pembatalan membutuhkan paling lama <u>31 hari</u> sebelum efektif.</p></li>
                            </ol>
                    </ol></p>
            </div>
            <div class="footer-copy" style="margin-bottom: -50px;">
                <div class="row">
                    <div class="col-12">
                        <p style="color: gray;">PT. Teknologi Media Medika.</p>
                    </div><!-- col -->
                </div> <!-- row -->
            </div> <!-- footer-copy -->
        </div>
    </section>
</main>
<!-- / -->

<!-- Jquery -->
<script src="static/js/jquery-3.2.1.min.js"></script>
<script src="static/js/jquery-migrate-3.0.0.min.js"></script>
<!-- End -->

<!-- Global site tag (gtag.js) - Google Analytics -->

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-87809650-4"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-87809650-4');
</script>

<!--end-->
<!--swal-->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!-- Plugin JS -->
<script src="static/plugin/appear/jquery.appear.js"></script><!--appear-->
<script src="static/plugin/bootstrap/js/popper.min.js"></script><!--popper-->
<script src="static/plugin/bootstrap/js/bootstrap.js"></script><!--bootstrap-->
<!-- End -->

<!-- Custom -->

<script src="static/js/jquery.parallax-scroll.js"></script>
<script src="static/js/custom.js"></script>
<!-- End -->

</body>
<!-- ========== End of Body ========== -->

</html>